<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.DbxxMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Dbxx">
    <id column="DBXXZJ" jdbcType="INTEGER" property="dbxxzj" />
    <result column="ZJ" jdbcType="INTEGER" property="zj" />
    <result column="DBGSZJ" jdbcType="INTEGER" property="dbgszj" />
    <result column="BZXXZJ" jdbcType="INTEGER" property="bzxxzj" />
    <result column="ZYXXZJ" jdbcType="INTEGER" property="zyxxzj" />
    <result column="DYWZJ" jdbcType="INTEGER" property="dywzj" />
    <result column="DYXXZJ" jdbcType="INTEGER" property="dyxxzj" />
    <result column="DBHTBH" jdbcType="VARCHAR" property="dbhtbh" />
    <result column="JKHTBH" jdbcType="VARCHAR" property="jkhtbh" />
    <result column="DKDBLX" jdbcType="VARCHAR" property="dkdblx" />
    <result column="DBJGMC" jdbcType="VARCHAR" property="dbjgmc" />
    <result column="DYWQZH" jdbcType="VARCHAR" property="dywqzh" />
    <result column="DYWFWZL" jdbcType="VARCHAR" property="dywfwzl" />
    <result column="DYQJLRQ" jdbcType="DATE" property="dyqjlrq" />
    <result column="DYQJCRQ" jdbcType="DATE" property="dyqjcrq" />
    <result column="DYWPGJZ" jdbcType="DECIMAL" property="dywpgjz" />
    <result column="BZHTBH" jdbcType="VARCHAR" property="bzhtbh" />
    <result column="BZJGMC" jdbcType="VARCHAR" property="bzjgmc" />
    <result column="DKBZJ" jdbcType="DECIMAL" property="dkbzj" />
    <result column="FHBZJRQ" jdbcType="DATE" property="fhbzjrq" />
    <result column="ZYHTBH" jdbcType="VARCHAR" property="zyhtbh" />
    <result column="ZYWBH" jdbcType="VARCHAR" property="zywbh" />
    <result column="ZYWMC" jdbcType="VARCHAR" property="zywmc" />
    <result column="ZYWJE" jdbcType="DECIMAL" property="zywje" />
    <result column="ZYHTKSRQ" jdbcType="DATE" property="zyhtksrq" />
    <result column="ZYHTJSRQ" jdbcType="DATE" property="zyhtjsrq" />
    <result column="DBZT" jdbcType="VARCHAR" property="dbzt" />
    <result column="DYHTBH" jdbcType="VARCHAR" property="dyhtbh" />
  </resultMap>
  <sql id="Base_Column_List">
    DBXXZJ, ZJ, DBGSZJ, BZXXZJ, ZYXXZJ, DYWZJ, DYXXZJ, DBHTBH, JKHTBH, DKDBLX, DBJGMC, 
    DYWQZH, DYWFWZL, DYQJLRQ, DYQJCRQ, DYWPGJZ, BZHTBH, BZJGMC, DKBZJ, FHBZJRQ, ZYHTBH, 
    ZYWBH, ZYWMC, ZYWJE, ZYHTKSRQ, ZYHTJSRQ, DBZT, DYHTBH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbxx
    where DBXXZJ = #{dbxxzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dbxx
    where DBXXZJ = #{dbxxzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Dbxx">
    insert into dbxx (DBXXZJ, ZJ, DBGSZJ, 
      BZXXZJ, ZYXXZJ, DYWZJ, 
      DYXXZJ, DBHTBH, JKHTBH, 
      DKDBLX, DBJGMC, DYWQZH, 
      DYWFWZL, DYQJLRQ, DYQJCRQ, 
      DYWPGJZ, BZHTBH, BZJGMC, 
      DKBZJ, FHBZJRQ, ZYHTBH, 
      ZYWBH, ZYWMC, ZYWJE, 
      ZYHTKSRQ, ZYHTJSRQ, DBZT, 
      DYHTBH)
    values (#{dbxxzj,jdbcType=INTEGER}, #{zj,jdbcType=INTEGER}, #{dbgszj,jdbcType=INTEGER}, 
      #{bzxxzj,jdbcType=INTEGER}, #{zyxxzj,jdbcType=INTEGER}, #{dywzj,jdbcType=INTEGER}, 
      #{dyxxzj,jdbcType=INTEGER}, #{dbhtbh,jdbcType=VARCHAR}, #{jkhtbh,jdbcType=VARCHAR}, 
      #{dkdblx,jdbcType=VARCHAR}, #{dbjgmc,jdbcType=VARCHAR}, #{dywqzh,jdbcType=VARCHAR}, 
      #{dywfwzl,jdbcType=VARCHAR}, #{dyqjlrq,jdbcType=DATE}, #{dyqjcrq,jdbcType=DATE}, 
      #{dywpgjz,jdbcType=DECIMAL}, #{bzhtbh,jdbcType=VARCHAR}, #{bzjgmc,jdbcType=VARCHAR}, 
      #{dkbzj,jdbcType=DECIMAL}, #{fhbzjrq,jdbcType=DATE}, #{zyhtbh,jdbcType=VARCHAR}, 
      #{zywbh,jdbcType=VARCHAR}, #{zywmc,jdbcType=VARCHAR}, #{zywje,jdbcType=DECIMAL}, 
      #{zyhtksrq,jdbcType=DATE}, #{zyhtjsrq,jdbcType=DATE}, #{dbzt,jdbcType=VARCHAR}, 
      #{dyhtbh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Dbxx">
  <selectKey keyProperty="dbxxzj" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
         </selectKey>
    insert into dbxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbxxzj != null">
        DBXXZJ,
      </if>
      <if test="zj != null">
        ZJ,
      </if>
      <if test="dbgszj != null">
        DBGSZJ,
      </if>
      <if test="bzxxzj != null">
        BZXXZJ,
      </if>
      <if test="zyxxzj != null">
        ZYXXZJ,
      </if>
      <if test="dywzj != null">
        DYWZJ,
      </if>
      <if test="dyxxzj != null">
        DYXXZJ,
      </if>
      <if test="dbhtbh != null">
        DBHTBH,
      </if>
      <if test="jkhtbh != null">
        JKHTBH,
      </if>
      <if test="dkdblx != null">
        DKDBLX,
      </if>
      <if test="dbjgmc != null">
        DBJGMC,
      </if>
      <if test="dywqzh != null">
        DYWQZH,
      </if>
      <if test="dywfwzl != null">
        DYWFWZL,
      </if>
      <if test="dyqjlrq != null">
        DYQJLRQ,
      </if>
      <if test="dyqjcrq != null">
        DYQJCRQ,
      </if>
      <if test="dywpgjz != null">
        DYWPGJZ,
      </if>
      <if test="bzhtbh != null">
        BZHTBH,
      </if>
      <if test="bzjgmc != null">
        BZJGMC,
      </if>
      <if test="dkbzj != null">
        DKBZJ,
      </if>
      <if test="fhbzjrq != null">
        FHBZJRQ,
      </if>
      <if test="zyhtbh != null">
        ZYHTBH,
      </if>
      <if test="zywbh != null">
        ZYWBH,
      </if>
      <if test="zywmc != null">
        ZYWMC,
      </if>
      <if test="zywje != null">
        ZYWJE,
      </if>
      <if test="zyhtksrq != null">
        ZYHTKSRQ,
      </if>
      <if test="zyhtjsrq != null">
        ZYHTJSRQ,
      </if>
      <if test="dbzt != null">
        DBZT,
      </if>
      <if test="dyhtbh != null">
        DYHTBH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbxxzj != null">
        #{dbxxzj,jdbcType=INTEGER},
      </if>
      <if test="zj != null">
        #{zj,jdbcType=INTEGER},
      </if>
      <if test="dbgszj != null">
        #{dbgszj,jdbcType=INTEGER},
      </if>
      <if test="bzxxzj != null">
        #{bzxxzj,jdbcType=INTEGER},
      </if>
      <if test="zyxxzj != null">
        #{zyxxzj,jdbcType=INTEGER},
      </if>
      <if test="dywzj != null">
        #{dywzj,jdbcType=INTEGER},
      </if>
      <if test="dyxxzj != null">
        #{dyxxzj,jdbcType=INTEGER},
      </if>
      <if test="dbhtbh != null">
        #{dbhtbh,jdbcType=VARCHAR},
      </if>
      <if test="jkhtbh != null">
        #{jkhtbh,jdbcType=VARCHAR},
      </if>
      <if test="dkdblx != null">
        #{dkdblx,jdbcType=VARCHAR},
      </if>
      <if test="dbjgmc != null">
        #{dbjgmc,jdbcType=VARCHAR},
      </if>
      <if test="dywqzh != null">
        #{dywqzh,jdbcType=VARCHAR},
      </if>
      <if test="dywfwzl != null">
        #{dywfwzl,jdbcType=VARCHAR},
      </if>
      <if test="dyqjlrq != null">
        #{dyqjlrq,jdbcType=DATE},
      </if>
      <if test="dyqjcrq != null">
        #{dyqjcrq,jdbcType=DATE},
      </if>
      <if test="dywpgjz != null">
        #{dywpgjz,jdbcType=DECIMAL},
      </if>
      <if test="bzhtbh != null">
        #{bzhtbh,jdbcType=VARCHAR},
      </if>
      <if test="bzjgmc != null">
        #{bzjgmc,jdbcType=VARCHAR},
      </if>
      <if test="dkbzj != null">
        #{dkbzj,jdbcType=DECIMAL},
      </if>
      <if test="fhbzjrq != null">
        #{fhbzjrq,jdbcType=DATE},
      </if>
      <if test="zyhtbh != null">
        #{zyhtbh,jdbcType=VARCHAR},
      </if>
      <if test="zywbh != null">
        #{zywbh,jdbcType=VARCHAR},
      </if>
      <if test="zywmc != null">
        #{zywmc,jdbcType=VARCHAR},
      </if>
      <if test="zywje != null">
        #{zywje,jdbcType=DECIMAL},
      </if>
      <if test="zyhtksrq != null">
        #{zyhtksrq,jdbcType=DATE},
      </if>
      <if test="zyhtjsrq != null">
        #{zyhtjsrq,jdbcType=DATE},
      </if>
      <if test="dbzt != null">
        #{dbzt,jdbcType=VARCHAR},
      </if>
      <if test="dyhtbh != null">
        #{dyhtbh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Dbxx">
    update dbxx
    <set>
      <if test="zj != null">
        ZJ = #{zj,jdbcType=INTEGER},
      </if>
      <if test="dbgszj != null">
        DBGSZJ = #{dbgszj,jdbcType=INTEGER},
      </if>
      <if test="bzxxzj != null">
        BZXXZJ = #{bzxxzj,jdbcType=INTEGER},
      </if>
      <if test="zyxxzj != null">
        ZYXXZJ = #{zyxxzj,jdbcType=INTEGER},
      </if>
      <if test="dywzj != null">
        DYWZJ = #{dywzj,jdbcType=INTEGER},
      </if>
      <if test="dyxxzj != null">
        DYXXZJ = #{dyxxzj,jdbcType=INTEGER},
      </if>
      <if test="dbhtbh != null">
        DBHTBH = #{dbhtbh,jdbcType=VARCHAR},
      </if>
      <if test="jkhtbh != null">
        JKHTBH = #{jkhtbh,jdbcType=VARCHAR},
      </if>
      <if test="dkdblx != null">
        DKDBLX = #{dkdblx,jdbcType=VARCHAR},
      </if>
      <if test="dbjgmc != null">
        DBJGMC = #{dbjgmc,jdbcType=VARCHAR},
      </if>
      <if test="dywqzh != null">
        DYWQZH = #{dywqzh,jdbcType=VARCHAR},
      </if>
      <if test="dywfwzl != null">
        DYWFWZL = #{dywfwzl,jdbcType=VARCHAR},
      </if>
      <if test="dyqjlrq != null">
        DYQJLRQ = #{dyqjlrq,jdbcType=DATE},
      </if>
      <if test="dyqjcrq != null">
        DYQJCRQ = #{dyqjcrq,jdbcType=DATE},
      </if>
      <if test="dywpgjz != null">
        DYWPGJZ = #{dywpgjz,jdbcType=DECIMAL},
      </if>
      <if test="bzhtbh != null">
        BZHTBH = #{bzhtbh,jdbcType=VARCHAR},
      </if>
      <if test="bzjgmc != null">
        BZJGMC = #{bzjgmc,jdbcType=VARCHAR},
      </if>
      <if test="dkbzj != null">
        DKBZJ = #{dkbzj,jdbcType=DECIMAL},
      </if>
      <if test="fhbzjrq != null">
        FHBZJRQ = #{fhbzjrq,jdbcType=DATE},
      </if>
      <if test="zyhtbh != null">
        ZYHTBH = #{zyhtbh,jdbcType=VARCHAR},
      </if>
      <if test="zywbh != null">
        ZYWBH = #{zywbh,jdbcType=VARCHAR},
      </if>
      <if test="zywmc != null">
        ZYWMC = #{zywmc,jdbcType=VARCHAR},
      </if>
      <if test="zywje != null">
        ZYWJE = #{zywje,jdbcType=DECIMAL},
      </if>
      <if test="zyhtksrq != null">
        ZYHTKSRQ = #{zyhtksrq,jdbcType=DATE},
      </if>
      <if test="zyhtjsrq != null">
        ZYHTJSRQ = #{zyhtjsrq,jdbcType=DATE},
      </if>
      <if test="dbzt != null">
        DBZT = #{dbzt,jdbcType=VARCHAR},
      </if>
      <if test="dyhtbh != null">
        DYHTBH = #{dyhtbh,jdbcType=VARCHAR},
      </if>
    </set>
    where DBXXZJ = #{dbxxzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Dbxx">
    update dbxx
    set ZJ = #{zj,jdbcType=INTEGER},
      DBGSZJ = #{dbgszj,jdbcType=INTEGER},
      BZXXZJ = #{bzxxzj,jdbcType=INTEGER},
      ZYXXZJ = #{zyxxzj,jdbcType=INTEGER},
      DYWZJ = #{dywzj,jdbcType=INTEGER},
      DYXXZJ = #{dyxxzj,jdbcType=INTEGER},
      DBHTBH = #{dbhtbh,jdbcType=VARCHAR},
      JKHTBH = #{jkhtbh,jdbcType=VARCHAR},
      DKDBLX = #{dkdblx,jdbcType=VARCHAR},
      DBJGMC = #{dbjgmc,jdbcType=VARCHAR},
      DYWQZH = #{dywqzh,jdbcType=VARCHAR},
      DYWFWZL = #{dywfwzl,jdbcType=VARCHAR},
      DYQJLRQ = #{dyqjlrq,jdbcType=DATE},
      DYQJCRQ = #{dyqjcrq,jdbcType=DATE},
      DYWPGJZ = #{dywpgjz,jdbcType=DECIMAL},
      BZHTBH = #{bzhtbh,jdbcType=VARCHAR},
      BZJGMC = #{bzjgmc,jdbcType=VARCHAR},
      DKBZJ = #{dkbzj,jdbcType=DECIMAL},
      FHBZJRQ = #{fhbzjrq,jdbcType=DATE},
      ZYHTBH = #{zyhtbh,jdbcType=VARCHAR},
      ZYWBH = #{zywbh,jdbcType=VARCHAR},
      ZYWMC = #{zywmc,jdbcType=VARCHAR},
      ZYWJE = #{zywje,jdbcType=DECIMAL},
      ZYHTKSRQ = #{zyhtksrq,jdbcType=DATE},
      ZYHTJSRQ = #{zyhtjsrq,jdbcType=DATE},
      DBZT = #{dbzt,jdbcType=VARCHAR},
      DYHTBH = #{dyhtbh,jdbcType=VARCHAR}
    where DBXXZJ = #{dbxxzj,jdbcType=INTEGER}
  </update>
</mapper>