<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.GrdkDaoFFX">
	<select id="showGedk" resultType="double" parameterType="String">
		select COALESCE(sum(dkffe),0) from sy_dk_ydtqsp where spsj between #{date1} and #{date2}
	</select>
	<select id="showGedk1" resultType="int" parameterType="String">
		select count(*) from sy_dk_ydtqsp where spsj between #{date1} and #{date2}
	</select>
</mapper>
