<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.GrzfdkyqdjxxMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Grzfdkyqdjxx">
    <id column="DJXXZJ" jdbcType="INTEGER" property="djxxzj" />
    <result column="DHGLZJ" jdbcType="INTEGER" property="dhglzj" />
    <result column="YWBH" jdbcType="VARCHAR" property="ywbh" />
    <result column="DKZH" jdbcType="VARCHAR" property="dkzh" />
    <result column="YQQC" jdbcType="DECIMAL" property="yqqc" />
    <result column="YQBJ" jdbcType="DECIMAL" property="yqbj" />
    <result column="YQLX" jdbcType="DECIMAL" property="yqlx" />
    <result column="YQFX" jdbcType="DECIMAL" property="yqfx" />
    <result column="SSRQ" jdbcType="DATE" property="ssrq" />
    <result column="HKQC" jdbcType="DECIMAL" property="hkqc" />
    <result column="SSYQBJJE" jdbcType="DECIMAL" property="ssyqbjje" />
    <result column="SSYQLXJE" jdbcType="DECIMAL" property="ssyqlxje" />
    <result column="SSYQFXJE" jdbcType="DECIMAL" property="ssyqfxje" />
    <result column="ZTZ" jdbcType="VARCHAR" property="ztz" />
    <result column="SFETF" jdbcType="VARCHAR" property="sfetf" />
    <result column="DKQS" jdbcType="DECIMAL" property="dkqs" />
    <result column="ZXKKRQ" jdbcType="DATE" property="zxkkrq" />
    <result column="WDBH3" jdbcType="DECIMAL" property="wdbh3" />
    <result column="DJSJ" jdbcType="DATE" property="djsj" />
  </resultMap>
  <sql id="Base_Column_List">
    DJXXZJ, DHGLZJ, YWBH, DKZH, YQQC, YQBJ, YQLX, YQFX, SSRQ, HKQC, SSYQBJJE, SSYQLXJE, 
    SSYQFXJE, ZTZ, SFETF, DKQS, ZXKKRQ, WDBH3, DJSJ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from grzfdkyqdjxx
    where DJXXZJ = #{djxxzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from grzfdkyqdjxx
    where DJXXZJ = #{djxxzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Grzfdkyqdjxx">
    insert into grzfdkyqdjxx (DJXXZJ, DHGLZJ, YWBH, 
      DKZH, YQQC, YQBJ, YQLX, 
      YQFX, SSRQ, HKQC, SSYQBJJE, 
      SSYQLXJE, SSYQFXJE, ZTZ, 
      SFETF, DKQS, ZXKKRQ, WDBH3, 
      DJSJ)
    values (#{djxxzj,jdbcType=INTEGER}, #{dhglzj,jdbcType=INTEGER}, #{ywbh,jdbcType=VARCHAR}, 
      #{dkzh,jdbcType=VARCHAR}, #{yqqc,jdbcType=DECIMAL}, #{yqbj,jdbcType=DECIMAL}, #{yqlx,jdbcType=DECIMAL}, 
      #{yqfx,jdbcType=DECIMAL}, #{ssrq,jdbcType=DATE}, #{hkqc,jdbcType=DECIMAL}, #{ssyqbjje,jdbcType=DECIMAL}, 
      #{ssyqlxje,jdbcType=DECIMAL}, #{ssyqfxje,jdbcType=DECIMAL}, #{ztz,jdbcType=VARCHAR}, 
      #{sfetf,jdbcType=VARCHAR}, #{dkqs,jdbcType=DECIMAL}, #{zxkkrq,jdbcType=DATE}, #{wdbh3,jdbcType=DECIMAL}, 
      #{djsj,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Grzfdkyqdjxx">
    insert into grzfdkyqdjxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="djxxzj != null">
        DJXXZJ,
      </if>
      <if test="dhglzj != null">
        DHGLZJ,
      </if>
      <if test="ywbh != null">
        YWBH,
      </if>
      <if test="dkzh != null">
        DKZH,
      </if>
      <if test="yqqc != null">
        YQQC,
      </if>
      <if test="yqbj != null">
        YQBJ,
      </if>
      <if test="yqlx != null">
        YQLX,
      </if>
      <if test="yqfx != null">
        YQFX,
      </if>
      <if test="ssrq != null">
        SSRQ,
      </if>
      <if test="hkqc != null">
        HKQC,
      </if>
      <if test="ssyqbjje != null">
        SSYQBJJE,
      </if>
      <if test="ssyqlxje != null">
        SSYQLXJE,
      </if>
      <if test="ssyqfxje != null">
        SSYQFXJE,
      </if>
      <if test="ztz != null">
        ZTZ,
      </if>
      <if test="sfetf != null">
        SFETF,
      </if>
      <if test="dkqs != null">
        DKQS,
      </if>
      <if test="zxkkrq != null">
        ZXKKRQ,
      </if>
      <if test="wdbh3 != null">
        WDBH3,
      </if>
      <if test="djsj != null">
        DJSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="djxxzj != null">
        #{djxxzj,jdbcType=INTEGER},
      </if>
      <if test="dhglzj != null">
        #{dhglzj,jdbcType=INTEGER},
      </if>
      <if test="ywbh != null">
        #{ywbh,jdbcType=VARCHAR},
      </if>
      <if test="dkzh != null">
        #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="yqqc != null">
        #{yqqc,jdbcType=DECIMAL},
      </if>
      <if test="yqbj != null">
        #{yqbj,jdbcType=DECIMAL},
      </if>
      <if test="yqlx != null">
        #{yqlx,jdbcType=DECIMAL},
      </if>
      <if test="yqfx != null">
        #{yqfx,jdbcType=DECIMAL},
      </if>
      <if test="ssrq != null">
        #{ssrq,jdbcType=DATE},
      </if>
      <if test="hkqc != null">
        #{hkqc,jdbcType=DECIMAL},
      </if>
      <if test="ssyqbjje != null">
        #{ssyqbjje,jdbcType=DECIMAL},
      </if>
      <if test="ssyqlxje != null">
        #{ssyqlxje,jdbcType=DECIMAL},
      </if>
      <if test="ssyqfxje != null">
        #{ssyqfxje,jdbcType=DECIMAL},
      </if>
      <if test="ztz != null">
        #{ztz,jdbcType=VARCHAR},
      </if>
      <if test="sfetf != null">
        #{sfetf,jdbcType=VARCHAR},
      </if>
      <if test="dkqs != null">
        #{dkqs,jdbcType=DECIMAL},
      </if>
      <if test="zxkkrq != null">
        #{zxkkrq,jdbcType=DATE},
      </if>
      <if test="wdbh3 != null">
        #{wdbh3,jdbcType=DECIMAL},
      </if>
      <if test="djsj != null">
        #{djsj,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Grzfdkyqdjxx">
    update grzfdkyqdjxx
    <set>
      <if test="dhglzj != null">
        DHGLZJ = #{dhglzj,jdbcType=INTEGER},
      </if>
      <if test="ywbh != null">
        YWBH = #{ywbh,jdbcType=VARCHAR},
      </if>
      <if test="dkzh != null">
        DKZH = #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="yqqc != null">
        YQQC = #{yqqc,jdbcType=DECIMAL},
      </if>
      <if test="yqbj != null">
        YQBJ = #{yqbj,jdbcType=DECIMAL},
      </if>
      <if test="yqlx != null">
        YQLX = #{yqlx,jdbcType=DECIMAL},
      </if>
      <if test="yqfx != null">
        YQFX = #{yqfx,jdbcType=DECIMAL},
      </if>
      <if test="ssrq != null">
        SSRQ = #{ssrq,jdbcType=DATE},
      </if>
      <if test="hkqc != null">
        HKQC = #{hkqc,jdbcType=DECIMAL},
      </if>
      <if test="ssyqbjje != null">
        SSYQBJJE = #{ssyqbjje,jdbcType=DECIMAL},
      </if>
      <if test="ssyqlxje != null">
        SSYQLXJE = #{ssyqlxje,jdbcType=DECIMAL},
      </if>
      <if test="ssyqfxje != null">
        SSYQFXJE = #{ssyqfxje,jdbcType=DECIMAL},
      </if>
      <if test="ztz != null">
        ZTZ = #{ztz,jdbcType=VARCHAR},
      </if>
      <if test="sfetf != null">
        SFETF = #{sfetf,jdbcType=VARCHAR},
      </if>
      <if test="dkqs != null">
        DKQS = #{dkqs,jdbcType=DECIMAL},
      </if>
      <if test="zxkkrq != null">
        ZXKKRQ = #{zxkkrq,jdbcType=DATE},
      </if>
      <if test="wdbh3 != null">
        WDBH3 = #{wdbh3,jdbcType=DECIMAL},
      </if>
      <if test="djsj != null">
        DJSJ = #{djsj,jdbcType=DATE},
      </if>
    </set>
    where DJXXZJ = #{djxxzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Grzfdkyqdjxx">
    update grzfdkyqdjxx
    set DHGLZJ = #{dhglzj,jdbcType=INTEGER},
      YWBH = #{ywbh,jdbcType=VARCHAR},
      DKZH = #{dkzh,jdbcType=VARCHAR},
      YQQC = #{yqqc,jdbcType=DECIMAL},
      YQBJ = #{yqbj,jdbcType=DECIMAL},
      YQLX = #{yqlx,jdbcType=DECIMAL},
      YQFX = #{yqfx,jdbcType=DECIMAL},
      SSRQ = #{ssrq,jdbcType=DATE},
      HKQC = #{hkqc,jdbcType=DECIMAL},
      SSYQBJJE = #{ssyqbjje,jdbcType=DECIMAL},
      SSYQLXJE = #{ssyqlxje,jdbcType=DECIMAL},
      SSYQFXJE = #{ssyqfxje,jdbcType=DECIMAL},
      ZTZ = #{ztz,jdbcType=VARCHAR},
      SFETF = #{sfetf,jdbcType=VARCHAR},
      DKQS = #{dkqs,jdbcType=DECIMAL},
      ZXKKRQ = #{zxkkrq,jdbcType=DATE},
      WDBH3 = #{wdbh3,jdbcType=DECIMAL},
      DJSJ = #{djsj,jdbcType=DATE}
    where DJXXZJ = #{djxxzj,jdbcType=INTEGER}
  </update>
</mapper>