<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.GrzfdkjkhtxxMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Grzfdkjkhtxx">
    <id column="HTZJ" jdbcType="INTEGER" property="htzj" />
    <result column="LLZJ" jdbcType="INTEGER" property="llzj" />
    <result column="FZBH" jdbcType="INTEGER" property="fzbh" />
    <result column="KFSZJ" jdbcType="INTEGER" property="kfszj" />
    <result column="GTJKRZJ" jdbcType="INTEGER" property="gtjkrzj" />
    <result column="POBH" jdbcType="INTEGER" property="pobh" />
    <result column="DKZHBH" jdbcType="INTEGER" property="dkzhbh" />
    <result column="STYHZJ" jdbcType="INTEGER" property="styhzj" />
    <result column="ZJ" jdbcType="INTEGER" property="zj" />
    <result column="DBHTXXZJ" jdbcType="INTEGER" property="dbhtxxzj" />
    <result column="DKZJ" jdbcType="INTEGER" property="dkzj" />
    <result column="GRBH" jdbcType="INTEGER" property="grbh" />
    <result column="JKHTBH" jdbcType="VARCHAR" property="jkhtbh" />
    <result column="GFHTBH" jdbcType="VARCHAR" property="gfhtbh" />
    <result column="DKZH" jdbcType="VARCHAR" property="dkzh" />
    <result column="SWTYHMC" jdbcType="VARCHAR" property="swtyhmc" />
    <result column="SWTYHDM" jdbcType="VARCHAR" property="swtyhdm" />
    <result column="DKDBLX" jdbcType="VARCHAR" property="dkdblx" />
    <result column="YDFKRQ" jdbcType="DATE" property="ydfkrq" />
    <result column="YDDQRQ" jdbcType="DATE" property="yddqrq" />
    <result column="DKHKFS" jdbcType="VARCHAR" property="dkhkfs" />
    <result column="HKCXZH" jdbcType="VARCHAR" property="hkcxzh" />
    <result column="CXZHKHYHMC2" jdbcType="VARCHAR" property="cxzhkhyhmc2" />
    <result column="CXZHKHYHDM" jdbcType="VARCHAR" property="cxzhkhyhdm" />
    <result column="HTDKJE" jdbcType="DECIMAL" property="htdkje" />
    <result column="DKLX" jdbcType="VARCHAR" property="dklx" />
    <result column="DKQS" jdbcType="DECIMAL" property="dkqs" />
    <result column="FWZL" jdbcType="VARCHAR" property="fwzl" />
    <result column="FWJZMJ" jdbcType="DECIMAL" property="fwjzmj" />
    <result column="FWJZMJDJ" jdbcType="DECIMAL" property="fwjzmjdj" />
    <result column="FWTNMJ" jdbcType="DECIMAL" property="fwtnmj" />
    <result column="FWTNMJDJ" jdbcType="DECIMAL" property="fwtnmjdj" />
    <result column="FWXZ" jdbcType="VARCHAR" property="fwxz" />
    <result column="FWZJ" jdbcType="DECIMAL" property="fwzj" />
    <result column="JKHTLL" jdbcType="DECIMAL" property="jkhtll" />
    <result column="LLFDBL" jdbcType="DECIMAL" property="llfdbl" />
    <result column="GFSFK" jdbcType="DECIMAL" property="gfsfk" />
    <result column="SFRMC" jdbcType="VARCHAR" property="sfrmc" />
    <result column="SFRYHZH" jdbcType="VARCHAR" property="sfryhzh" />
    <result column="SFRKHYHDM" jdbcType="VARCHAR" property="sfrkhyhdm" />
    <result column="SFRKHYHMC" jdbcType="VARCHAR" property="sfrkhyhmc" />
    <result column="JKHTQDRQ" jdbcType="DATE" property="jkhtqdrq" />
    <result column="YDHKR" jdbcType="DECIMAL" property="ydhkr" />
    <result column="JKRGJJZH" jdbcType="VARCHAR" property="jkrgjjzh" />
    <result column="JKRXM" jdbcType="VARCHAR" property="jkrxm" />
    <result column="FWLX" jdbcType="VARCHAR" property="fwlx" />
    <result column="ETF" jdbcType="VARCHAR" property="etf" />
    <result column="JHJZFY" jdbcType="DECIMAL" property="jhjzfy" />
    <result column="XJBW" jdbcType="VARCHAR" property="xjbw" />
    <result column="CJR3" jdbcType="VARCHAR" property="cjr3" />
    <result column="CJSJ3" jdbcType="DATE" property="cjsj3" />
    <result column="SFDWBH" jdbcType="VARCHAR" property="sfdwbh" />
    <result column="SFDWMC" jdbcType="VARCHAR" property="sfdwmc" />
    <result column="SFDWDH" jdbcType="VARCHAR" property="sfdwdh" />
    <result column="SFDWDZ" jdbcType="VARCHAR" property="sfdwdz" />
    <result column="SJHMDR2" jdbcType="VARCHAR" property="sjhmdr2" />
    <result column="JKRZJLX" jdbcType="VARCHAR" property="jkrzjlx" />
    <result column="JKRZJH" jdbcType="VARCHAR" property="jkrzjh" />
    <result column="JKRYSR" jdbcType="DECIMAL" property="jkrysr" />
    <result column="JTCYSR" jdbcType="DECIMAL" property="jtcysr" />
    <result column="JTSRHJ" jdbcType="DECIMAL" property="jtsrhj" />
    <result column="JKRYHCK" jdbcType="DECIMAL" property="jkryhck" />
    <result column="JKRYHJK" jdbcType="DECIMAL" property="jkryhjk" />
    <result column="JKRQTFZ" jdbcType="DECIMAL" property="jkrqtfz" />
    <result column="JKRHYZK" jdbcType="VARCHAR" property="jkrhyzk" />
    <result column="LPBAH" jdbcType="VARCHAR" property="lpbah" />
    <result column="CKRBH" jdbcType="VARCHAR" property="ckrbh" />
    <result column="GFRXM" jdbcType="VARCHAR" property="gfrxm" />
    <result column="GFRSFZH" jdbcType="VARCHAR" property="gfrsfzh" />
    <result column="HKZHMC" jdbcType="VARCHAR" property="hkzhmc" />
    <result column="SKZHLB" jdbcType="VARCHAR" property="skzhlb" />
    <result column="SFXZ" jdbcType="VARCHAR" property="sfxz" />
  </resultMap>
  <sql id="Base_Column_List">
    HTZJ, LLZJ, FZBH, KFSZJ, GTJKRZJ, POBH, DKZHBH, STYHZJ, ZJ, DBHTXXZJ, DKZJ, GRBH, 
    JKHTBH, GFHTBH, DKZH, SWTYHMC, SWTYHDM, DKDBLX, YDFKRQ, YDDQRQ, DKHKFS, HKCXZH, CXZHKHYHMC2, 
    CXZHKHYHDM, HTDKJE, DKLX, DKQS, FWZL, FWJZMJ, FWJZMJDJ, FWTNMJ, FWTNMJDJ, FWXZ, FWZJ, 
    JKHTLL, LLFDBL, GFSFK, SFRMC, SFRYHZH, SFRKHYHDM, SFRKHYHMC, JKHTQDRQ, YDHKR, JKRGJJZH, 
    JKRXM, FWLX, ETF, JHJZFY, XJBW, CJR3, CJSJ3, SFDWBH, SFDWMC, SFDWDH, SFDWDZ, SJHMDR2, 
    JKRZJLX, JKRZJH, JKRYSR, JTCYSR, JTSRHJ, JKRYHCK, JKRYHJK, JKRQTFZ, JKRHYZK, LPBAH, 
    CKRBH, GFRXM, GFRSFZH, HKZHMC, SKZHLB, SFXZ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from grzfdkjkhtxx
    where HTZJ = #{htzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from grzfdkjkhtxx
    where HTZJ = #{htzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Grzfdkjkhtxx">
    insert into grzfdkjkhtxx (HTZJ, LLZJ, FZBH, 
      KFSZJ, GTJKRZJ, POBH, 
      DKZHBH, STYHZJ, ZJ, 
      DBHTXXZJ, DKZJ, GRBH, 
      JKHTBH, GFHTBH, DKZH, 
      SWTYHMC, SWTYHDM, DKDBLX, 
      YDFKRQ, YDDQRQ, DKHKFS, HKCXZH, 
      CXZHKHYHMC2, CXZHKHYHDM, HTDKJE, 
      DKLX, DKQS, FWZL, FWJZMJ, 
      FWJZMJDJ, FWTNMJ, FWTNMJDJ, 
      FWXZ, FWZJ, JKHTLL, 
      LLFDBL, GFSFK, SFRMC, 
      SFRYHZH, SFRKHYHDM, SFRKHYHMC, 
      JKHTQDRQ, YDHKR, JKRGJJZH, 
      JKRXM, FWLX, ETF, JHJZFY, 
      XJBW, CJR3, CJSJ3, SFDWBH, 
      SFDWMC, SFDWDH, SFDWDZ, 
      SJHMDR2, JKRZJLX, JKRZJH, 
      JKRYSR, JTCYSR, JTSRHJ, 
      JKRYHCK, JKRYHJK, JKRQTFZ, 
      JKRHYZK, LPBAH, CKRBH, 
      GFRXM, GFRSFZH, HKZHMC, 
      SKZHLB, SFXZ)
    values (#{htzj,jdbcType=INTEGER}, #{llzj,jdbcType=INTEGER}, #{fzbh,jdbcType=INTEGER}, 
      #{kfszj,jdbcType=INTEGER}, #{gtjkrzj,jdbcType=INTEGER}, #{pobh,jdbcType=INTEGER}, 
      #{dkzhbh,jdbcType=INTEGER}, #{styhzj,jdbcType=INTEGER}, #{zj,jdbcType=INTEGER}, 
      #{dbhtxxzj,jdbcType=INTEGER}, #{dkzj,jdbcType=INTEGER}, #{grbh,jdbcType=INTEGER}, 
      #{jkhtbh,jdbcType=VARCHAR}, #{gfhtbh,jdbcType=VARCHAR}, #{dkzh,jdbcType=VARCHAR}, 
      #{swtyhmc,jdbcType=VARCHAR}, #{swtyhdm,jdbcType=VARCHAR}, #{dkdblx,jdbcType=VARCHAR}, 
      #{ydfkrq,jdbcType=DATE}, #{yddqrq,jdbcType=DATE}, #{dkhkfs,jdbcType=VARCHAR}, #{hkcxzh,jdbcType=VARCHAR}, 
      #{cxzhkhyhmc2,jdbcType=VARCHAR}, #{cxzhkhyhdm,jdbcType=VARCHAR}, #{htdkje,jdbcType=DECIMAL}, 
      #{dklx,jdbcType=VARCHAR}, #{dkqs,jdbcType=DECIMAL}, #{fwzl,jdbcType=VARCHAR}, #{fwjzmj,jdbcType=DECIMAL}, 
      #{fwjzmjdj,jdbcType=DECIMAL}, #{fwtnmj,jdbcType=DECIMAL}, #{fwtnmjdj,jdbcType=DECIMAL}, 
      #{fwxz,jdbcType=VARCHAR}, #{fwzj,jdbcType=DECIMAL}, #{jkhtll,jdbcType=DECIMAL}, 
      #{llfdbl,jdbcType=DECIMAL}, #{gfsfk,jdbcType=DECIMAL}, #{sfrmc,jdbcType=VARCHAR}, 
      #{sfryhzh,jdbcType=VARCHAR}, #{sfrkhyhdm,jdbcType=VARCHAR}, #{sfrkhyhmc,jdbcType=VARCHAR}, 
      #{jkhtqdrq,jdbcType=DATE}, #{ydhkr,jdbcType=DECIMAL}, #{jkrgjjzh,jdbcType=VARCHAR}, 
      #{jkrxm,jdbcType=VARCHAR}, #{fwlx,jdbcType=VARCHAR}, #{etf,jdbcType=VARCHAR}, #{jhjzfy,jdbcType=DECIMAL}, 
      #{xjbw,jdbcType=VARCHAR}, #{cjr3,jdbcType=VARCHAR}, #{cjsj3,jdbcType=DATE}, #{sfdwbh,jdbcType=VARCHAR}, 
      #{sfdwmc,jdbcType=VARCHAR}, #{sfdwdh,jdbcType=VARCHAR}, #{sfdwdz,jdbcType=VARCHAR}, 
      #{sjhmdr2,jdbcType=VARCHAR}, #{jkrzjlx,jdbcType=VARCHAR}, #{jkrzjh,jdbcType=VARCHAR}, 
      #{jkrysr,jdbcType=DECIMAL}, #{jtcysr,jdbcType=DECIMAL}, #{jtsrhj,jdbcType=DECIMAL}, 
      #{jkryhck,jdbcType=DECIMAL}, #{jkryhjk,jdbcType=DECIMAL}, #{jkrqtfz,jdbcType=DECIMAL}, 
      #{jkrhyzk,jdbcType=VARCHAR}, #{lpbah,jdbcType=VARCHAR}, #{ckrbh,jdbcType=VARCHAR}, 
      #{gfrxm,jdbcType=VARCHAR}, #{gfrsfzh,jdbcType=VARCHAR}, #{hkzhmc,jdbcType=VARCHAR}, 
      #{skzhlb,jdbcType=VARCHAR}, #{sfxz,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Grzfdkjkhtxx">
    insert into grzfdkjkhtxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="htzj != null">
        HTZJ,
      </if>
      <if test="llzj != null">
        LLZJ,
      </if>
      <if test="fzbh != null">
        FZBH,
      </if>
      <if test="kfszj != null">
        KFSZJ,
      </if>
      <if test="gtjkrzj != null">
        GTJKRZJ,
      </if>
      <if test="pobh != null">
        POBH,
      </if>
      <if test="dkzhbh != null">
        DKZHBH,
      </if>
      <if test="styhzj != null">
        STYHZJ,
      </if>
      <if test="zj != null">
        ZJ,
      </if>
      <if test="dbhtxxzj != null">
        DBHTXXZJ,
      </if>
      <if test="dkzj != null">
        DKZJ,
      </if>
      <if test="grbh != null">
        GRBH,
      </if>
      <if test="jkhtbh != null">
        JKHTBH,
      </if>
      <if test="gfhtbh != null">
        GFHTBH,
      </if>
      <if test="dkzh != null">
        DKZH,
      </if>
      <if test="swtyhmc != null">
        SWTYHMC,
      </if>
      <if test="swtyhdm != null">
        SWTYHDM,
      </if>
      <if test="dkdblx != null">
        DKDBLX,
      </if>
      <if test="ydfkrq != null">
        YDFKRQ,
      </if>
      <if test="yddqrq != null">
        YDDQRQ,
      </if>
      <if test="dkhkfs != null">
        DKHKFS,
      </if>
      <if test="hkcxzh != null">
        HKCXZH,
      </if>
      <if test="cxzhkhyhmc2 != null">
        CXZHKHYHMC2,
      </if>
      <if test="cxzhkhyhdm != null">
        CXZHKHYHDM,
      </if>
      <if test="htdkje != null">
        HTDKJE,
      </if>
      <if test="dklx != null">
        DKLX,
      </if>
      <if test="dkqs != null">
        DKQS,
      </if>
      <if test="fwzl != null">
        FWZL,
      </if>
      <if test="fwjzmj != null">
        FWJZMJ,
      </if>
      <if test="fwjzmjdj != null">
        FWJZMJDJ,
      </if>
      <if test="fwtnmj != null">
        FWTNMJ,
      </if>
      <if test="fwtnmjdj != null">
        FWTNMJDJ,
      </if>
      <if test="fwxz != null">
        FWXZ,
      </if>
      <if test="fwzj != null">
        FWZJ,
      </if>
      <if test="jkhtll != null">
        JKHTLL,
      </if>
      <if test="llfdbl != null">
        LLFDBL,
      </if>
      <if test="gfsfk != null">
        GFSFK,
      </if>
      <if test="sfrmc != null">
        SFRMC,
      </if>
      <if test="sfryhzh != null">
        SFRYHZH,
      </if>
      <if test="sfrkhyhdm != null">
        SFRKHYHDM,
      </if>
      <if test="sfrkhyhmc != null">
        SFRKHYHMC,
      </if>
      <if test="jkhtqdrq != null">
        JKHTQDRQ,
      </if>
      <if test="ydhkr != null">
        YDHKR,
      </if>
      <if test="jkrgjjzh != null">
        JKRGJJZH,
      </if>
      <if test="jkrxm != null">
        JKRXM,
      </if>
      <if test="fwlx != null">
        FWLX,
      </if>
      <if test="etf != null">
        ETF,
      </if>
      <if test="jhjzfy != null">
        JHJZFY,
      </if>
      <if test="xjbw != null">
        XJBW,
      </if>
      <if test="cjr3 != null">
        CJR3,
      </if>
      <if test="cjsj3 != null">
        CJSJ3,
      </if>
      <if test="sfdwbh != null">
        SFDWBH,
      </if>
      <if test="sfdwmc != null">
        SFDWMC,
      </if>
      <if test="sfdwdh != null">
        SFDWDH,
      </if>
      <if test="sfdwdz != null">
        SFDWDZ,
      </if>
      <if test="sjhmdr2 != null">
        SJHMDR2,
      </if>
      <if test="jkrzjlx != null">
        JKRZJLX,
      </if>
      <if test="jkrzjh != null">
        JKRZJH,
      </if>
      <if test="jkrysr != null">
        JKRYSR,
      </if>
      <if test="jtcysr != null">
        JTCYSR,
      </if>
      <if test="jtsrhj != null">
        JTSRHJ,
      </if>
      <if test="jkryhck != null">
        JKRYHCK,
      </if>
      <if test="jkryhjk != null">
        JKRYHJK,
      </if>
      <if test="jkrqtfz != null">
        JKRQTFZ,
      </if>
      <if test="jkrhyzk != null">
        JKRHYZK,
      </if>
      <if test="lpbah != null">
        LPBAH,
      </if>
      <if test="ckrbh != null">
        CKRBH,
      </if>
      <if test="gfrxm != null">
        GFRXM,
      </if>
      <if test="gfrsfzh != null">
        GFRSFZH,
      </if>
      <if test="hkzhmc != null">
        HKZHMC,
      </if>
      <if test="skzhlb != null">
        SKZHLB,
      </if>
      <if test="sfxz != null">
        SFXZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="htzj != null">
        #{htzj,jdbcType=INTEGER},
      </if>
      <if test="llzj != null">
        #{llzj,jdbcType=INTEGER},
      </if>
      <if test="fzbh != null">
        #{fzbh,jdbcType=INTEGER},
      </if>
      <if test="kfszj != null">
        #{kfszj,jdbcType=INTEGER},
      </if>
      <if test="gtjkrzj != null">
        #{gtjkrzj,jdbcType=INTEGER},
      </if>
      <if test="pobh != null">
        #{pobh,jdbcType=INTEGER},
      </if>
      <if test="dkzhbh != null">
        #{dkzhbh,jdbcType=INTEGER},
      </if>
      <if test="styhzj != null">
        #{styhzj,jdbcType=INTEGER},
      </if>
      <if test="zj != null">
        #{zj,jdbcType=INTEGER},
      </if>
      <if test="dbhtxxzj != null">
        #{dbhtxxzj,jdbcType=INTEGER},
      </if>
      <if test="dkzj != null">
        #{dkzj,jdbcType=INTEGER},
      </if>
      <if test="grbh != null">
        #{grbh,jdbcType=INTEGER},
      </if>
      <if test="jkhtbh != null">
        #{jkhtbh,jdbcType=VARCHAR},
      </if>
      <if test="gfhtbh != null">
        #{gfhtbh,jdbcType=VARCHAR},
      </if>
      <if test="dkzh != null">
        #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="swtyhmc != null">
        #{swtyhmc,jdbcType=VARCHAR},
      </if>
      <if test="swtyhdm != null">
        #{swtyhdm,jdbcType=VARCHAR},
      </if>
      <if test="dkdblx != null">
        #{dkdblx,jdbcType=VARCHAR},
      </if>
      <if test="ydfkrq != null">
        #{ydfkrq,jdbcType=DATE},
      </if>
      <if test="yddqrq != null">
        #{yddqrq,jdbcType=DATE},
      </if>
      <if test="dkhkfs != null">
        #{dkhkfs,jdbcType=VARCHAR},
      </if>
      <if test="hkcxzh != null">
        #{hkcxzh,jdbcType=VARCHAR},
      </if>
      <if test="cxzhkhyhmc2 != null">
        #{cxzhkhyhmc2,jdbcType=VARCHAR},
      </if>
      <if test="cxzhkhyhdm != null">
        #{cxzhkhyhdm,jdbcType=VARCHAR},
      </if>
      <if test="htdkje != null">
        #{htdkje,jdbcType=DECIMAL},
      </if>
      <if test="dklx != null">
        #{dklx,jdbcType=VARCHAR},
      </if>
      <if test="dkqs != null">
        #{dkqs,jdbcType=DECIMAL},
      </if>
      <if test="fwzl != null">
        #{fwzl,jdbcType=VARCHAR},
      </if>
      <if test="fwjzmj != null">
        #{fwjzmj,jdbcType=DECIMAL},
      </if>
      <if test="fwjzmjdj != null">
        #{fwjzmjdj,jdbcType=DECIMAL},
      </if>
      <if test="fwtnmj != null">
        #{fwtnmj,jdbcType=DECIMAL},
      </if>
      <if test="fwtnmjdj != null">
        #{fwtnmjdj,jdbcType=DECIMAL},
      </if>
      <if test="fwxz != null">
        #{fwxz,jdbcType=VARCHAR},
      </if>
      <if test="fwzj != null">
        #{fwzj,jdbcType=DECIMAL},
      </if>
      <if test="jkhtll != null">
        #{jkhtll,jdbcType=DECIMAL},
      </if>
      <if test="llfdbl != null">
        #{llfdbl,jdbcType=DECIMAL},
      </if>
      <if test="gfsfk != null">
        #{gfsfk,jdbcType=DECIMAL},
      </if>
      <if test="sfrmc != null">
        #{sfrmc,jdbcType=VARCHAR},
      </if>
      <if test="sfryhzh != null">
        #{sfryhzh,jdbcType=VARCHAR},
      </if>
      <if test="sfrkhyhdm != null">
        #{sfrkhyhdm,jdbcType=VARCHAR},
      </if>
      <if test="sfrkhyhmc != null">
        #{sfrkhyhmc,jdbcType=VARCHAR},
      </if>
      <if test="jkhtqdrq != null">
        #{jkhtqdrq,jdbcType=DATE},
      </if>
      <if test="ydhkr != null">
        #{ydhkr,jdbcType=DECIMAL},
      </if>
      <if test="jkrgjjzh != null">
        #{jkrgjjzh,jdbcType=VARCHAR},
      </if>
      <if test="jkrxm != null">
        #{jkrxm,jdbcType=VARCHAR},
      </if>
      <if test="fwlx != null">
        #{fwlx,jdbcType=VARCHAR},
      </if>
      <if test="etf != null">
        #{etf,jdbcType=VARCHAR},
      </if>
      <if test="jhjzfy != null">
        #{jhjzfy,jdbcType=DECIMAL},
      </if>
      <if test="xjbw != null">
        #{xjbw,jdbcType=VARCHAR},
      </if>
      <if test="cjr3 != null">
        #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        #{cjsj3,jdbcType=DATE},
      </if>
      <if test="sfdwbh != null">
        #{sfdwbh,jdbcType=VARCHAR},
      </if>
      <if test="sfdwmc != null">
        #{sfdwmc,jdbcType=VARCHAR},
      </if>
      <if test="sfdwdh != null">
        #{sfdwdh,jdbcType=VARCHAR},
      </if>
      <if test="sfdwdz != null">
        #{sfdwdz,jdbcType=VARCHAR},
      </if>
      <if test="sjhmdr2 != null">
        #{sjhmdr2,jdbcType=VARCHAR},
      </if>
      <if test="jkrzjlx != null">
        #{jkrzjlx,jdbcType=VARCHAR},
      </if>
      <if test="jkrzjh != null">
        #{jkrzjh,jdbcType=VARCHAR},
      </if>
      <if test="jkrysr != null">
        #{jkrysr,jdbcType=DECIMAL},
      </if>
      <if test="jtcysr != null">
        #{jtcysr,jdbcType=DECIMAL},
      </if>
      <if test="jtsrhj != null">
        #{jtsrhj,jdbcType=DECIMAL},
      </if>
      <if test="jkryhck != null">
        #{jkryhck,jdbcType=DECIMAL},
      </if>
      <if test="jkryhjk != null">
        #{jkryhjk,jdbcType=DECIMAL},
      </if>
      <if test="jkrqtfz != null">
        #{jkrqtfz,jdbcType=DECIMAL},
      </if>
      <if test="jkrhyzk != null">
        #{jkrhyzk,jdbcType=VARCHAR},
      </if>
      <if test="lpbah != null">
        #{lpbah,jdbcType=VARCHAR},
      </if>
      <if test="ckrbh != null">
        #{ckrbh,jdbcType=VARCHAR},
      </if>
      <if test="gfrxm != null">
        #{gfrxm,jdbcType=VARCHAR},
      </if>
      <if test="gfrsfzh != null">
        #{gfrsfzh,jdbcType=VARCHAR},
      </if>
      <if test="hkzhmc != null">
        #{hkzhmc,jdbcType=VARCHAR},
      </if>
      <if test="skzhlb != null">
        #{skzhlb,jdbcType=VARCHAR},
      </if>
      <if test="sfxz != null">
        #{sfxz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Grzfdkjkhtxx">
    update grzfdkjkhtxx
    <set>
      <if test="llzj != null">
        LLZJ = #{llzj,jdbcType=INTEGER},
      </if>
      <if test="fzbh != null">
        FZBH = #{fzbh,jdbcType=INTEGER},
      </if>
      <if test="kfszj != null">
        KFSZJ = #{kfszj,jdbcType=INTEGER},
      </if>
      <if test="gtjkrzj != null">
        GTJKRZJ = #{gtjkrzj,jdbcType=INTEGER},
      </if>
      <if test="pobh != null">
        POBH = #{pobh,jdbcType=INTEGER},
      </if>
      <if test="dkzhbh != null">
        DKZHBH = #{dkzhbh,jdbcType=INTEGER},
      </if>
      <if test="styhzj != null">
        STYHZJ = #{styhzj,jdbcType=INTEGER},
      </if>
      <if test="zj != null">
        ZJ = #{zj,jdbcType=INTEGER},
      </if>
      <if test="dbhtxxzj != null">
        DBHTXXZJ = #{dbhtxxzj,jdbcType=INTEGER},
      </if>
      <if test="dkzj != null">
        DKZJ = #{dkzj,jdbcType=INTEGER},
      </if>
      <if test="grbh != null">
        GRBH = #{grbh,jdbcType=INTEGER},
      </if>
      <if test="jkhtbh != null">
        JKHTBH = #{jkhtbh,jdbcType=VARCHAR},
      </if>
      <if test="gfhtbh != null">
        GFHTBH = #{gfhtbh,jdbcType=VARCHAR},
      </if>
      <if test="dkzh != null">
        DKZH = #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="swtyhmc != null">
        SWTYHMC = #{swtyhmc,jdbcType=VARCHAR},
      </if>
      <if test="swtyhdm != null">
        SWTYHDM = #{swtyhdm,jdbcType=VARCHAR},
      </if>
      <if test="dkdblx != null">
        DKDBLX = #{dkdblx,jdbcType=VARCHAR},
      </if>
      <if test="ydfkrq != null">
        YDFKRQ = #{ydfkrq,jdbcType=DATE},
      </if>
      <if test="yddqrq != null">
        YDDQRQ = #{yddqrq,jdbcType=DATE},
      </if>
      <if test="dkhkfs != null">
        DKHKFS = #{dkhkfs,jdbcType=VARCHAR},
      </if>
      <if test="hkcxzh != null">
        HKCXZH = #{hkcxzh,jdbcType=VARCHAR},
      </if>
      <if test="cxzhkhyhmc2 != null">
        CXZHKHYHMC2 = #{cxzhkhyhmc2,jdbcType=VARCHAR},
      </if>
      <if test="cxzhkhyhdm != null">
        CXZHKHYHDM = #{cxzhkhyhdm,jdbcType=VARCHAR},
      </if>
      <if test="htdkje != null">
        HTDKJE = #{htdkje,jdbcType=DECIMAL},
      </if>
      <if test="dklx != null">
        DKLX = #{dklx,jdbcType=VARCHAR},
      </if>
      <if test="dkqs != null">
        DKQS = #{dkqs,jdbcType=DECIMAL},
      </if>
      <if test="fwzl != null">
        FWZL = #{fwzl,jdbcType=VARCHAR},
      </if>
      <if test="fwjzmj != null">
        FWJZMJ = #{fwjzmj,jdbcType=DECIMAL},
      </if>
      <if test="fwjzmjdj != null">
        FWJZMJDJ = #{fwjzmjdj,jdbcType=DECIMAL},
      </if>
      <if test="fwtnmj != null">
        FWTNMJ = #{fwtnmj,jdbcType=DECIMAL},
      </if>
      <if test="fwtnmjdj != null">
        FWTNMJDJ = #{fwtnmjdj,jdbcType=DECIMAL},
      </if>
      <if test="fwxz != null">
        FWXZ = #{fwxz,jdbcType=VARCHAR},
      </if>
      <if test="fwzj != null">
        FWZJ = #{fwzj,jdbcType=DECIMAL},
      </if>
      <if test="jkhtll != null">
        JKHTLL = #{jkhtll,jdbcType=DECIMAL},
      </if>
      <if test="llfdbl != null">
        LLFDBL = #{llfdbl,jdbcType=DECIMAL},
      </if>
      <if test="gfsfk != null">
        GFSFK = #{gfsfk,jdbcType=DECIMAL},
      </if>
      <if test="sfrmc != null">
        SFRMC = #{sfrmc,jdbcType=VARCHAR},
      </if>
      <if test="sfryhzh != null">
        SFRYHZH = #{sfryhzh,jdbcType=VARCHAR},
      </if>
      <if test="sfrkhyhdm != null">
        SFRKHYHDM = #{sfrkhyhdm,jdbcType=VARCHAR},
      </if>
      <if test="sfrkhyhmc != null">
        SFRKHYHMC = #{sfrkhyhmc,jdbcType=VARCHAR},
      </if>
      <if test="jkhtqdrq != null">
        JKHTQDRQ = #{jkhtqdrq,jdbcType=DATE},
      </if>
      <if test="ydhkr != null">
        YDHKR = #{ydhkr,jdbcType=DECIMAL},
      </if>
      <if test="jkrgjjzh != null">
        JKRGJJZH = #{jkrgjjzh,jdbcType=VARCHAR},
      </if>
      <if test="jkrxm != null">
        JKRXM = #{jkrxm,jdbcType=VARCHAR},
      </if>
      <if test="fwlx != null">
        FWLX = #{fwlx,jdbcType=VARCHAR},
      </if>
      <if test="etf != null">
        ETF = #{etf,jdbcType=VARCHAR},
      </if>
      <if test="jhjzfy != null">
        JHJZFY = #{jhjzfy,jdbcType=DECIMAL},
      </if>
      <if test="xjbw != null">
        XJBW = #{xjbw,jdbcType=VARCHAR},
      </if>
      <if test="cjr3 != null">
        CJR3 = #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        CJSJ3 = #{cjsj3,jdbcType=DATE},
      </if>
      <if test="sfdwbh != null">
        SFDWBH = #{sfdwbh,jdbcType=VARCHAR},
      </if>
      <if test="sfdwmc != null">
        SFDWMC = #{sfdwmc,jdbcType=VARCHAR},
      </if>
      <if test="sfdwdh != null">
        SFDWDH = #{sfdwdh,jdbcType=VARCHAR},
      </if>
      <if test="sfdwdz != null">
        SFDWDZ = #{sfdwdz,jdbcType=VARCHAR},
      </if>
      <if test="sjhmdr2 != null">
        SJHMDR2 = #{sjhmdr2,jdbcType=VARCHAR},
      </if>
      <if test="jkrzjlx != null">
        JKRZJLX = #{jkrzjlx,jdbcType=VARCHAR},
      </if>
      <if test="jkrzjh != null">
        JKRZJH = #{jkrzjh,jdbcType=VARCHAR},
      </if>
      <if test="jkrysr != null">
        JKRYSR = #{jkrysr,jdbcType=DECIMAL},
      </if>
      <if test="jtcysr != null">
        JTCYSR = #{jtcysr,jdbcType=DECIMAL},
      </if>
      <if test="jtsrhj != null">
        JTSRHJ = #{jtsrhj,jdbcType=DECIMAL},
      </if>
      <if test="jkryhck != null">
        JKRYHCK = #{jkryhck,jdbcType=DECIMAL},
      </if>
      <if test="jkryhjk != null">
        JKRYHJK = #{jkryhjk,jdbcType=DECIMAL},
      </if>
      <if test="jkrqtfz != null">
        JKRQTFZ = #{jkrqtfz,jdbcType=DECIMAL},
      </if>
      <if test="jkrhyzk != null">
        JKRHYZK = #{jkrhyzk,jdbcType=VARCHAR},
      </if>
      <if test="lpbah != null">
        LPBAH = #{lpbah,jdbcType=VARCHAR},
      </if>
      <if test="ckrbh != null">
        CKRBH = #{ckrbh,jdbcType=VARCHAR},
      </if>
      <if test="gfrxm != null">
        GFRXM = #{gfrxm,jdbcType=VARCHAR},
      </if>
      <if test="gfrsfzh != null">
        GFRSFZH = #{gfrsfzh,jdbcType=VARCHAR},
      </if>
      <if test="hkzhmc != null">
        HKZHMC = #{hkzhmc,jdbcType=VARCHAR},
      </if>
      <if test="skzhlb != null">
        SKZHLB = #{skzhlb,jdbcType=VARCHAR},
      </if>
      <if test="sfxz != null">
        SFXZ = #{sfxz,jdbcType=VARCHAR},
      </if>
    </set>
    where HTZJ = #{htzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Grzfdkjkhtxx">
    update grzfdkjkhtxx
    set LLZJ = #{llzj,jdbcType=INTEGER},
      FZBH = #{fzbh,jdbcType=INTEGER},
      KFSZJ = #{kfszj,jdbcType=INTEGER},
      GTJKRZJ = #{gtjkrzj,jdbcType=INTEGER},
      POBH = #{pobh,jdbcType=INTEGER},
      DKZHBH = #{dkzhbh,jdbcType=INTEGER},
      STYHZJ = #{styhzj,jdbcType=INTEGER},
      ZJ = #{zj,jdbcType=INTEGER},
      DBHTXXZJ = #{dbhtxxzj,jdbcType=INTEGER},
      DKZJ = #{dkzj,jdbcType=INTEGER},
      GRBH = #{grbh,jdbcType=INTEGER},
      JKHTBH = #{jkhtbh,jdbcType=VARCHAR},
      GFHTBH = #{gfhtbh,jdbcType=VARCHAR},
      DKZH = #{dkzh,jdbcType=VARCHAR},
      SWTYHMC = #{swtyhmc,jdbcType=VARCHAR},
      SWTYHDM = #{swtyhdm,jdbcType=VARCHAR},
      DKDBLX = #{dkdblx,jdbcType=VARCHAR},
      YDFKRQ = #{ydfkrq,jdbcType=DATE},
      YDDQRQ = #{yddqrq,jdbcType=DATE},
      DKHKFS = #{dkhkfs,jdbcType=VARCHAR},
      HKCXZH = #{hkcxzh,jdbcType=VARCHAR},
      CXZHKHYHMC2 = #{cxzhkhyhmc2,jdbcType=VARCHAR},
      CXZHKHYHDM = #{cxzhkhyhdm,jdbcType=VARCHAR},
      HTDKJE = #{htdkje,jdbcType=DECIMAL},
      DKLX = #{dklx,jdbcType=VARCHAR},
      DKQS = #{dkqs,jdbcType=DECIMAL},
      FWZL = #{fwzl,jdbcType=VARCHAR},
      FWJZMJ = #{fwjzmj,jdbcType=DECIMAL},
      FWJZMJDJ = #{fwjzmjdj,jdbcType=DECIMAL},
      FWTNMJ = #{fwtnmj,jdbcType=DECIMAL},
      FWTNMJDJ = #{fwtnmjdj,jdbcType=DECIMAL},
      FWXZ = #{fwxz,jdbcType=VARCHAR},
      FWZJ = #{fwzj,jdbcType=DECIMAL},
      JKHTLL = #{jkhtll,jdbcType=DECIMAL},
      LLFDBL = #{llfdbl,jdbcType=DECIMAL},
      GFSFK = #{gfsfk,jdbcType=DECIMAL},
      SFRMC = #{sfrmc,jdbcType=VARCHAR},
      SFRYHZH = #{sfryhzh,jdbcType=VARCHAR},
      SFRKHYHDM = #{sfrkhyhdm,jdbcType=VARCHAR},
      SFRKHYHMC = #{sfrkhyhmc,jdbcType=VARCHAR},
      JKHTQDRQ = #{jkhtqdrq,jdbcType=DATE},
      YDHKR = #{ydhkr,jdbcType=DECIMAL},
      JKRGJJZH = #{jkrgjjzh,jdbcType=VARCHAR},
      JKRXM = #{jkrxm,jdbcType=VARCHAR},
      FWLX = #{fwlx,jdbcType=VARCHAR},
      ETF = #{etf,jdbcType=VARCHAR},
      JHJZFY = #{jhjzfy,jdbcType=DECIMAL},
      XJBW = #{xjbw,jdbcType=VARCHAR},
      CJR3 = #{cjr3,jdbcType=VARCHAR},
      CJSJ3 = #{cjsj3,jdbcType=DATE},
      SFDWBH = #{sfdwbh,jdbcType=VARCHAR},
      SFDWMC = #{sfdwmc,jdbcType=VARCHAR},
      SFDWDH = #{sfdwdh,jdbcType=VARCHAR},
      SFDWDZ = #{sfdwdz,jdbcType=VARCHAR},
      SJHMDR2 = #{sjhmdr2,jdbcType=VARCHAR},
      JKRZJLX = #{jkrzjlx,jdbcType=VARCHAR},
      JKRZJH = #{jkrzjh,jdbcType=VARCHAR},
      JKRYSR = #{jkrysr,jdbcType=DECIMAL},
      JTCYSR = #{jtcysr,jdbcType=DECIMAL},
      JTSRHJ = #{jtsrhj,jdbcType=DECIMAL},
      JKRYHCK = #{jkryhck,jdbcType=DECIMAL},
      JKRYHJK = #{jkryhjk,jdbcType=DECIMAL},
      JKRQTFZ = #{jkrqtfz,jdbcType=DECIMAL},
      JKRHYZK = #{jkrhyzk,jdbcType=VARCHAR},
      LPBAH = #{lpbah,jdbcType=VARCHAR},
      CKRBH = #{ckrbh,jdbcType=VARCHAR},
      GFRXM = #{gfrxm,jdbcType=VARCHAR},
      GFRSFZH = #{gfrsfzh,jdbcType=VARCHAR},
      HKZHMC = #{hkzhmc,jdbcType=VARCHAR},
      SKZHLB = #{skzhlb,jdbcType=VARCHAR},
      SFXZ = #{sfxz,jdbcType=VARCHAR}
    where HTZJ = #{htzj,jdbcType=INTEGER}
  </update>
</mapper>