<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.GtjkrxxMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Gtjkrxx">
    <id column="GTJKRZJ" jdbcType="INTEGER" property="gtjkrzj" />
    <result column="GTJKRBH" jdbcType="VARCHAR" property="gtjkrbh" />
    <result column="GTJKRGJJZH" jdbcType="VARCHAR" property="gtjkrgjjzh" />
    <result column="GTJKRXM" jdbcType="VARCHAR" property="gtjkrxm" />
    <result column="GTJKRZJLX" jdbcType="VARCHAR" property="gtjkrzjlx" />
    <result column="GTJKRZJHM" jdbcType="VARCHAR" property="gtjkrzjhm" />
    <result column="YSR" jdbcType="DECIMAL" property="ysr" />
    <result column="CDGX" jdbcType="VARCHAR" property="cdgx" />
    <result column="GDDHHM2" jdbcType="VARCHAR" property="gddhhm2" />
    <result column="SJHM2" jdbcType="VARCHAR" property="sjhm2" />
    <result column="JKHTBH" jdbcType="VARCHAR" property="jkhtbh" />
    <result column="GTJKRDWZH" jdbcType="VARCHAR" property="gtjkrdwzh" />
    <result column="GTJKRDWMC" jdbcType="VARCHAR" property="gtjkrdwmc" />
    <result column="GTJKRSJHM" jdbcType="VARCHAR" property="gtjkrsjhm" />
    <result column="GTJKRDWDZ" jdbcType="VARCHAR" property="gtjkrdwdz" />
  </resultMap>
  <sql id="Base_Column_List">
    GTJKRZJ, GTJKRBH, GTJKRGJJZH, GTJKRXM, GTJKRZJLX, GTJKRZJHM, YSR, CDGX, GDDHHM2, 
    SJHM2, JKHTBH, GTJKRDWZH, GTJKRDWMC, GTJKRSJHM, GTJKRDWDZ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gtjkrxx
    where GTJKRZJ = #{gtjkrzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gtjkrxx
    where GTJKRZJ = #{gtjkrzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Gtjkrxx">
    insert into gtjkrxx (GTJKRZJ, GTJKRBH, GTJKRGJJZH, 
      GTJKRXM, GTJKRZJLX, GTJKRZJHM, 
      YSR, CDGX, GDDHHM2, 
      SJHM2, JKHTBH, GTJKRDWZH, 
      GTJKRDWMC, GTJKRSJHM, GTJKRDWDZ
      )
    values (#{gtjkrzj,jdbcType=INTEGER}, #{gtjkrbh,jdbcType=VARCHAR}, #{gtjkrgjjzh,jdbcType=VARCHAR}, 
      #{gtjkrxm,jdbcType=VARCHAR}, #{gtjkrzjlx,jdbcType=VARCHAR}, #{gtjkrzjhm,jdbcType=VARCHAR}, 
      #{ysr,jdbcType=DECIMAL}, #{cdgx,jdbcType=VARCHAR}, #{gddhhm2,jdbcType=VARCHAR}, 
      #{sjhm2,jdbcType=VARCHAR}, #{jkhtbh,jdbcType=VARCHAR}, #{gtjkrdwzh,jdbcType=VARCHAR}, 
      #{gtjkrdwmc,jdbcType=VARCHAR}, #{gtjkrsjhm,jdbcType=VARCHAR}, #{gtjkrdwdz,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Gtjkrxx">
    insert into gtjkrxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gtjkrzj != null">
        GTJKRZJ,
      </if>
      <if test="gtjkrbh != null">
        GTJKRBH,
      </if>
      <if test="gtjkrgjjzh != null">
        GTJKRGJJZH,
      </if>
      <if test="gtjkrxm != null">
        GTJKRXM,
      </if>
      <if test="gtjkrzjlx != null">
        GTJKRZJLX,
      </if>
      <if test="gtjkrzjhm != null">
        GTJKRZJHM,
      </if>
      <if test="ysr != null">
        YSR,
      </if>
      <if test="cdgx != null">
        CDGX,
      </if>
      <if test="gddhhm2 != null">
        GDDHHM2,
      </if>
      <if test="sjhm2 != null">
        SJHM2,
      </if>
      <if test="jkhtbh != null">
        JKHTBH,
      </if>
      <if test="gtjkrdwzh != null">
        GTJKRDWZH,
      </if>
      <if test="gtjkrdwmc != null">
        GTJKRDWMC,
      </if>
      <if test="gtjkrsjhm != null">
        GTJKRSJHM,
      </if>
      <if test="gtjkrdwdz != null">
        GTJKRDWDZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gtjkrzj != null">
        #{gtjkrzj,jdbcType=INTEGER},
      </if>
      <if test="gtjkrbh != null">
        #{gtjkrbh,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrgjjzh != null">
        #{gtjkrgjjzh,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrxm != null">
        #{gtjkrxm,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrzjlx != null">
        #{gtjkrzjlx,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrzjhm != null">
        #{gtjkrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="ysr != null">
        #{ysr,jdbcType=DECIMAL},
      </if>
      <if test="cdgx != null">
        #{cdgx,jdbcType=VARCHAR},
      </if>
      <if test="gddhhm2 != null">
        #{gddhhm2,jdbcType=VARCHAR},
      </if>
      <if test="sjhm2 != null">
        #{sjhm2,jdbcType=VARCHAR},
      </if>
      <if test="jkhtbh != null">
        #{jkhtbh,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrdwzh != null">
        #{gtjkrdwzh,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrdwmc != null">
        #{gtjkrdwmc,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrsjhm != null">
        #{gtjkrsjhm,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrdwdz != null">
        #{gtjkrdwdz,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Gtjkrxx">
    update gtjkrxx
    <set>
      <if test="gtjkrbh != null">
        GTJKRBH = #{gtjkrbh,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrgjjzh != null">
        GTJKRGJJZH = #{gtjkrgjjzh,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrxm != null">
        GTJKRXM = #{gtjkrxm,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrzjlx != null">
        GTJKRZJLX = #{gtjkrzjlx,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrzjhm != null">
        GTJKRZJHM = #{gtjkrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="ysr != null">
        YSR = #{ysr,jdbcType=DECIMAL},
      </if>
      <if test="cdgx != null">
        CDGX = #{cdgx,jdbcType=VARCHAR},
      </if>
      <if test="gddhhm2 != null">
        GDDHHM2 = #{gddhhm2,jdbcType=VARCHAR},
      </if>
      <if test="sjhm2 != null">
        SJHM2 = #{sjhm2,jdbcType=VARCHAR},
      </if>
      <if test="jkhtbh != null">
        JKHTBH = #{jkhtbh,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrdwzh != null">
        GTJKRDWZH = #{gtjkrdwzh,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrdwmc != null">
        GTJKRDWMC = #{gtjkrdwmc,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrsjhm != null">
        GTJKRSJHM = #{gtjkrsjhm,jdbcType=VARCHAR},
      </if>
      <if test="gtjkrdwdz != null">
        GTJKRDWDZ = #{gtjkrdwdz,jdbcType=VARCHAR},
      </if>
    </set>
    where GTJKRZJ = #{gtjkrzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Gtjkrxx">
    update gtjkrxx
    set GTJKRBH = #{gtjkrbh,jdbcType=VARCHAR},
      GTJKRGJJZH = #{gtjkrgjjzh,jdbcType=VARCHAR},
      GTJKRXM = #{gtjkrxm,jdbcType=VARCHAR},
      GTJKRZJLX = #{gtjkrzjlx,jdbcType=VARCHAR},
      GTJKRZJHM = #{gtjkrzjhm,jdbcType=VARCHAR},
      YSR = #{ysr,jdbcType=DECIMAL},
      CDGX = #{cdgx,jdbcType=VARCHAR},
      GDDHHM2 = #{gddhhm2,jdbcType=VARCHAR},
      SJHM2 = #{sjhm2,jdbcType=VARCHAR},
      JKHTBH = #{jkhtbh,jdbcType=VARCHAR},
      GTJKRDWZH = #{gtjkrdwzh,jdbcType=VARCHAR},
      GTJKRDWMC = #{gtjkrdwmc,jdbcType=VARCHAR},
      GTJKRSJHM = #{gtjkrsjhm,jdbcType=VARCHAR},
      GTJKRDWDZ = #{gtjkrdwdz,jdbcType=VARCHAR}
    where GTJKRZJ = #{gtjkrzj,jdbcType=INTEGER}
  </update>
</mapper>