<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.JsxmxxMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Jsxmxx">
    <id column="JSXMZJ" jdbcType="INTEGER" property="jsxmzj" />
    <result column="XMBH" jdbcType="DECIMAL" property="xmbh" />
    <result column="XMLX" jdbcType="VARCHAR" property="xmlx" />
    <result column="XMMC" jdbcType="VARCHAR" property="xmmc" />
    <result column="SSCSDM" jdbcType="DECIMAL" property="sscsdm" />
    <result column="TZGM" jdbcType="DECIMAL" property="tzgm" />
    <result column="DKED" jdbcType="DECIMAL" property="dked" />
    <result column="JSGM" jdbcType="DECIMAL" property="jsgm" />
    <result column="XMFLJB" jdbcType="VARCHAR" property="xmfljb" />
    <result column="XMPC" jdbcType="VARCHAR" property="xmpc" />
    <result column="LXPFWJBH" jdbcType="VARCHAR" property="lxpfwjbh" />
    <result column="JSYDGHXKZBH" jdbcType="VARCHAR" property="jsydghxkzbh" />
    <result column="GYTDSYZBH" jdbcType="VARCHAR" property="gytdsyzbh" />
    <result column="JSGCGHXKZBH" jdbcType="VARCHAR" property="jsgcghxkzbh" />
    <result column="JZGCSGXKZBH" jdbcType="VARCHAR" property="jzgcsgxkzbh" />
  </resultMap>
  <sql id="Base_Column_List">
    JSXMZJ, XMBH, XMLX, XMMC, SSCSDM, TZGM, DKED, JSGM, XMFLJB, XMPC, LXPFWJBH, JSYDGHXKZBH, 
    GYTDSYZBH, JSGCGHXKZBH, JZGCSGXKZBH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jsxmxx
    where JSXMZJ = #{jsxmzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jsxmxx
    where JSXMZJ = #{jsxmzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Jsxmxx">
    insert into jsxmxx (JSXMZJ, XMBH, XMLX, 
      XMMC, SSCSDM, TZGM, 
      DKED, JSGM, XMFLJB, 
      XMPC, LXPFWJBH, JSYDGHXKZBH, 
      GYTDSYZBH, JSGCGHXKZBH, JZGCSGXKZBH
      )
    values (#{jsxmzj,jdbcType=INTEGER}, #{xmbh,jdbcType=DECIMAL}, #{xmlx,jdbcType=VARCHAR}, 
      #{xmmc,jdbcType=VARCHAR}, #{sscsdm,jdbcType=DECIMAL}, #{tzgm,jdbcType=DECIMAL}, 
      #{dked,jdbcType=DECIMAL}, #{jsgm,jdbcType=DECIMAL}, #{xmfljb,jdbcType=VARCHAR}, 
      #{xmpc,jdbcType=VARCHAR}, #{lxpfwjbh,jdbcType=VARCHAR}, #{jsydghxkzbh,jdbcType=VARCHAR}, 
      #{gytdsyzbh,jdbcType=VARCHAR}, #{jsgcghxkzbh,jdbcType=VARCHAR}, #{jzgcsgxkzbh,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Jsxmxx">
    insert into jsxmxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jsxmzj != null">
        JSXMZJ,
      </if>
      <if test="xmbh != null">
        XMBH,
      </if>
      <if test="xmlx != null">
        XMLX,
      </if>
      <if test="xmmc != null">
        XMMC,
      </if>
      <if test="sscsdm != null">
        SSCSDM,
      </if>
      <if test="tzgm != null">
        TZGM,
      </if>
      <if test="dked != null">
        DKED,
      </if>
      <if test="jsgm != null">
        JSGM,
      </if>
      <if test="xmfljb != null">
        XMFLJB,
      </if>
      <if test="xmpc != null">
        XMPC,
      </if>
      <if test="lxpfwjbh != null">
        LXPFWJBH,
      </if>
      <if test="jsydghxkzbh != null">
        JSYDGHXKZBH,
      </if>
      <if test="gytdsyzbh != null">
        GYTDSYZBH,
      </if>
      <if test="jsgcghxkzbh != null">
        JSGCGHXKZBH,
      </if>
      <if test="jzgcsgxkzbh != null">
        JZGCSGXKZBH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jsxmzj != null">
        #{jsxmzj,jdbcType=INTEGER},
      </if>
      <if test="xmbh != null">
        #{xmbh,jdbcType=DECIMAL},
      </if>
      <if test="xmlx != null">
        #{xmlx,jdbcType=VARCHAR},
      </if>
      <if test="xmmc != null">
        #{xmmc,jdbcType=VARCHAR},
      </if>
      <if test="sscsdm != null">
        #{sscsdm,jdbcType=DECIMAL},
      </if>
      <if test="tzgm != null">
        #{tzgm,jdbcType=DECIMAL},
      </if>
      <if test="dked != null">
        #{dked,jdbcType=DECIMAL},
      </if>
      <if test="jsgm != null">
        #{jsgm,jdbcType=DECIMAL},
      </if>
      <if test="xmfljb != null">
        #{xmfljb,jdbcType=VARCHAR},
      </if>
      <if test="xmpc != null">
        #{xmpc,jdbcType=VARCHAR},
      </if>
      <if test="lxpfwjbh != null">
        #{lxpfwjbh,jdbcType=VARCHAR},
      </if>
      <if test="jsydghxkzbh != null">
        #{jsydghxkzbh,jdbcType=VARCHAR},
      </if>
      <if test="gytdsyzbh != null">
        #{gytdsyzbh,jdbcType=VARCHAR},
      </if>
      <if test="jsgcghxkzbh != null">
        #{jsgcghxkzbh,jdbcType=VARCHAR},
      </if>
      <if test="jzgcsgxkzbh != null">
        #{jzgcsgxkzbh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Jsxmxx">
    update jsxmxx
    <set>
      <if test="xmbh != null">
        XMBH = #{xmbh,jdbcType=DECIMAL},
      </if>
      <if test="xmlx != null">
        XMLX = #{xmlx,jdbcType=VARCHAR},
      </if>
      <if test="xmmc != null">
        XMMC = #{xmmc,jdbcType=VARCHAR},
      </if>
      <if test="sscsdm != null">
        SSCSDM = #{sscsdm,jdbcType=DECIMAL},
      </if>
      <if test="tzgm != null">
        TZGM = #{tzgm,jdbcType=DECIMAL},
      </if>
      <if test="dked != null">
        DKED = #{dked,jdbcType=DECIMAL},
      </if>
      <if test="jsgm != null">
        JSGM = #{jsgm,jdbcType=DECIMAL},
      </if>
      <if test="xmfljb != null">
        XMFLJB = #{xmfljb,jdbcType=VARCHAR},
      </if>
      <if test="xmpc != null">
        XMPC = #{xmpc,jdbcType=VARCHAR},
      </if>
      <if test="lxpfwjbh != null">
        LXPFWJBH = #{lxpfwjbh,jdbcType=VARCHAR},
      </if>
      <if test="jsydghxkzbh != null">
        JSYDGHXKZBH = #{jsydghxkzbh,jdbcType=VARCHAR},
      </if>
      <if test="gytdsyzbh != null">
        GYTDSYZBH = #{gytdsyzbh,jdbcType=VARCHAR},
      </if>
      <if test="jsgcghxkzbh != null">
        JSGCGHXKZBH = #{jsgcghxkzbh,jdbcType=VARCHAR},
      </if>
      <if test="jzgcsgxkzbh != null">
        JZGCSGXKZBH = #{jzgcsgxkzbh,jdbcType=VARCHAR},
      </if>
    </set>
    where JSXMZJ = #{jsxmzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Jsxmxx">
    update jsxmxx
    set XMBH = #{xmbh,jdbcType=DECIMAL},
      XMLX = #{xmlx,jdbcType=VARCHAR},
      XMMC = #{xmmc,jdbcType=VARCHAR},
      SSCSDM = #{sscsdm,jdbcType=DECIMAL},
      TZGM = #{tzgm,jdbcType=DECIMAL},
      DKED = #{dked,jdbcType=DECIMAL},
      JSGM = #{jsgm,jdbcType=DECIMAL},
      XMFLJB = #{xmfljb,jdbcType=VARCHAR},
      XMPC = #{xmpc,jdbcType=VARCHAR},
      LXPFWJBH = #{lxpfwjbh,jdbcType=VARCHAR},
      JSYDGHXKZBH = #{jsydghxkzbh,jdbcType=VARCHAR},
      GYTDSYZBH = #{gytdsyzbh,jdbcType=VARCHAR},
      JSGCGHXKZBH = #{jsgcghxkzbh,jdbcType=VARCHAR},
      JZGCSGXKZBH = #{jzgcsgxkzbh,jdbcType=VARCHAR}
    where JSXMZJ = #{jsxmzj,jdbcType=INTEGER}
  </update>
</mapper>