<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.JsxmdkyqdjxxMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Jsxmdkyqdjxx">
    <id column="XMZJ" jdbcType="INTEGER" property="xmzj" />
    <result column="DHGLZJ" jdbcType="INTEGER" property="dhglzj" />
    <result column="XMBH" jdbcType="DECIMAL" property="xmbh" />
    <result column="YQBJ" jdbcType="DECIMAL" property="yqbj" />
    <result column="YQLX" jdbcType="DECIMAL" property="yqlx" />
    <result column="YQFX" jdbcType="DECIMAL" property="yqfx" />
    <result column="SSRQ" jdbcType="DATE" property="ssrq" />
    <result column="SSYQBJ" jdbcType="DECIMAL" property="ssyqbj" />
    <result column="SSYQLX" jdbcType="DECIMAL" property="ssyqlx" />
    <result column="SSYQFX" jdbcType="DECIMAL" property="ssyqfx" />
  </resultMap>
  <sql id="Base_Column_List">
    XMZJ, DHGLZJ, XMBH, YQBJ, YQLX, YQFX, SSRQ, SSYQBJ, SSYQLX, SSYQFX
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jsxmdkyqdjxx
    where XMZJ = #{xmzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jsxmdkyqdjxx
    where XMZJ = #{xmzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Jsxmdkyqdjxx">
    insert into jsxmdkyqdjxx (XMZJ, DHGLZJ, XMBH, 
      YQBJ, YQLX, YQFX, SSRQ, 
      SSYQBJ, SSYQLX, SSYQFX
      )
    values (#{xmzj,jdbcType=INTEGER}, #{dhglzj,jdbcType=INTEGER}, #{xmbh,jdbcType=DECIMAL}, 
      #{yqbj,jdbcType=DECIMAL}, #{yqlx,jdbcType=DECIMAL}, #{yqfx,jdbcType=DECIMAL}, #{ssrq,jdbcType=DATE}, 
      #{ssyqbj,jdbcType=DECIMAL}, #{ssyqlx,jdbcType=DECIMAL}, #{ssyqfx,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Jsxmdkyqdjxx">
    insert into jsxmdkyqdjxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xmzj != null">
        XMZJ,
      </if>
      <if test="dhglzj != null">
        DHGLZJ,
      </if>
      <if test="xmbh != null">
        XMBH,
      </if>
      <if test="yqbj != null">
        YQBJ,
      </if>
      <if test="yqlx != null">
        YQLX,
      </if>
      <if test="yqfx != null">
        YQFX,
      </if>
      <if test="ssrq != null">
        SSRQ,
      </if>
      <if test="ssyqbj != null">
        SSYQBJ,
      </if>
      <if test="ssyqlx != null">
        SSYQLX,
      </if>
      <if test="ssyqfx != null">
        SSYQFX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xmzj != null">
        #{xmzj,jdbcType=INTEGER},
      </if>
      <if test="dhglzj != null">
        #{dhglzj,jdbcType=INTEGER},
      </if>
      <if test="xmbh != null">
        #{xmbh,jdbcType=DECIMAL},
      </if>
      <if test="yqbj != null">
        #{yqbj,jdbcType=DECIMAL},
      </if>
      <if test="yqlx != null">
        #{yqlx,jdbcType=DECIMAL},
      </if>
      <if test="yqfx != null">
        #{yqfx,jdbcType=DECIMAL},
      </if>
      <if test="ssrq != null">
        #{ssrq,jdbcType=DATE},
      </if>
      <if test="ssyqbj != null">
        #{ssyqbj,jdbcType=DECIMAL},
      </if>
      <if test="ssyqlx != null">
        #{ssyqlx,jdbcType=DECIMAL},
      </if>
      <if test="ssyqfx != null">
        #{ssyqfx,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Jsxmdkyqdjxx">
    update jsxmdkyqdjxx
    <set>
      <if test="dhglzj != null">
        DHGLZJ = #{dhglzj,jdbcType=INTEGER},
      </if>
      <if test="xmbh != null">
        XMBH = #{xmbh,jdbcType=DECIMAL},
      </if>
      <if test="yqbj != null">
        YQBJ = #{yqbj,jdbcType=DECIMAL},
      </if>
      <if test="yqlx != null">
        YQLX = #{yqlx,jdbcType=DECIMAL},
      </if>
      <if test="yqfx != null">
        YQFX = #{yqfx,jdbcType=DECIMAL},
      </if>
      <if test="ssrq != null">
        SSRQ = #{ssrq,jdbcType=DATE},
      </if>
      <if test="ssyqbj != null">
        SSYQBJ = #{ssyqbj,jdbcType=DECIMAL},
      </if>
      <if test="ssyqlx != null">
        SSYQLX = #{ssyqlx,jdbcType=DECIMAL},
      </if>
      <if test="ssyqfx != null">
        SSYQFX = #{ssyqfx,jdbcType=DECIMAL},
      </if>
    </set>
    where XMZJ = #{xmzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Jsxmdkyqdjxx">
    update jsxmdkyqdjxx
    set DHGLZJ = #{dhglzj,jdbcType=INTEGER},
      XMBH = #{xmbh,jdbcType=DECIMAL},
      YQBJ = #{yqbj,jdbcType=DECIMAL},
      YQLX = #{yqlx,jdbcType=DECIMAL},
      YQFX = #{yqfx,jdbcType=DECIMAL},
      SSRQ = #{ssrq,jdbcType=DATE},
      SSYQBJ = #{ssyqbj,jdbcType=DECIMAL},
      SSYQLX = #{ssyqlx,jdbcType=DECIMAL},
      SSYQFX = #{ssyqfx,jdbcType=DECIMAL}
    where XMZJ = #{xmzj,jdbcType=INTEGER}
  </update>
</mapper>