<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.KfxxxMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Kfxxx">
    <id column="KFSZJ" jdbcType="INTEGER" property="kfszj" />
    <result column="KFSBH" jdbcType="VARCHAR" property="kfsbh" />
    <result column="KFSDZ" jdbcType="VARCHAR" property="kfsdz" />
    <result column="KFSMC" jdbcType="VARCHAR" property="kfsmc" />
    <result column="DWFRDBXM" jdbcType="VARCHAR" property="dwfrdbxm" />
    <result column="DWFRZJLX" jdbcType="VARCHAR" property="dwfrzjlx" />
    <result column="DWFRZJHM" jdbcType="VARCHAR" property="dwfrzjhm" />
    <result column="DWYB" jdbcType="VARCHAR" property="dwyb" />
    <result column="GDDHHM2" jdbcType="VARCHAR" property="gddhhm2" />
    <result column="TZZD4" jdbcType="VARCHAR" property="tzzd4" />
    <result column="TZZD5" jdbcType="VARCHAR" property="tzzd5" />
    <result column="TZZD6" jdbcType="VARCHAR" property="tzzd6" />
    <result column="CJR3" jdbcType="VARCHAR" property="cjr3" />
    <result column="CJSJ3" jdbcType="DATE" property="cjsj3" />
    <result column="DWDZXX" jdbcType="VARCHAR" property="dwdzxx" />
    <result column="WDBH3" jdbcType="DECIMAL" property="wdbh3" />
  </resultMap>
  <sql id="Base_Column_List">
    KFSZJ, KFSBH, KFSDZ, KFSMC, DWFRDBXM, DWFRZJLX, DWFRZJHM, DWYB, GDDHHM2, TZZD4, TZZD5, 
    TZZD6, CJR3, CJSJ3, DWDZXX, WDBH3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kfxxx
    where KFSZJ = #{kfszj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kfxxx
    where KFSZJ = #{kfszj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Kfxxx">
    insert into kfxxx (KFSZJ, KFSBH, KFSDZ, 
      KFSMC, DWFRDBXM, DWFRZJLX, 
      DWFRZJHM, DWYB, GDDHHM2, 
      TZZD4, TZZD5, TZZD6, 
      CJR3, CJSJ3, DWDZXX, WDBH3
      )
    values (#{kfszj,jdbcType=INTEGER}, #{kfsbh,jdbcType=VARCHAR}, #{kfsdz,jdbcType=VARCHAR}, 
      #{kfsmc,jdbcType=VARCHAR}, #{dwfrdbxm,jdbcType=VARCHAR}, #{dwfrzjlx,jdbcType=VARCHAR}, 
      #{dwfrzjhm,jdbcType=VARCHAR}, #{dwyb,jdbcType=VARCHAR}, #{gddhhm2,jdbcType=VARCHAR}, 
      #{tzzd4,jdbcType=VARCHAR}, #{tzzd5,jdbcType=VARCHAR}, #{tzzd6,jdbcType=VARCHAR}, 
      #{cjr3,jdbcType=VARCHAR}, #{cjsj3,jdbcType=DATE}, #{dwdzxx,jdbcType=VARCHAR}, #{wdbh3,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Kfxxx">
    insert into kfxxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kfszj != null">
        KFSZJ,
      </if>
      <if test="kfsbh != null">
        KFSBH,
      </if>
      <if test="kfsdz != null">
        KFSDZ,
      </if>
      <if test="kfsmc != null">
        KFSMC,
      </if>
      <if test="dwfrdbxm != null">
        DWFRDBXM,
      </if>
      <if test="dwfrzjlx != null">
        DWFRZJLX,
      </if>
      <if test="dwfrzjhm != null">
        DWFRZJHM,
      </if>
      <if test="dwyb != null">
        DWYB,
      </if>
      <if test="gddhhm2 != null">
        GDDHHM2,
      </if>
      <if test="tzzd4 != null">
        TZZD4,
      </if>
      <if test="tzzd5 != null">
        TZZD5,
      </if>
      <if test="tzzd6 != null">
        TZZD6,
      </if>
      <if test="cjr3 != null">
        CJR3,
      </if>
      <if test="cjsj3 != null">
        CJSJ3,
      </if>
      <if test="dwdzxx != null">
        DWDZXX,
      </if>
      <if test="wdbh3 != null">
        WDBH3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kfszj != null">
        #{kfszj,jdbcType=INTEGER},
      </if>
      <if test="kfsbh != null">
        #{kfsbh,jdbcType=VARCHAR},
      </if>
      <if test="kfsdz != null">
        #{kfsdz,jdbcType=VARCHAR},
      </if>
      <if test="kfsmc != null">
        #{kfsmc,jdbcType=VARCHAR},
      </if>
      <if test="dwfrdbxm != null">
        #{dwfrdbxm,jdbcType=VARCHAR},
      </if>
      <if test="dwfrzjlx != null">
        #{dwfrzjlx,jdbcType=VARCHAR},
      </if>
      <if test="dwfrzjhm != null">
        #{dwfrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="dwyb != null">
        #{dwyb,jdbcType=VARCHAR},
      </if>
      <if test="gddhhm2 != null">
        #{gddhhm2,jdbcType=VARCHAR},
      </if>
      <if test="tzzd4 != null">
        #{tzzd4,jdbcType=VARCHAR},
      </if>
      <if test="tzzd5 != null">
        #{tzzd5,jdbcType=VARCHAR},
      </if>
      <if test="tzzd6 != null">
        #{tzzd6,jdbcType=VARCHAR},
      </if>
      <if test="cjr3 != null">
        #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        #{cjsj3,jdbcType=DATE},
      </if>
      <if test="dwdzxx != null">
        #{dwdzxx,jdbcType=VARCHAR},
      </if>
      <if test="wdbh3 != null">
        #{wdbh3,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Kfxxx">
    update kfxxx
    <set>
      <if test="kfsbh != null">
        KFSBH = #{kfsbh,jdbcType=VARCHAR},
      </if>
      <if test="kfsdz != null">
        KFSDZ = #{kfsdz,jdbcType=VARCHAR},
      </if>
      <if test="kfsmc != null">
        KFSMC = #{kfsmc,jdbcType=VARCHAR},
      </if>
      <if test="dwfrdbxm != null">
        DWFRDBXM = #{dwfrdbxm,jdbcType=VARCHAR},
      </if>
      <if test="dwfrzjlx != null">
        DWFRZJLX = #{dwfrzjlx,jdbcType=VARCHAR},
      </if>
      <if test="dwfrzjhm != null">
        DWFRZJHM = #{dwfrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="dwyb != null">
        DWYB = #{dwyb,jdbcType=VARCHAR},
      </if>
      <if test="gddhhm2 != null">
        GDDHHM2 = #{gddhhm2,jdbcType=VARCHAR},
      </if>
      <if test="tzzd4 != null">
        TZZD4 = #{tzzd4,jdbcType=VARCHAR},
      </if>
      <if test="tzzd5 != null">
        TZZD5 = #{tzzd5,jdbcType=VARCHAR},
      </if>
      <if test="tzzd6 != null">
        TZZD6 = #{tzzd6,jdbcType=VARCHAR},
      </if>
      <if test="cjr3 != null">
        CJR3 = #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        CJSJ3 = #{cjsj3,jdbcType=DATE},
      </if>
      <if test="dwdzxx != null">
        DWDZXX = #{dwdzxx,jdbcType=VARCHAR},
      </if>
      <if test="wdbh3 != null">
        WDBH3 = #{wdbh3,jdbcType=DECIMAL},
      </if>
    </set>
    where KFSZJ = #{kfszj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Kfxxx">
    update kfxxx
    set KFSBH = #{kfsbh,jdbcType=VARCHAR},
      KFSDZ = #{kfsdz,jdbcType=VARCHAR},
      KFSMC = #{kfsmc,jdbcType=VARCHAR},
      DWFRDBXM = #{dwfrdbxm,jdbcType=VARCHAR},
      DWFRZJLX = #{dwfrzjlx,jdbcType=VARCHAR},
      DWFRZJHM = #{dwfrzjhm,jdbcType=VARCHAR},
      DWYB = #{dwyb,jdbcType=VARCHAR},
      GDDHHM2 = #{gddhhm2,jdbcType=VARCHAR},
      TZZD4 = #{tzzd4,jdbcType=VARCHAR},
      TZZD5 = #{tzzd5,jdbcType=VARCHAR},
      TZZD6 = #{tzzd6,jdbcType=VARCHAR},
      CJR3 = #{cjr3,jdbcType=VARCHAR},
      CJSJ3 = #{cjsj3,jdbcType=DATE},
      DWDZXX = #{dwdzxx,jdbcType=VARCHAR},
      WDBH3 = #{wdbh3,jdbcType=DECIMAL}
    where KFSZJ = #{kfszj,jdbcType=INTEGER}
  </update>
</mapper>