<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_dk_dbgsMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.SyDkDbgs">
    <id column="DBGSZJ" jdbcType="INTEGER" property="dbgszj" />
    <result column="DBGSBH" jdbcType="VARCHAR" property="dbgsbh" />
    <result column="DBGSMC" jdbcType="VARCHAR" property="dbgsmc" />
    <result column="DBGSDZ" jdbcType="VARCHAR" property="dbgsdz" />
    <result column="LXR" jdbcType="VARCHAR" property="lxr" />
    <result column="LXDZ" jdbcType="VARCHAR" property="lxdz" />
    <result column="ZTZ" jdbcType="VARCHAR" property="ztz" />
    <result column="CJR" jdbcType="VARCHAR" property="cjr" />
    <result column="CJSJ" jdbcType="DATE" property="cjsj" />
  </resultMap>
  <sql id="Base_Column_List">
    DBGSZJ, DBGSBH, DBGSMC, DBGSDZ, LXR, LXDZ, ZTZ, CJR, CJSJ
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_dk_dbgs
    where DBGSZJ = #{dbgszj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sy_dk_dbgs
    where DBGSZJ = #{dbgszj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.SyDkDbgs">
    insert into sy_dk_dbgs (DBGSZJ, DBGSBH, DBGSMC, 
      DBGSDZ, LXR, LXDZ, 
      ZTZ, CJR, CJSJ)
    values (#{dbgszj,jdbcType=INTEGER}, #{dbgsbh,jdbcType=VARCHAR}, #{dbgsmc,jdbcType=VARCHAR}, 
      #{dbgsdz,jdbcType=VARCHAR}, #{lxr,jdbcType=VARCHAR}, #{lxdz,jdbcType=VARCHAR}, 
      #{ztz,jdbcType=VARCHAR}, #{cjr,jdbcType=VARCHAR}, #{cjsj,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.SyDkDbgs">
    insert into sy_dk_dbgs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dbgszj != null">
        DBGSZJ,
      </if>
      <if test="dbgsbh != null">
        DBGSBH,
      </if>
      <if test="dbgsmc != null">
        DBGSMC,
      </if>
      <if test="dbgsdz != null">
        DBGSDZ,
      </if>
      <if test="lxr != null">
        LXR,
      </if>
      <if test="lxdz != null">
        LXDZ,
      </if>
      <if test="ztz != null">
        ZTZ,
      </if>
      <if test="cjr != null">
        CJR,
      </if>
      <if test="cjsj != null">
        CJSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dbgszj != null">
        #{dbgszj,jdbcType=INTEGER},
      </if>
      <if test="dbgsbh != null">
        #{dbgsbh,jdbcType=VARCHAR},
      </if>
      <if test="dbgsmc != null">
        #{dbgsmc,jdbcType=VARCHAR},
      </if>
      <if test="dbgsdz != null">
        #{dbgsdz,jdbcType=VARCHAR},
      </if>
      <if test="lxr != null">
        #{lxr,jdbcType=VARCHAR},
      </if>
      <if test="lxdz != null">
        #{lxdz,jdbcType=VARCHAR},
      </if>
      <if test="ztz != null">
        #{ztz,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null">
        #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.SyDkDbgs">
    update sy_dk_dbgs
    <set>
      <if test="dbgsbh != null">
        DBGSBH = #{dbgsbh,jdbcType=VARCHAR},
      </if>
      <if test="dbgsmc != null">
        DBGSMC = #{dbgsmc,jdbcType=VARCHAR},
      </if>
      <if test="dbgsdz != null">
        DBGSDZ = #{dbgsdz,jdbcType=VARCHAR},
      </if>
      <if test="lxr != null">
        LXR = #{lxr,jdbcType=VARCHAR},
      </if>
      <if test="lxdz != null">
        LXDZ = #{lxdz,jdbcType=VARCHAR},
      </if>
      <if test="ztz != null">
        ZTZ = #{ztz,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null">
        CJR = #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        CJSJ = #{cjsj,jdbcType=DATE},
      </if>
    </set>
    where DBGSZJ = #{dbgszj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.SyDkDbgs">
    update sy_dk_dbgs
    set DBGSBH = #{dbgsbh,jdbcType=VARCHAR},
      DBGSMC = #{dbgsmc,jdbcType=VARCHAR},
      DBGSDZ = #{dbgsdz,jdbcType=VARCHAR},
      LXR = #{lxr,jdbcType=VARCHAR},
      LXDZ = #{lxdz,jdbcType=VARCHAR},
      ZTZ = #{ztz,jdbcType=VARCHAR},
      CJR = #{cjr,jdbcType=VARCHAR},
      CJSJ = #{cjsj,jdbcType=DATE}
    where DBGSZJ = #{dbgszj,jdbcType=INTEGER}
  </update>
</mapper>