<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_dk_dkrpoMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Sy_dk_dkrpo">
    <id column="POBH" jdbcType="INTEGER" property="pobh" />
    <result column="PODWZH" jdbcType="VARCHAR" property="podwzh" />
    <result column="PODWMC" jdbcType="VARCHAR" property="podwmc" />
    <result column="PODWDH" jdbcType="VARCHAR" property="podwdh" />
    <result column="POGJJZH" jdbcType="VARCHAR" property="pogjjzh" />
    <result column="POXM" jdbcType="VARCHAR" property="poxm" />
    <result column="PONL" jdbcType="DECIMAL" property="ponl" />
    <result column="POJCZT" jdbcType="VARCHAR" property="pojczt" />
    <result column="POZJHM" jdbcType="VARCHAR" property="pozjhm" />
    <result column="POZJLX" jdbcType="VARCHAR" property="pozjlx" />
    <result column="POZHYE" jdbcType="DECIMAL" property="pozhye" />
    <result column="POJZNY" jdbcType="DATE" property="pojzny" />
    <result column="CJR3" jdbcType="VARCHAR" property="cjr3" />
    <result column="CJSJ3" jdbcType="DATE" property="cjsj3" />
    <result column="POSJHM" jdbcType="VARCHAR" property="posjhm" />
    <result column="DKZH" jdbcType="VARCHAR" property="dkzh" />
    <result column="POYSR" jdbcType="DECIMAL" property="poysr" />
    <result column="TZZD4" jdbcType="VARCHAR" property="tzzd4" />
    <result column="TZZD5" jdbcType="VARCHAR" property="tzzd5" />
  </resultMap>
  <sql id="Base_Column_List">
    POBH, PODWZH, PODWMC, PODWDH, POGJJZH, POXM, PONL, POJCZT, POZJHM, POZJLX, POZHYE, 
    POJZNY, CJR3, CJSJ3, POSJHM, DKZH, POYSR, TZZD4, TZZD5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_dk_dkrpo
    where POBH = #{pobh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sy_dk_dkrpo
    where POBH = #{pobh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Sy_dk_dkrpo">
    insert into sy_dk_dkrpo (POBH, PODWZH, PODWMC, 
      PODWDH, POGJJZH, POXM, 
      PONL, POJCZT, POZJHM, 
      POZJLX, POZHYE, POJZNY, 
      CJR3, CJSJ3, POSJHM, DKZH, 
      POYSR, TZZD4, TZZD5
      )
    values (#{pobh,jdbcType=INTEGER}, #{podwzh,jdbcType=VARCHAR}, #{podwmc,jdbcType=VARCHAR}, 
      #{podwdh,jdbcType=VARCHAR}, #{pogjjzh,jdbcType=VARCHAR}, #{poxm,jdbcType=VARCHAR}, 
      #{ponl,jdbcType=DECIMAL}, #{pojczt,jdbcType=VARCHAR}, #{pozjhm,jdbcType=VARCHAR}, 
      #{pozjlx,jdbcType=VARCHAR}, #{pozhye,jdbcType=DECIMAL}, #{pojzny,jdbcType=DATE}, 
      #{cjr3,jdbcType=VARCHAR}, #{cjsj3,jdbcType=DATE}, #{posjhm,jdbcType=VARCHAR}, #{dkzh,jdbcType=VARCHAR}, 
      #{poysr,jdbcType=DECIMAL}, #{tzzd4,jdbcType=VARCHAR}, #{tzzd5,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Sy_dk_dkrpo">
    insert into sy_dk_dkrpo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pobh != null">
        POBH,
      </if>
      <if test="podwzh != null">
        PODWZH,
      </if>
      <if test="podwmc != null">
        PODWMC,
      </if>
      <if test="podwdh != null">
        PODWDH,
      </if>
      <if test="pogjjzh != null">
        POGJJZH,
      </if>
      <if test="poxm != null">
        POXM,
      </if>
      <if test="ponl != null">
        PONL,
      </if>
      <if test="pojczt != null">
        POJCZT,
      </if>
      <if test="pozjhm != null">
        POZJHM,
      </if>
      <if test="pozjlx != null">
        POZJLX,
      </if>
      <if test="pozhye != null">
        POZHYE,
      </if>
      <if test="pojzny != null">
        POJZNY,
      </if>
      <if test="cjr3 != null">
        CJR3,
      </if>
      <if test="cjsj3 != null">
        CJSJ3,
      </if>
      <if test="posjhm != null">
        POSJHM,
      </if>
      <if test="dkzh != null">
        DKZH,
      </if>
      <if test="poysr != null">
        POYSR,
      </if>
      <if test="tzzd4 != null">
        TZZD4,
      </if>
      <if test="tzzd5 != null">
        TZZD5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pobh != null">
        #{pobh,jdbcType=INTEGER},
      </if>
      <if test="podwzh != null">
        #{podwzh,jdbcType=VARCHAR},
      </if>
      <if test="podwmc != null">
        #{podwmc,jdbcType=VARCHAR},
      </if>
      <if test="podwdh != null">
        #{podwdh,jdbcType=VARCHAR},
      </if>
      <if test="pogjjzh != null">
        #{pogjjzh,jdbcType=VARCHAR},
      </if>
      <if test="poxm != null">
        #{poxm,jdbcType=VARCHAR},
      </if>
      <if test="ponl != null">
        #{ponl,jdbcType=DECIMAL},
      </if>
      <if test="pojczt != null">
        #{pojczt,jdbcType=VARCHAR},
      </if>
      <if test="pozjhm != null">
        #{pozjhm,jdbcType=VARCHAR},
      </if>
      <if test="pozjlx != null">
        #{pozjlx,jdbcType=VARCHAR},
      </if>
      <if test="pozhye != null">
        #{pozhye,jdbcType=DECIMAL},
      </if>
      <if test="pojzny != null">
        #{pojzny,jdbcType=DATE},
      </if>
      <if test="cjr3 != null">
        #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        #{cjsj3,jdbcType=DATE},
      </if>
      <if test="posjhm != null">
        #{posjhm,jdbcType=VARCHAR},
      </if>
      <if test="dkzh != null">
        #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="poysr != null">
        #{poysr,jdbcType=DECIMAL},
      </if>
      <if test="tzzd4 != null">
        #{tzzd4,jdbcType=VARCHAR},
      </if>
      <if test="tzzd5 != null">
        #{tzzd5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Sy_dk_dkrpo">
    update sy_dk_dkrpo
    <set>
      <if test="podwzh != null">
        PODWZH = #{podwzh,jdbcType=VARCHAR},
      </if>
      <if test="podwmc != null">
        PODWMC = #{podwmc,jdbcType=VARCHAR},
      </if>
      <if test="podwdh != null">
        PODWDH = #{podwdh,jdbcType=VARCHAR},
      </if>
      <if test="pogjjzh != null">
        POGJJZH = #{pogjjzh,jdbcType=VARCHAR},
      </if>
      <if test="poxm != null">
        POXM = #{poxm,jdbcType=VARCHAR},
      </if>
      <if test="ponl != null">
        PONL = #{ponl,jdbcType=DECIMAL},
      </if>
      <if test="pojczt != null">
        POJCZT = #{pojczt,jdbcType=VARCHAR},
      </if>
      <if test="pozjhm != null">
        POZJHM = #{pozjhm,jdbcType=VARCHAR},
      </if>
      <if test="pozjlx != null">
        POZJLX = #{pozjlx,jdbcType=VARCHAR},
      </if>
      <if test="pozhye != null">
        POZHYE = #{pozhye,jdbcType=DECIMAL},
      </if>
      <if test="pojzny != null">
        POJZNY = #{pojzny,jdbcType=DATE},
      </if>
      <if test="cjr3 != null">
        CJR3 = #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        CJSJ3 = #{cjsj3,jdbcType=DATE},
      </if>
      <if test="posjhm != null">
        POSJHM = #{posjhm,jdbcType=VARCHAR},
      </if>
      <if test="dkzh != null">
        DKZH = #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="poysr != null">
        POYSR = #{poysr,jdbcType=DECIMAL},
      </if>
      <if test="tzzd4 != null">
        TZZD4 = #{tzzd4,jdbcType=VARCHAR},
      </if>
      <if test="tzzd5 != null">
        TZZD5 = #{tzzd5,jdbcType=VARCHAR},
      </if>
    </set>
    where POBH = #{pobh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Sy_dk_dkrpo">
    update sy_dk_dkrpo
    set PODWZH = #{podwzh,jdbcType=VARCHAR},
      PODWMC = #{podwmc,jdbcType=VARCHAR},
      PODWDH = #{podwdh,jdbcType=VARCHAR},
      POGJJZH = #{pogjjzh,jdbcType=VARCHAR},
      POXM = #{poxm,jdbcType=VARCHAR},
      PONL = #{ponl,jdbcType=DECIMAL},
      POJCZT = #{pojczt,jdbcType=VARCHAR},
      POZJHM = #{pozjhm,jdbcType=VARCHAR},
      POZJLX = #{pozjlx,jdbcType=VARCHAR},
      POZHYE = #{pozhye,jdbcType=DECIMAL},
      POJZNY = #{pojzny,jdbcType=DATE},
      CJR3 = #{cjr3,jdbcType=VARCHAR},
      CJSJ3 = #{cjsj3,jdbcType=DATE},
      POSJHM = #{posjhm,jdbcType=VARCHAR},
      DKZH = #{dkzh,jdbcType=VARCHAR},
      POYSR = #{poysr,jdbcType=DECIMAL},
      TZZD4 = #{tzzd4,jdbcType=VARCHAR},
      TZZD5 = #{tzzd5,jdbcType=VARCHAR}
    where POBH = #{pobh,jdbcType=INTEGER}
  </update>
</mapper>