<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_dk_hkjhMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Sy_dk_hkjh">
    <id column="HKJHZJ" jdbcType="INTEGER" property="hkjhzj" />
    <result column="DKZH" jdbcType="VARCHAR" property="dkzh" />
    <result column="YDTQSPZJ" jdbcType="INTEGER" property="ydtqspzj" />
    <result column="HKRQ" jdbcType="DATE" property="hkrq" />
    <result column="QIC" jdbcType="DECIMAL" property="qic" />
    <result column="YHBJ" jdbcType="DECIMAL" property="yhbj" />
    <result column="YHLX" jdbcType="DECIMAL" property="yhlx" />
    <result column="ZTZ" jdbcType="VARCHAR" property="ztz" />
    <result column="CJR" jdbcType="VARCHAR" property="cjr" />
    <result column="CJSJ" jdbcType="DATE" property="cjsj" />
    <result column="TZZD1" jdbcType="VARCHAR" property="tzzd1" />
    <result column="TZZD2" jdbcType="VARCHAR" property="tzzd2" />
    <result column="TZZD3" jdbcType="VARCHAR" property="tzzd3" />
  </resultMap>
  <sql id="Base_Column_List">
    HKJHZJ, DKZH, YDTQSPZJ, HKRQ, QIC, YHBJ, YHLX, ZTZ, CJR, CJSJ, TZZD1, TZZD2, TZZD3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_dk_hkjh
    where HKJHZJ = #{hkjhzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sy_dk_hkjh
    where HKJHZJ = #{hkjhzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Sy_dk_hkjh">
    insert into sy_dk_hkjh (HKJHZJ, DKZH, YDTQSPZJ, 
      HKRQ, QIC, YHBJ, YHLX, 
      ZTZ, CJR, CJSJ, TZZD1, 
      TZZD2, TZZD3)
    values (#{hkjhzj,jdbcType=INTEGER}, #{dkzh,jdbcType=VARCHAR}, #{ydtqspzj,jdbcType=INTEGER}, 
      #{hkrq,jdbcType=DATE}, #{qic,jdbcType=DECIMAL}, #{yhbj,jdbcType=DECIMAL}, #{yhlx,jdbcType=DECIMAL}, 
      #{ztz,jdbcType=VARCHAR}, #{cjr,jdbcType=VARCHAR}, #{cjsj,jdbcType=DATE}, #{tzzd1,jdbcType=VARCHAR}, 
      #{tzzd2,jdbcType=VARCHAR}, #{tzzd3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Sy_dk_hkjh">
    insert into sy_dk_hkjh
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hkjhzj != null">
        HKJHZJ,
      </if>
      <if test="dkzh != null">
        DKZH,
      </if>
      <if test="ydtqspzj != null">
        YDTQSPZJ,
      </if>
      <if test="hkrq != null">
        HKRQ,
      </if>
      <if test="qic != null">
        QIC,
      </if>
      <if test="yhbj != null">
        YHBJ,
      </if>
      <if test="yhlx != null">
        YHLX,
      </if>
      <if test="ztz != null">
        ZTZ,
      </if>
      <if test="cjr != null">
        CJR,
      </if>
      <if test="cjsj != null">
        CJSJ,
      </if>
      <if test="tzzd1 != null">
        TZZD1,
      </if>
      <if test="tzzd2 != null">
        TZZD2,
      </if>
      <if test="tzzd3 != null">
        TZZD3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hkjhzj != null">
        #{hkjhzj,jdbcType=INTEGER},
      </if>
      <if test="dkzh != null">
        #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="ydtqspzj != null">
        #{ydtqspzj,jdbcType=INTEGER},
      </if>
      <if test="hkrq != null">
        #{hkrq,jdbcType=DATE},
      </if>
      <if test="qic != null">
        #{qic,jdbcType=DECIMAL},
      </if>
      <if test="yhbj != null">
        #{yhbj,jdbcType=DECIMAL},
      </if>
      <if test="yhlx != null">
        #{yhlx,jdbcType=DECIMAL},
      </if>
      <if test="ztz != null">
        #{ztz,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null">
        #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=DATE},
      </if>
      <if test="tzzd1 != null">
        #{tzzd1,jdbcType=VARCHAR},
      </if>
      <if test="tzzd2 != null">
        #{tzzd2,jdbcType=VARCHAR},
      </if>
      <if test="tzzd3 != null">
        #{tzzd3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Sy_dk_hkjh">
    update sy_dk_hkjh
    <set>
      <if test="dkzh != null">
        DKZH = #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="ydtqspzj != null">
        YDTQSPZJ = #{ydtqspzj,jdbcType=INTEGER},
      </if>
      <if test="hkrq != null">
        HKRQ = #{hkrq,jdbcType=DATE},
      </if>
      <if test="qic != null">
        QIC = #{qic,jdbcType=DECIMAL},
      </if>
      <if test="yhbj != null">
        YHBJ = #{yhbj,jdbcType=DECIMAL},
      </if>
      <if test="yhlx != null">
        YHLX = #{yhlx,jdbcType=DECIMAL},
      </if>
      <if test="ztz != null">
        ZTZ = #{ztz,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null">
        CJR = #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        CJSJ = #{cjsj,jdbcType=DATE},
      </if>
      <if test="tzzd1 != null">
        TZZD1 = #{tzzd1,jdbcType=VARCHAR},
      </if>
      <if test="tzzd2 != null">
        TZZD2 = #{tzzd2,jdbcType=VARCHAR},
      </if>
      <if test="tzzd3 != null">
        TZZD3 = #{tzzd3,jdbcType=VARCHAR},
      </if>
    </set>
    where HKJHZJ = #{hkjhzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Sy_dk_hkjh">
    update sy_dk_hkjh
    set DKZH = #{dkzh,jdbcType=VARCHAR},
      YDTQSPZJ = #{ydtqspzj,jdbcType=INTEGER},
      HKRQ = #{hkrq,jdbcType=DATE},
      QIC = #{qic,jdbcType=DECIMAL},
      YHBJ = #{yhbj,jdbcType=DECIMAL},
      YHLX = #{yhlx,jdbcType=DECIMAL},
      ZTZ = #{ztz,jdbcType=VARCHAR},
      CJR = #{cjr,jdbcType=VARCHAR},
      CJSJ = #{cjsj,jdbcType=DATE},
      TZZD1 = #{tzzd1,jdbcType=VARCHAR},
      TZZD2 = #{tzzd2,jdbcType=VARCHAR},
      TZZD3 = #{tzzd3,jdbcType=VARCHAR}
    where HKJHZJ = #{hkjhzj,jdbcType=INTEGER}
  </update>
</mapper>