<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.entity.SyDkYhjjjcsj">
  <resultMap id="BaseResultMap" type="com.aaa.entity.SyDkYhjjjcsj">
    <result column="DKZH" jdbcType="VARCHAR" property="dkzh" />
    <result column="JQBJ" jdbcType="DECIMAL" property="jqbj" />
    <result column="JQLX" jdbcType="DECIMAL" property="jqlx" />
    <result column="JYSLX" jdbcType="DECIMAL" property="jyslx" />
    <result column="WDBH" jdbcType="DECIMAL" property="wdbh" />
    <result column="YHDM" jdbcType="VARCHAR" property="yhdm" />
    <result column="JJRQ" jdbcType="DECIMAL" property="jjrq" />
  </resultMap>
  <insert id="insert" parameterType="com.aaa.entity.SyDkYhjjjcsj">
    insert into sy_dk_yhjjjcsj (DKZH, JQBJ, JQLX, 
      JYSLX, WDBH, YHDM, 
      JJRQ)
    values (#{dkzh,jdbcType=VARCHAR}, #{jqbj,jdbcType=DECIMAL}, #{jqlx,jdbcType=DECIMAL}, 
      #{jyslx,jdbcType=DECIMAL}, #{wdbh,jdbcType=DECIMAL}, #{yhdm,jdbcType=VARCHAR}, 
      #{jjrq,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.SyDkYhjjjcsj">
    insert into sy_dk_yhjjjcsj
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dkzh != null">
        DKZH,
      </if>
      <if test="jqbj != null">
        JQBJ,
      </if>
      <if test="jqlx != null">
        JQLX,
      </if>
      <if test="jyslx != null">
        JYSLX,
      </if>
      <if test="wdbh != null">
        WDBH,
      </if>
      <if test="yhdm != null">
        YHDM,
      </if>
      <if test="jjrq != null">
        JJRQ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dkzh != null">
        #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="jqbj != null">
        #{jqbj,jdbcType=DECIMAL},
      </if>
      <if test="jqlx != null">
        #{jqlx,jdbcType=DECIMAL},
      </if>
      <if test="jyslx != null">
        #{jyslx,jdbcType=DECIMAL},
      </if>
      <if test="wdbh != null">
        #{wdbh,jdbcType=DECIMAL},
      </if>
      <if test="yhdm != null">
        #{yhdm,jdbcType=VARCHAR},
      </if>
      <if test="jjrq != null">
        #{jjrq,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>