<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_dk_yhkxqMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Sy_dk_yhkxq">
    <id column="WDBH" jdbcType="DECIMAL" property="wdbh" />
    <result column="KXQBH" jdbcType="VARCHAR" property="kxqbh" />
    <result column="YHDM" jdbcType="VARCHAR" property="yhdm" />
    <result column="YHMC" jdbcType="VARCHAR" property="yhmc" />
    <result column="KXTS" jdbcType="DECIMAL" property="kxts" />
    <result column="QSRQ" jdbcType="DATE" property="qsrq" />
    <result column="JZRQ" jdbcType="DATE" property="jzrq" />
    <result column="CJR" jdbcType="VARCHAR" property="cjr" />
    <result column="CJSJ" jdbcType="DATE" property="cjsj" />
    <result column="TZZD1" jdbcType="VARCHAR" property="tzzd1" />
    <result column="TZZD2" jdbcType="VARCHAR" property="tzzd2" />
    <result column="TZZD3" jdbcType="VARCHAR" property="tzzd3" />
  </resultMap>
  <sql id="Base_Column_List">
    WDBH, KXQBH, YHDM, YHMC, KXTS, QSRQ, JZRQ, CJR, CJSJ, TZZD1, TZZD2, TZZD3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_dk_yhkxq
    where WDBH = #{wdbh,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sy_dk_yhkxq
    where WDBH = #{wdbh,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Sy_dk_yhkxq">
    insert into sy_dk_yhkxq (WDBH, KXQBH, YHDM, 
      YHMC, KXTS, QSRQ, JZRQ, 
      CJR, CJSJ, TZZD1, TZZD2, 
      TZZD3)
    values (#{wdbh,jdbcType=DECIMAL}, #{kxqbh,jdbcType=VARCHAR}, #{yhdm,jdbcType=VARCHAR}, 
      #{yhmc,jdbcType=VARCHAR}, #{kxts,jdbcType=DECIMAL}, #{qsrq,jdbcType=DATE}, #{jzrq,jdbcType=DATE}, 
      #{cjr,jdbcType=VARCHAR}, #{cjsj,jdbcType=DATE}, #{tzzd1,jdbcType=VARCHAR}, #{tzzd2,jdbcType=VARCHAR}, 
      #{tzzd3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Sy_dk_yhkxq">
    insert into sy_dk_yhkxq
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wdbh != null">
        WDBH,
      </if>
      <if test="kxqbh != null">
        KXQBH,
      </if>
      <if test="yhdm != null">
        YHDM,
      </if>
      <if test="yhmc != null">
        YHMC,
      </if>
      <if test="kxts != null">
        KXTS,
      </if>
      <if test="qsrq != null">
        QSRQ,
      </if>
      <if test="jzrq != null">
        JZRQ,
      </if>
      <if test="cjr != null">
        CJR,
      </if>
      <if test="cjsj != null">
        CJSJ,
      </if>
      <if test="tzzd1 != null">
        TZZD1,
      </if>
      <if test="tzzd2 != null">
        TZZD2,
      </if>
      <if test="tzzd3 != null">
        TZZD3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wdbh != null">
        #{wdbh,jdbcType=DECIMAL},
      </if>
      <if test="kxqbh != null">
        #{kxqbh,jdbcType=VARCHAR},
      </if>
      <if test="yhdm != null">
        #{yhdm,jdbcType=VARCHAR},
      </if>
      <if test="yhmc != null">
        #{yhmc,jdbcType=VARCHAR},
      </if>
      <if test="kxts != null">
        #{kxts,jdbcType=DECIMAL},
      </if>
      <if test="qsrq != null">
        #{qsrq,jdbcType=DATE},
      </if>
      <if test="jzrq != null">
        #{jzrq,jdbcType=DATE},
      </if>
      <if test="cjr != null">
        #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=DATE},
      </if>
      <if test="tzzd1 != null">
        #{tzzd1,jdbcType=VARCHAR},
      </if>
      <if test="tzzd2 != null">
        #{tzzd2,jdbcType=VARCHAR},
      </if>
      <if test="tzzd3 != null">
        #{tzzd3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Sy_dk_yhkxq">
    update sy_dk_yhkxq
    <set>
      <if test="kxqbh != null">
        KXQBH = #{kxqbh,jdbcType=VARCHAR},
      </if>
      <if test="yhdm != null">
        YHDM = #{yhdm,jdbcType=VARCHAR},
      </if>
      <if test="yhmc != null">
        YHMC = #{yhmc,jdbcType=VARCHAR},
      </if>
      <if test="kxts != null">
        KXTS = #{kxts,jdbcType=DECIMAL},
      </if>
      <if test="qsrq != null">
        QSRQ = #{qsrq,jdbcType=DATE},
      </if>
      <if test="jzrq != null">
        JZRQ = #{jzrq,jdbcType=DATE},
      </if>
      <if test="cjr != null">
        CJR = #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        CJSJ = #{cjsj,jdbcType=DATE},
      </if>
      <if test="tzzd1 != null">
        TZZD1 = #{tzzd1,jdbcType=VARCHAR},
      </if>
      <if test="tzzd2 != null">
        TZZD2 = #{tzzd2,jdbcType=VARCHAR},
      </if>
      <if test="tzzd3 != null">
        TZZD3 = #{tzzd3,jdbcType=VARCHAR},
      </if>
    </set>
    where WDBH = #{wdbh,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Sy_dk_yhkxq">
    update sy_dk_yhkxq
    set KXQBH = #{kxqbh,jdbcType=VARCHAR},
      YHDM = #{yhdm,jdbcType=VARCHAR},
      YHMC = #{yhmc,jdbcType=VARCHAR},
      KXTS = #{kxts,jdbcType=DECIMAL},
      QSRQ = #{qsrq,jdbcType=DATE},
      JZRQ = #{jzrq,jdbcType=DATE},
      CJR = #{cjr,jdbcType=VARCHAR},
      CJSJ = #{cjsj,jdbcType=DATE},
      TZZD1 = #{tzzd1,jdbcType=VARCHAR},
      TZZD2 = #{tzzd2,jdbcType=VARCHAR},
      TZZD3 = #{tzzd3,jdbcType=VARCHAR}
    where WDBH = #{wdbh,jdbcType=DECIMAL}
  </update>
</mapper>