<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_dk_ghdkrMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Sy_dk_ghdkr">
    <id column="GHDKRZJ" jdbcType="INTEGER" property="ghdkrzj" />
    <result column="DHGLZJ" jdbcType="INTEGER" property="dhglzj" />
    <result column="JLBH2" jdbcType="VARCHAR" property="jlbh2" />
    <result column="BGQDKZH" jdbcType="VARCHAR" property="bgqdkzh" />
    <result column="BGHDKZH" jdbcType="VARCHAR" property="bghdkzh" />
    <result column="CJR3" jdbcType="VARCHAR" property="cjr3" />
    <result column="CJSJ3" jdbcType="DATE" property="cjsj3" />
    <result column="TZZD4" jdbcType="VARCHAR" property="tzzd4" />
    <result column="TZZD5" jdbcType="VARCHAR" property="tzzd5" />
    <result column="TZZD6" jdbcType="VARCHAR" property="tzzd6" />
  </resultMap>
  <sql id="Base_Column_List">
    GHDKRZJ, DHGLZJ, JLBH2, BGQDKZH, BGHDKZH, CJR3, CJSJ3, TZZD4, TZZD5, TZZD6
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_dk_ghdkr
    where GHDKRZJ = #{ghdkrzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sy_dk_ghdkr
    where GHDKRZJ = #{ghdkrzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Sy_dk_ghdkr">
    insert into sy_dk_ghdkr (GHDKRZJ, DHGLZJ, JLBH2, 
      BGQDKZH, BGHDKZH, CJR3, 
      CJSJ3, TZZD4, TZZD5, TZZD6
      )
    values (#{ghdkrzj,jdbcType=INTEGER}, #{dhglzj,jdbcType=INTEGER}, #{jlbh2,jdbcType=VARCHAR}, 
      #{bgqdkzh,jdbcType=VARCHAR}, #{bghdkzh,jdbcType=VARCHAR}, #{cjr3,jdbcType=VARCHAR}, 
      #{cjsj3,jdbcType=DATE}, #{tzzd4,jdbcType=VARCHAR}, #{tzzd5,jdbcType=VARCHAR}, #{tzzd6,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Sy_dk_ghdkr">
    insert into sy_dk_ghdkr
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ghdkrzj != null">
        GHDKRZJ,
      </if>
      <if test="dhglzj != null">
        DHGLZJ,
      </if>
      <if test="jlbh2 != null">
        JLBH2,
      </if>
      <if test="bgqdkzh != null">
        BGQDKZH,
      </if>
      <if test="bghdkzh != null">
        BGHDKZH,
      </if>
      <if test="cjr3 != null">
        CJR3,
      </if>
      <if test="cjsj3 != null">
        CJSJ3,
      </if>
      <if test="tzzd4 != null">
        TZZD4,
      </if>
      <if test="tzzd5 != null">
        TZZD5,
      </if>
      <if test="tzzd6 != null">
        TZZD6,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ghdkrzj != null">
        #{ghdkrzj,jdbcType=INTEGER},
      </if>
      <if test="dhglzj != null">
        #{dhglzj,jdbcType=INTEGER},
      </if>
      <if test="jlbh2 != null">
        #{jlbh2,jdbcType=VARCHAR},
      </if>
      <if test="bgqdkzh != null">
        #{bgqdkzh,jdbcType=VARCHAR},
      </if>
      <if test="bghdkzh != null">
        #{bghdkzh,jdbcType=VARCHAR},
      </if>
      <if test="cjr3 != null">
        #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        #{cjsj3,jdbcType=DATE},
      </if>
      <if test="tzzd4 != null">
        #{tzzd4,jdbcType=VARCHAR},
      </if>
      <if test="tzzd5 != null">
        #{tzzd5,jdbcType=VARCHAR},
      </if>
      <if test="tzzd6 != null">
        #{tzzd6,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Sy_dk_ghdkr">
    update sy_dk_ghdkr
    <set>
      <if test="dhglzj != null">
        DHGLZJ = #{dhglzj,jdbcType=INTEGER},
      </if>
      <if test="jlbh2 != null">
        JLBH2 = #{jlbh2,jdbcType=VARCHAR},
      </if>
      <if test="bgqdkzh != null">
        BGQDKZH = #{bgqdkzh,jdbcType=VARCHAR},
      </if>
      <if test="bghdkzh != null">
        BGHDKZH = #{bghdkzh,jdbcType=VARCHAR},
      </if>
      <if test="cjr3 != null">
        CJR3 = #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        CJSJ3 = #{cjsj3,jdbcType=DATE},
      </if>
      <if test="tzzd4 != null">
        TZZD4 = #{tzzd4,jdbcType=VARCHAR},
      </if>
      <if test="tzzd5 != null">
        TZZD5 = #{tzzd5,jdbcType=VARCHAR},
      </if>
      <if test="tzzd6 != null">
        TZZD6 = #{tzzd6,jdbcType=VARCHAR},
      </if>
    </set>
    where GHDKRZJ = #{ghdkrzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Sy_dk_ghdkr">
    update sy_dk_ghdkr
    set DHGLZJ = #{dhglzj,jdbcType=INTEGER},
      JLBH2 = #{jlbh2,jdbcType=VARCHAR},
      BGQDKZH = #{bgqdkzh,jdbcType=VARCHAR},
      BGHDKZH = #{bghdkzh,jdbcType=VARCHAR},
      CJR3 = #{cjr3,jdbcType=VARCHAR},
      CJSJ3 = #{cjsj3,jdbcType=DATE},
      TZZD4 = #{tzzd4,jdbcType=VARCHAR},
      TZZD5 = #{tzzd5,jdbcType=VARCHAR},
      TZZD6 = #{tzzd6,jdbcType=VARCHAR}
    where GHDKRZJ = #{ghdkrzj,jdbcType=INTEGER}
  </update>
</mapper>