<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_dk_zdhdlbMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Sy_dk_zdhdlb">
    <id column="ZDHKZJ" jdbcType="INTEGER" property="zdhkzj" />
    <result column="HKRZJ" jdbcType="INTEGER" property="hkrzj" />
    <result column="DKZJ" jdbcType="INTEGER" property="dkzj" />
    <result column="DKZHBH" jdbcType="INTEGER" property="dkzhbh" />
    <result column="DHGLZJ" jdbcType="INTEGER" property="dhglzj" />
    <result column="JLBH2" jdbcType="VARCHAR" property="jlbh2" />
    <result column="DKZH" jdbcType="VARCHAR" property="dkzh" />
    <result column="CJR3" jdbcType="VARCHAR" property="cjr3" />
    <result column="CJSJ3" jdbcType="DATE" property="cjsj3" />
  </resultMap>
  <sql id="Base_Column_List">
    ZDHKZJ, HKRZJ, DKZJ, DKZHBH, DHGLZJ, JLBH2, DKZH, CJR3, CJSJ3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_dk_zdhdlb
    where ZDHKZJ = #{zdhkzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sy_dk_zdhdlb
    where ZDHKZJ = #{zdhkzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Sy_dk_zdhdlb">
    insert into sy_dk_zdhdlb (ZDHKZJ, HKRZJ, DKZJ, 
      DKZHBH, DHGLZJ, JLBH2, 
      DKZH, CJR3, CJSJ3)
    values (#{zdhkzj,jdbcType=INTEGER}, #{hkrzj,jdbcType=INTEGER}, #{dkzj,jdbcType=INTEGER}, 
      #{dkzhbh,jdbcType=INTEGER}, #{dhglzj,jdbcType=INTEGER}, #{jlbh2,jdbcType=VARCHAR}, 
      #{dkzh,jdbcType=VARCHAR}, #{cjr3,jdbcType=VARCHAR}, #{cjsj3,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Sy_dk_zdhdlb">
    insert into sy_dk_zdhdlb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zdhkzj != null">
        ZDHKZJ,
      </if>
      <if test="hkrzj != null">
        HKRZJ,
      </if>
      <if test="dkzj != null">
        DKZJ,
      </if>
      <if test="dkzhbh != null">
        DKZHBH,
      </if>
      <if test="dhglzj != null">
        DHGLZJ,
      </if>
      <if test="jlbh2 != null">
        JLBH2,
      </if>
      <if test="dkzh != null">
        DKZH,
      </if>
      <if test="cjr3 != null">
        CJR3,
      </if>
      <if test="cjsj3 != null">
        CJSJ3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zdhkzj != null">
        #{zdhkzj,jdbcType=INTEGER},
      </if>
      <if test="hkrzj != null">
        #{hkrzj,jdbcType=INTEGER},
      </if>
      <if test="dkzj != null">
        #{dkzj,jdbcType=INTEGER},
      </if>
      <if test="dkzhbh != null">
        #{dkzhbh,jdbcType=INTEGER},
      </if>
      <if test="dhglzj != null">
        #{dhglzj,jdbcType=INTEGER},
      </if>
      <if test="jlbh2 != null">
        #{jlbh2,jdbcType=VARCHAR},
      </if>
      <if test="dkzh != null">
        #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="cjr3 != null">
        #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        #{cjsj3,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Sy_dk_zdhdlb">
    update sy_dk_zdhdlb
    <set>
      <if test="hkrzj != null">
        HKRZJ = #{hkrzj,jdbcType=INTEGER},
      </if>
      <if test="dkzj != null">
        DKZJ = #{dkzj,jdbcType=INTEGER},
      </if>
      <if test="dkzhbh != null">
        DKZHBH = #{dkzhbh,jdbcType=INTEGER},
      </if>
      <if test="dhglzj != null">
        DHGLZJ = #{dhglzj,jdbcType=INTEGER},
      </if>
      <if test="jlbh2 != null">
        JLBH2 = #{jlbh2,jdbcType=VARCHAR},
      </if>
      <if test="dkzh != null">
        DKZH = #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="cjr3 != null">
        CJR3 = #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        CJSJ3 = #{cjsj3,jdbcType=DATE},
      </if>
    </set>
    where ZDHKZJ = #{zdhkzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Sy_dk_zdhdlb">
    update sy_dk_zdhdlb
    set HKRZJ = #{hkrzj,jdbcType=INTEGER},
      DKZJ = #{dkzj,jdbcType=INTEGER},
      DKZHBH = #{dkzhbh,jdbcType=INTEGER},
      DHGLZJ = #{dhglzj,jdbcType=INTEGER},
      JLBH2 = #{jlbh2,jdbcType=VARCHAR},
      DKZH = #{dkzh,jdbcType=VARCHAR},
      CJR3 = #{cjr3,jdbcType=VARCHAR},
      CJSJ3 = #{cjsj3,jdbcType=DATE}
    where ZDHKZJ = #{zdhkzj,jdbcType=INTEGER}
  </update>
</mapper>