<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_dk_dhglMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.SyDkDhgl">
    <id column="DHGLZJ" jdbcType="INTEGER" property="dhglzj" />
    <result column="HKJHZJ" jdbcType="INTEGER" property="hkjhzj" />
    <result column="DKZH" jdbcType="VARCHAR" property="dkzh" />
    <result column="QTCSJL" jdbcType="VARCHAR" property="qtcsjl" />
    <result column="DXCSJL" jdbcType="VARCHAR" property="dxcsjl" />
    <result column="DHCSJL" jdbcType="VARCHAR" property="dhcsjl" />
  </resultMap>
  <sql id="Base_Column_List">
    DHGLZJ, HKJHZJ, DKZH, QTCSJL, DXCSJL, DHCSJL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_dk_dhgl
    where DHGLZJ = #{dhglzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sy_dk_dhgl
    where DHGLZJ = #{dhglzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.SyDkDhgl">
    insert into sy_dk_dhgl (DHGLZJ, HKJHZJ, DKZH, 
      QTCSJL, DXCSJL, DHCSJL
      )
    values (#{dhglzj,jdbcType=INTEGER}, #{hkjhzj,jdbcType=INTEGER}, #{dkzh,jdbcType=VARCHAR}, 
      #{qtcsjl,jdbcType=VARCHAR}, #{dxcsjl,jdbcType=VARCHAR}, #{dhcsjl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.SyDkDhgl">
    insert into sy_dk_dhgl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dhglzj != null">
        DHGLZJ,
      </if>
      <if test="hkjhzj != null">
        HKJHZJ,
      </if>
      <if test="dkzh != null">
        DKZH,
      </if>
      <if test="qtcsjl != null">
        QTCSJL,
      </if>
      <if test="dxcsjl != null">
        DXCSJL,
      </if>
      <if test="dhcsjl != null">
        DHCSJL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dhglzj != null">
        #{dhglzj,jdbcType=INTEGER},
      </if>
      <if test="hkjhzj != null">
        #{hkjhzj,jdbcType=INTEGER},
      </if>
      <if test="dkzh != null">
        #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="qtcsjl != null">
        #{qtcsjl,jdbcType=VARCHAR},
      </if>
      <if test="dxcsjl != null">
        #{dxcsjl,jdbcType=VARCHAR},
      </if>
      <if test="dhcsjl != null">
        #{dhcsjl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.SyDkDhgl">
    update sy_dk_dhgl
    <set>
      <if test="hkjhzj != null">
        HKJHZJ = #{hkjhzj,jdbcType=INTEGER},
      </if>
      <if test="dkzh != null">
        DKZH = #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="qtcsjl != null">
        QTCSJL = #{qtcsjl,jdbcType=VARCHAR},
      </if>
      <if test="dxcsjl != null">
        DXCSJL = #{dxcsjl,jdbcType=VARCHAR},
      </if>
      <if test="dhcsjl != null">
        DHCSJL = #{dhcsjl,jdbcType=VARCHAR},
      </if>
    </set>
    where DHGLZJ = #{dhglzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.SyDkDhgl">
    update sy_dk_dhgl
    set HKJHZJ = #{hkjhzj,jdbcType=INTEGER},
      DKZH = #{dkzh,jdbcType=VARCHAR},
      QTCSJL = #{qtcsjl,jdbcType=VARCHAR},
      DXCSJL = #{dxcsjl,jdbcType=VARCHAR},
      DHCSJL = #{dhcsjl,jdbcType=VARCHAR}
    where DHGLZJ = #{dhglzj,jdbcType=INTEGER}
  </update>
</mapper>