<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_dk_qtfzMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Sy_dk_qtfz">
    <id column="FZBH" jdbcType="INTEGER" property="fzbh" />
    <result column="JKHTBH" jdbcType="VARCHAR" property="jkhtbh" />
    <result column="JKRGJJZH" jdbcType="VARCHAR" property="jkrgjjzh" />
    <result column="JTGXDM" jdbcType="VARCHAR" property="jtgxdm" />
    <result column="DKFFRQ" jdbcType="DATE" property="dkffrq" />
    <result column="DKDQRQ" jdbcType="DATE" property="dkdqrq" />
    <result column="HTJE" jdbcType="DECIMAL" property="htje" />
    <result column="DKYE" jdbcType="DECIMAL" property="dkye" />
    <result column="DQYQQS" jdbcType="DECIMAL" property="dqyqqs" />
    <result column="WGHBX90" jdbcType="DECIMAL" property="wghbx90" />
    <result column="WGHBX180" jdbcType="DECIMAL" property="wghbx180" />
    <result column="CJR3" jdbcType="VARCHAR" property="cjr3" />
    <result column="CJSJ3" jdbcType="DATE" property="cjsj3" />
  </resultMap>
  <sql id="Base_Column_List">
    FZBH, JKHTBH, JKRGJJZH, JTGXDM, DKFFRQ, DKDQRQ, HTJE, DKYE, DQYQQS, WGHBX90, WGHBX180, 
    CJR3, CJSJ3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_dk_qtfz
    where FZBH = #{fzbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sy_dk_qtfz
    where FZBH = #{fzbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Sy_dk_qtfz">
    insert into sy_dk_qtfz (FZBH, JKHTBH, JKRGJJZH, 
      JTGXDM, DKFFRQ, DKDQRQ, HTJE, 
      DKYE, DQYQQS, WGHBX90, 
      WGHBX180, CJR3, CJSJ3)
    values (#{fzbh,jdbcType=INTEGER}, #{jkhtbh,jdbcType=VARCHAR}, #{jkrgjjzh,jdbcType=VARCHAR}, 
      #{jtgxdm,jdbcType=VARCHAR}, #{dkffrq,jdbcType=DATE}, #{dkdqrq,jdbcType=DATE}, #{htje,jdbcType=DECIMAL}, 
      #{dkye,jdbcType=DECIMAL}, #{dqyqqs,jdbcType=DECIMAL}, #{wghbx90,jdbcType=DECIMAL}, 
      #{wghbx180,jdbcType=DECIMAL}, #{cjr3,jdbcType=VARCHAR}, #{cjsj3,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Sy_dk_qtfz">
    insert into sy_dk_qtfz
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fzbh != null">
        FZBH,
      </if>
      <if test="jkhtbh != null">
        JKHTBH,
      </if>
      <if test="jkrgjjzh != null">
        JKRGJJZH,
      </if>
      <if test="jtgxdm != null">
        JTGXDM,
      </if>
      <if test="dkffrq != null">
        DKFFRQ,
      </if>
      <if test="dkdqrq != null">
        DKDQRQ,
      </if>
      <if test="htje != null">
        HTJE,
      </if>
      <if test="dkye != null">
        DKYE,
      </if>
      <if test="dqyqqs != null">
        DQYQQS,
      </if>
      <if test="wghbx90 != null">
        WGHBX90,
      </if>
      <if test="wghbx180 != null">
        WGHBX180,
      </if>
      <if test="cjr3 != null">
        CJR3,
      </if>
      <if test="cjsj3 != null">
        CJSJ3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fzbh != null">
        #{fzbh,jdbcType=INTEGER},
      </if>
      <if test="jkhtbh != null">
        #{jkhtbh,jdbcType=VARCHAR},
      </if>
      <if test="jkrgjjzh != null">
        #{jkrgjjzh,jdbcType=VARCHAR},
      </if>
      <if test="jtgxdm != null">
        #{jtgxdm,jdbcType=VARCHAR},
      </if>
      <if test="dkffrq != null">
        #{dkffrq,jdbcType=DATE},
      </if>
      <if test="dkdqrq != null">
        #{dkdqrq,jdbcType=DATE},
      </if>
      <if test="htje != null">
        #{htje,jdbcType=DECIMAL},
      </if>
      <if test="dkye != null">
        #{dkye,jdbcType=DECIMAL},
      </if>
      <if test="dqyqqs != null">
        #{dqyqqs,jdbcType=DECIMAL},
      </if>
      <if test="wghbx90 != null">
        #{wghbx90,jdbcType=DECIMAL},
      </if>
      <if test="wghbx180 != null">
        #{wghbx180,jdbcType=DECIMAL},
      </if>
      <if test="cjr3 != null">
        #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        #{cjsj3,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Sy_dk_qtfz">
    update sy_dk_qtfz
    <set>
      <if test="jkhtbh != null">
        JKHTBH = #{jkhtbh,jdbcType=VARCHAR},
      </if>
      <if test="jkrgjjzh != null">
        JKRGJJZH = #{jkrgjjzh,jdbcType=VARCHAR},
      </if>
      <if test="jtgxdm != null">
        JTGXDM = #{jtgxdm,jdbcType=VARCHAR},
      </if>
      <if test="dkffrq != null">
        DKFFRQ = #{dkffrq,jdbcType=DATE},
      </if>
      <if test="dkdqrq != null">
        DKDQRQ = #{dkdqrq,jdbcType=DATE},
      </if>
      <if test="htje != null">
        HTJE = #{htje,jdbcType=DECIMAL},
      </if>
      <if test="dkye != null">
        DKYE = #{dkye,jdbcType=DECIMAL},
      </if>
      <if test="dqyqqs != null">
        DQYQQS = #{dqyqqs,jdbcType=DECIMAL},
      </if>
      <if test="wghbx90 != null">
        WGHBX90 = #{wghbx90,jdbcType=DECIMAL},
      </if>
      <if test="wghbx180 != null">
        WGHBX180 = #{wghbx180,jdbcType=DECIMAL},
      </if>
      <if test="cjr3 != null">
        CJR3 = #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        CJSJ3 = #{cjsj3,jdbcType=DATE},
      </if>
    </set>
    where FZBH = #{fzbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Sy_dk_qtfz">
    update sy_dk_qtfz
    set JKHTBH = #{jkhtbh,jdbcType=VARCHAR},
      JKRGJJZH = #{jkrgjjzh,jdbcType=VARCHAR},
      JTGXDM = #{jtgxdm,jdbcType=VARCHAR},
      DKFFRQ = #{dkffrq,jdbcType=DATE},
      DKDQRQ = #{dkdqrq,jdbcType=DATE},
      HTJE = #{htje,jdbcType=DECIMAL},
      DKYE = #{dkye,jdbcType=DECIMAL},
      DQYQQS = #{dqyqqs,jdbcType=DECIMAL},
      WGHBX90 = #{wghbx90,jdbcType=DECIMAL},
      WGHBX180 = #{wghbx180,jdbcType=DECIMAL},
      CJR3 = #{cjr3,jdbcType=VARCHAR},
      CJSJ3 = #{cjsj3,jdbcType=DATE}
    where FZBH = #{fzbh,jdbcType=INTEGER}
  </update>
</mapper>