<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_dk_kfslpxxMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Sy_dk_kfslpxx">
    <result column="KFSBH" jdbcType="VARCHAR" property="kfsbh" />
    <result column="LPBH" jdbcType="VARCHAR" property="lpbh" />
    <result column="LPMC" jdbcType="VARCHAR" property="lpmc" />
    <result column="LPWZ" jdbcType="VARCHAR" property="lpwz" />
    <result column="JZJG" jdbcType="VARCHAR" property="jzjg" />
    <result column="TZZD1" jdbcType="VARCHAR" property="tzzd1" />
    <result column="TZZD2" jdbcType="VARCHAR" property="tzzd2" />
    <result column="TZZD3" jdbcType="VARCHAR" property="tzzd3" />
    <result column="CJR" jdbcType="VARCHAR" property="cjr" />
    <result column="CJSJ" jdbcType="DATE" property="cjsj" />
    <result column="LPBAH" jdbcType="VARCHAR" property="lpbah" />
  </resultMap>
  <insert id="insert" parameterType="com.aaa.entity.Sy_dk_kfslpxx">
    insert into sy_dk_kfslpxx (KFSBH, LPBH, LPMC, 
      LPWZ, JZJG, TZZD1, 
      TZZD2, TZZD3, CJR, 
      CJSJ, LPBAH)
    values (#{kfsbh,jdbcType=VARCHAR}, #{lpbh,jdbcType=VARCHAR}, #{lpmc,jdbcType=VARCHAR}, 
      #{lpwz,jdbcType=VARCHAR}, #{jzjg,jdbcType=VARCHAR}, #{tzzd1,jdbcType=VARCHAR}, 
      #{tzzd2,jdbcType=VARCHAR}, #{tzzd3,jdbcType=VARCHAR}, #{cjr,jdbcType=VARCHAR}, 
      #{cjsj,jdbcType=DATE}, #{lpbah,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Sy_dk_kfslpxx">
    insert into sy_dk_kfslpxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kfsbh != null">
        KFSBH,
      </if>
      <if test="lpbh != null">
        LPBH,
      </if>
      <if test="lpmc != null">
        LPMC,
      </if>
      <if test="lpwz != null">
        LPWZ,
      </if>
      <if test="jzjg != null">
        JZJG,
      </if>
      <if test="tzzd1 != null">
        TZZD1,
      </if>
      <if test="tzzd2 != null">
        TZZD2,
      </if>
      <if test="tzzd3 != null">
        TZZD3,
      </if>
      <if test="cjr != null">
        CJR,
      </if>
      <if test="cjsj != null">
        CJSJ,
      </if>
      <if test="lpbah != null">
        LPBAH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kfsbh != null">
        #{kfsbh,jdbcType=VARCHAR},
      </if>
      <if test="lpbh != null">
        #{lpbh,jdbcType=VARCHAR},
      </if>
      <if test="lpmc != null">
        #{lpmc,jdbcType=VARCHAR},
      </if>
      <if test="lpwz != null">
        #{lpwz,jdbcType=VARCHAR},
      </if>
      <if test="jzjg != null">
        #{jzjg,jdbcType=VARCHAR},
      </if>
      <if test="tzzd1 != null">
        #{tzzd1,jdbcType=VARCHAR},
      </if>
      <if test="tzzd2 != null">
        #{tzzd2,jdbcType=VARCHAR},
      </if>
      <if test="tzzd3 != null">
        #{tzzd3,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null">
        #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=DATE},
      </if>
      <if test="lpbah != null">
        #{lpbah,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>