<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_gj_tqspbMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Sy_gj_tqspb">
    <id column="TQBH" jdbcType="INTEGER" property="tqbh" />
    <result column="YDTQSPZJ" jdbcType="INTEGER" property="ydtqspzj" />
    <result column="GRBH" jdbcType="INTEGER" property="grbh" />
    <result column="GRZH" jdbcType="VARCHAR" property="grzh" />
    <result column="SQSJ" jdbcType="DATE" property="sqsj" />
    <result column="ZGXM" jdbcType="VARCHAR" property="zgxm" />
    <result column="ZJLX" jdbcType="VARCHAR" property="zjlx" />
    <result column="ZJHM" jdbcType="VARCHAR" property="zjhm" />
    <result column="DWZH3" jdbcType="VARCHAR" property="dwzh3" />
    <result column="DWMC2" jdbcType="VARCHAR" property="dwmc2" />
    <result column="TQYYDM" jdbcType="VARCHAR" property="tqyydm" />
    <result column="TQYYNR" jdbcType="VARCHAR" property="tqyynr" />
    <result column="TQLX" jdbcType="VARCHAR" property="tqlx" />
    <result column="SQTQJEXX" jdbcType="DECIMAL" property="sqtqjexx" />
    <result column="SQTQJEDX" jdbcType="VARCHAR" property="sqtqjedx" />
    <result column="TQFS2" jdbcType="VARCHAR" property="tqfs2" />
    <result column="SQRSKHM" jdbcType="VARCHAR" property="sqrskhm" />
    <result column="SQRKHYHDM" jdbcType="VARCHAR" property="sqrkhyhdm" />
    <result column="SQRKHYHMC" jdbcType="VARCHAR" property="sqrkhyhmc" />
    <result column="SQRSKZH" jdbcType="VARCHAR" property="sqrskzh" />
    <result column="WTRXM" jdbcType="VARCHAR" property="wtrxm" />
    <result column="WTRSFZH" jdbcType="VARCHAR" property="wtrsfzh" />
    <result column="ZYTQJEXX" jdbcType="DECIMAL" property="zytqjexx" />
    <result column="ZYTQJEDX" jdbcType="VARCHAR" property="zytqjedx" />
    <result column="HKYHDM" jdbcType="VARCHAR" property="hkyhdm" />
    <result column="HKYHMC" jdbcType="VARCHAR" property="hkyhmc" />
    <result column="SPZT2" jdbcType="VARCHAR" property="spzt2" />
    <result column="SPSJ" jdbcType="DATE" property="spsj" />
    <result column="TZZD4" jdbcType="VARCHAR" property="tzzd4" />
    <result column="TZZD5" jdbcType="VARCHAR" property="tzzd5" />
    <result column="GRYWLSH" jdbcType="VARCHAR" property="grywlsh" />
    <result column="SFDW" jdbcType="VARCHAR" property="sfdw" />
    <result column="SFDZ" jdbcType="VARCHAR" property="sfdz" />
    <result column="SFLXDH" jdbcType="VARCHAR" property="sflxdh" />
    <result column="GFRXM" jdbcType="VARCHAR" property="gfrxm" />
    <result column="FWDZ" jdbcType="VARCHAR" property="fwdz" />
    <result column="GFHTHXYH" jdbcType="VARCHAR" property="gfhthxyh" />
    <result column="JZMJ" jdbcType="DECIMAL" property="jzmj" />
    <result column="FWDJ" jdbcType="DECIMAL" property="fwdj" />
    <result column="FWZJ" jdbcType="DECIMAL" property="fwzj" />
    <result column="FWXZ" jdbcType="VARCHAR" property="fwxz" />
    <result column="FXFLX" jdbcType="VARCHAR" property="fxflx" />
    <result column="JHJZFY" jdbcType="DECIMAL" property="jhjzfy" />
    <result column="XJBW" jdbcType="VARCHAR" property="xjbw" />
    <result column="JHKGRQ" jdbcType="DATE" property="jhkgrq" />
    <result column="JHJGRQ" jdbcType="DATE" property="jhjgrq" />
    <result column="ZZFWLX" jdbcType="VARCHAR" property="zzfwlx" />
    <result column="FZZC" jdbcType="DECIMAL" property="fzzc" />
    <result column="ZFHTBH" jdbcType="VARCHAR" property="zfhtbh" />
    <result column="ZZLDHTWJH" jdbcType="VARCHAR" property="zzldhtwjh" />
    <result column="FWDW" jdbcType="VARCHAR" property="fwdw" />
    <result column="HDDZ" jdbcType="VARCHAR" property="hddz" />
    <result column="JKHTH" jdbcType="VARCHAR" property="jkhth" />
    <result column="DKLX" jdbcType="VARCHAR" property="dklx" />
    <result column="HKBZ" jdbcType="VARCHAR" property="hkbz" />
    <result column="TXPWWH" jdbcType="VARCHAR" property="txpwwh" />
    <result column="TXPZDW" jdbcType="VARCHAR" property="txpzdw" />
    <result column="SNJZ" jdbcType="DECIMAL" property="snjz" />
    <result column="BNJC2" jdbcType="DECIMAL" property="bnjc2" />
    <result column="GFRSFZH" jdbcType="VARCHAR" property="gfrsfzh" />
    <result column="DKZH" jdbcType="VARCHAR" property="dkzh" />
    <result column="SZT" jdbcType="VARCHAR" property="szt" />
    <result column="TQZE" jdbcType="DECIMAL" property="tqze" />
    <result column="CZBZ2" jdbcType="VARCHAR" property="czbz2" />
    <result column="CJR3" jdbcType="VARCHAR" property="cjr3" />
    <result column="YQBH" jdbcType="VARCHAR" property="yqbh" />
    <result column="YQQC" jdbcType="DECIMAL" property="yqqc" />
    <result column="YQBJ" jdbcType="DECIMAL" property="yqbj" />
    <result column="YQLX" jdbcType="DECIMAL" property="yqlx" />
    <result column="YQFX" jdbcType="DECIMAL" property="yqfx" />
    <result column="YQHJ" jdbcType="VARCHAR" property="yqhj" />
    <result column="JHBH" jdbcType="VARCHAR" property="jhbh" />
    <result column="TQHKLX" jdbcType="DECIMAL" property="tqhklx" />
    <result column="TQHKJE" jdbcType="DECIMAL" property="tqhkje" />
    <result column="HKZJE" jdbcType="DECIMAL" property="hkzje" />
    <result column="DKYHDM" jdbcType="VARCHAR" property="dkyhdm" />
    <result column="WDBH3" jdbcType="DECIMAL" property="wdbh3" />
    <result column="DKYWMXLX" jdbcType="VARCHAR" property="dkywmxlx" />
    <result column="HKZBJ" jdbcType="DECIMAL" property="hkzbj" />
    <result column="HKZLX" jdbcType="DECIMAL" property="hkzlx" />
    <result column="HKZFX" jdbcType="DECIMAL" property="hkzfx" />
    <result column="CZYWLSH2" jdbcType="VARCHAR" property="czywlsh2" />
    <result column="PLBZ" jdbcType="VARCHAR" property="plbz" />
    <result column="CJBH" jdbcType="VARCHAR" property="cjbh" />
  </resultMap>
  <sql id="Base_Column_List">
    TQBH, YDTQSPZJ, GRBH, GRZH, SQSJ, ZGXM, ZJLX, ZJHM, DWZH3, DWMC2, TQYYDM, TQYYNR, 
    TQLX, SQTQJEXX, SQTQJEDX, TQFS2, SQRSKHM, SQRKHYHDM, SQRKHYHMC, SQRSKZH, WTRXM, WTRSFZH, 
    ZYTQJEXX, ZYTQJEDX, HKYHDM, HKYHMC, SPZT2, SPSJ, TZZD4, TZZD5, GRYWLSH, SFDW, SFDZ, 
    SFLXDH, GFRXM, FWDZ, GFHTHXYH, JZMJ, FWDJ, FWZJ, FWXZ, FXFLX, JHJZFY, XJBW, JHKGRQ, 
    JHJGRQ, ZZFWLX, FZZC, ZFHTBH, ZZLDHTWJH, FWDW, HDDZ, JKHTH, DKLX, HKBZ, TXPWWH, TXPZDW, 
    SNJZ, BNJC2, GFRSFZH, DKZH, SZT, TQZE, CZBZ2, CJR3, YQBH, YQQC, YQBJ, YQLX, YQFX, 
    YQHJ, JHBH, TQHKLX, TQHKJE, HKZJE, DKYHDM, WDBH3, DKYWMXLX, HKZBJ, HKZLX, HKZFX, 
    CZYWLSH2, PLBZ, CJBH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_gj_tqspb
    where TQBH = #{tqbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sy_gj_tqspb
    where TQBH = #{tqbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Sy_gj_tqspb">
    insert into sy_gj_tqspb (TQBH, YDTQSPZJ, GRBH, 
      GRZH, SQSJ, ZGXM, ZJLX, 
      ZJHM, DWZH3, DWMC2, 
      TQYYDM, TQYYNR, TQLX, 
      SQTQJEXX, SQTQJEDX, TQFS2, 
      SQRSKHM, SQRKHYHDM, SQRKHYHMC, 
      SQRSKZH, WTRXM, WTRSFZH, 
      ZYTQJEXX, ZYTQJEDX, HKYHDM, 
      HKYHMC, SPZT2, SPSJ, TZZD4, 
      TZZD5, GRYWLSH, SFDW, 
      SFDZ, SFLXDH, GFRXM, 
      FWDZ, GFHTHXYH, JZMJ, 
      FWDJ, FWZJ, FWXZ, FXFLX, 
      JHJZFY, XJBW, JHKGRQ, 
      JHJGRQ, ZZFWLX, FZZC, 
      ZFHTBH, ZZLDHTWJH, FWDW, 
      HDDZ, JKHTH, DKLX, 
      HKBZ, TXPWWH, TXPZDW, 
      SNJZ, BNJC2, GFRSFZH, 
      DKZH, SZT, TQZE, CZBZ2, 
      CJR3, YQBH, YQQC, YQBJ, 
      YQLX, YQFX, YQHJ, JHBH, 
      TQHKLX, TQHKJE, HKZJE, 
      DKYHDM, WDBH3, DKYWMXLX, 
      HKZBJ, HKZLX, HKZFX, 
      CZYWLSH2, PLBZ, CJBH
      )
    values (#{tqbh,jdbcType=INTEGER}, #{ydtqspzj,jdbcType=INTEGER}, #{grbh,jdbcType=INTEGER}, 
      #{grzh,jdbcType=VARCHAR}, #{sqsj,jdbcType=DATE}, #{zgxm,jdbcType=VARCHAR}, #{zjlx,jdbcType=VARCHAR}, 
      #{zjhm,jdbcType=VARCHAR}, #{dwzh3,jdbcType=VARCHAR}, #{dwmc2,jdbcType=VARCHAR}, 
      #{tqyydm,jdbcType=VARCHAR}, #{tqyynr,jdbcType=VARCHAR}, #{tqlx,jdbcType=VARCHAR}, 
      #{sqtqjexx,jdbcType=DECIMAL}, #{sqtqjedx,jdbcType=VARCHAR}, #{tqfs2,jdbcType=VARCHAR}, 
      #{sqrskhm,jdbcType=VARCHAR}, #{sqrkhyhdm,jdbcType=VARCHAR}, #{sqrkhyhmc,jdbcType=VARCHAR}, 
      #{sqrskzh,jdbcType=VARCHAR}, #{wtrxm,jdbcType=VARCHAR}, #{wtrsfzh,jdbcType=VARCHAR}, 
      #{zytqjexx,jdbcType=DECIMAL}, #{zytqjedx,jdbcType=VARCHAR}, #{hkyhdm,jdbcType=VARCHAR}, 
      #{hkyhmc,jdbcType=VARCHAR}, #{spzt2,jdbcType=VARCHAR}, #{spsj,jdbcType=DATE}, #{tzzd4,jdbcType=VARCHAR}, 
      #{tzzd5,jdbcType=VARCHAR}, #{grywlsh,jdbcType=VARCHAR}, #{sfdw,jdbcType=VARCHAR}, 
      #{sfdz,jdbcType=VARCHAR}, #{sflxdh,jdbcType=VARCHAR}, #{gfrxm,jdbcType=VARCHAR}, 
      #{fwdz,jdbcType=VARCHAR}, #{gfhthxyh,jdbcType=VARCHAR}, #{jzmj,jdbcType=DECIMAL}, 
      #{fwdj,jdbcType=DECIMAL}, #{fwzj,jdbcType=DECIMAL}, #{fwxz,jdbcType=VARCHAR}, #{fxflx,jdbcType=VARCHAR}, 
      #{jhjzfy,jdbcType=DECIMAL}, #{xjbw,jdbcType=VARCHAR}, #{jhkgrq,jdbcType=DATE}, 
      #{jhjgrq,jdbcType=DATE}, #{zzfwlx,jdbcType=VARCHAR}, #{fzzc,jdbcType=DECIMAL}, 
      #{zfhtbh,jdbcType=VARCHAR}, #{zzldhtwjh,jdbcType=VARCHAR}, #{fwdw,jdbcType=VARCHAR}, 
      #{hddz,jdbcType=VARCHAR}, #{jkhth,jdbcType=VARCHAR}, #{dklx,jdbcType=VARCHAR}, 
      #{hkbz,jdbcType=VARCHAR}, #{txpwwh,jdbcType=VARCHAR}, #{txpzdw,jdbcType=VARCHAR}, 
      #{snjz,jdbcType=DECIMAL}, #{bnjc2,jdbcType=DECIMAL}, #{gfrsfzh,jdbcType=VARCHAR}, 
      #{dkzh,jdbcType=VARCHAR}, #{szt,jdbcType=VARCHAR}, #{tqze,jdbcType=DECIMAL}, #{czbz2,jdbcType=VARCHAR}, 
      #{cjr3,jdbcType=VARCHAR}, #{yqbh,jdbcType=VARCHAR}, #{yqqc,jdbcType=DECIMAL}, #{yqbj,jdbcType=DECIMAL}, 
      #{yqlx,jdbcType=DECIMAL}, #{yqfx,jdbcType=DECIMAL}, #{yqhj,jdbcType=VARCHAR}, #{jhbh,jdbcType=VARCHAR}, 
      #{tqhklx,jdbcType=DECIMAL}, #{tqhkje,jdbcType=DECIMAL}, #{hkzje,jdbcType=DECIMAL}, 
      #{dkyhdm,jdbcType=VARCHAR}, #{wdbh3,jdbcType=DECIMAL}, #{dkywmxlx,jdbcType=VARCHAR}, 
      #{hkzbj,jdbcType=DECIMAL}, #{hkzlx,jdbcType=DECIMAL}, #{hkzfx,jdbcType=DECIMAL}, 
      #{czywlsh2,jdbcType=VARCHAR}, #{plbz,jdbcType=VARCHAR}, #{cjbh,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Sy_gj_tqspb">
    insert into sy_gj_tqspb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tqbh != null">
        TQBH,
      </if>
      <if test="ydtqspzj != null">
        YDTQSPZJ,
      </if>
      <if test="grbh != null">
        GRBH,
      </if>
      <if test="grzh != null">
        GRZH,
      </if>
      <if test="sqsj != null">
        SQSJ,
      </if>
      <if test="zgxm != null">
        ZGXM,
      </if>
      <if test="zjlx != null">
        ZJLX,
      </if>
      <if test="zjhm != null">
        ZJHM,
      </if>
      <if test="dwzh3 != null">
        DWZH3,
      </if>
      <if test="dwmc2 != null">
        DWMC2,
      </if>
      <if test="tqyydm != null">
        TQYYDM,
      </if>
      <if test="tqyynr != null">
        TQYYNR,
      </if>
      <if test="tqlx != null">
        TQLX,
      </if>
      <if test="sqtqjexx != null">
        SQTQJEXX,
      </if>
      <if test="sqtqjedx != null">
        SQTQJEDX,
      </if>
      <if test="tqfs2 != null">
        TQFS2,
      </if>
      <if test="sqrskhm != null">
        SQRSKHM,
      </if>
      <if test="sqrkhyhdm != null">
        SQRKHYHDM,
      </if>
      <if test="sqrkhyhmc != null">
        SQRKHYHMC,
      </if>
      <if test="sqrskzh != null">
        SQRSKZH,
      </if>
      <if test="wtrxm != null">
        WTRXM,
      </if>
      <if test="wtrsfzh != null">
        WTRSFZH,
      </if>
      <if test="zytqjexx != null">
        ZYTQJEXX,
      </if>
      <if test="zytqjedx != null">
        ZYTQJEDX,
      </if>
      <if test="hkyhdm != null">
        HKYHDM,
      </if>
      <if test="hkyhmc != null">
        HKYHMC,
      </if>
      <if test="spzt2 != null">
        SPZT2,
      </if>
      <if test="spsj != null">
        SPSJ,
      </if>
      <if test="tzzd4 != null">
        TZZD4,
      </if>
      <if test="tzzd5 != null">
        TZZD5,
      </if>
      <if test="grywlsh != null">
        GRYWLSH,
      </if>
      <if test="sfdw != null">
        SFDW,
      </if>
      <if test="sfdz != null">
        SFDZ,
      </if>
      <if test="sflxdh != null">
        SFLXDH,
      </if>
      <if test="gfrxm != null">
        GFRXM,
      </if>
      <if test="fwdz != null">
        FWDZ,
      </if>
      <if test="gfhthxyh != null">
        GFHTHXYH,
      </if>
      <if test="jzmj != null">
        JZMJ,
      </if>
      <if test="fwdj != null">
        FWDJ,
      </if>
      <if test="fwzj != null">
        FWZJ,
      </if>
      <if test="fwxz != null">
        FWXZ,
      </if>
      <if test="fxflx != null">
        FXFLX,
      </if>
      <if test="jhjzfy != null">
        JHJZFY,
      </if>
      <if test="xjbw != null">
        XJBW,
      </if>
      <if test="jhkgrq != null">
        JHKGRQ,
      </if>
      <if test="jhjgrq != null">
        JHJGRQ,
      </if>
      <if test="zzfwlx != null">
        ZZFWLX,
      </if>
      <if test="fzzc != null">
        FZZC,
      </if>
      <if test="zfhtbh != null">
        ZFHTBH,
      </if>
      <if test="zzldhtwjh != null">
        ZZLDHTWJH,
      </if>
      <if test="fwdw != null">
        FWDW,
      </if>
      <if test="hddz != null">
        HDDZ,
      </if>
      <if test="jkhth != null">
        JKHTH,
      </if>
      <if test="dklx != null">
        DKLX,
      </if>
      <if test="hkbz != null">
        HKBZ,
      </if>
      <if test="txpwwh != null">
        TXPWWH,
      </if>
      <if test="txpzdw != null">
        TXPZDW,
      </if>
      <if test="snjz != null">
        SNJZ,
      </if>
      <if test="bnjc2 != null">
        BNJC2,
      </if>
      <if test="gfrsfzh != null">
        GFRSFZH,
      </if>
      <if test="dkzh != null">
        DKZH,
      </if>
      <if test="szt != null">
        SZT,
      </if>
      <if test="tqze != null">
        TQZE,
      </if>
      <if test="czbz2 != null">
        CZBZ2,
      </if>
      <if test="cjr3 != null">
        CJR3,
      </if>
      <if test="yqbh != null">
        YQBH,
      </if>
      <if test="yqqc != null">
        YQQC,
      </if>
      <if test="yqbj != null">
        YQBJ,
      </if>
      <if test="yqlx != null">
        YQLX,
      </if>
      <if test="yqfx != null">
        YQFX,
      </if>
      <if test="yqhj != null">
        YQHJ,
      </if>
      <if test="jhbh != null">
        JHBH,
      </if>
      <if test="tqhklx != null">
        TQHKLX,
      </if>
      <if test="tqhkje != null">
        TQHKJE,
      </if>
      <if test="hkzje != null">
        HKZJE,
      </if>
      <if test="dkyhdm != null">
        DKYHDM,
      </if>
      <if test="wdbh3 != null">
        WDBH3,
      </if>
      <if test="dkywmxlx != null">
        DKYWMXLX,
      </if>
      <if test="hkzbj != null">
        HKZBJ,
      </if>
      <if test="hkzlx != null">
        HKZLX,
      </if>
      <if test="hkzfx != null">
        HKZFX,
      </if>
      <if test="czywlsh2 != null">
        CZYWLSH2,
      </if>
      <if test="plbz != null">
        PLBZ,
      </if>
      <if test="cjbh != null">
        CJBH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tqbh != null">
        #{tqbh,jdbcType=INTEGER},
      </if>
      <if test="ydtqspzj != null">
        #{ydtqspzj,jdbcType=INTEGER},
      </if>
      <if test="grbh != null">
        #{grbh,jdbcType=INTEGER},
      </if>
      <if test="grzh != null">
        #{grzh,jdbcType=VARCHAR},
      </if>
      <if test="sqsj != null">
        #{sqsj,jdbcType=DATE},
      </if>
      <if test="zgxm != null">
        #{zgxm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null">
        #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="zjhm != null">
        #{zjhm,jdbcType=VARCHAR},
      </if>
      <if test="dwzh3 != null">
        #{dwzh3,jdbcType=VARCHAR},
      </if>
      <if test="dwmc2 != null">
        #{dwmc2,jdbcType=VARCHAR},
      </if>
      <if test="tqyydm != null">
        #{tqyydm,jdbcType=VARCHAR},
      </if>
      <if test="tqyynr != null">
        #{tqyynr,jdbcType=VARCHAR},
      </if>
      <if test="tqlx != null">
        #{tqlx,jdbcType=VARCHAR},
      </if>
      <if test="sqtqjexx != null">
        #{sqtqjexx,jdbcType=DECIMAL},
      </if>
      <if test="sqtqjedx != null">
        #{sqtqjedx,jdbcType=VARCHAR},
      </if>
      <if test="tqfs2 != null">
        #{tqfs2,jdbcType=VARCHAR},
      </if>
      <if test="sqrskhm != null">
        #{sqrskhm,jdbcType=VARCHAR},
      </if>
      <if test="sqrkhyhdm != null">
        #{sqrkhyhdm,jdbcType=VARCHAR},
      </if>
      <if test="sqrkhyhmc != null">
        #{sqrkhyhmc,jdbcType=VARCHAR},
      </if>
      <if test="sqrskzh != null">
        #{sqrskzh,jdbcType=VARCHAR},
      </if>
      <if test="wtrxm != null">
        #{wtrxm,jdbcType=VARCHAR},
      </if>
      <if test="wtrsfzh != null">
        #{wtrsfzh,jdbcType=VARCHAR},
      </if>
      <if test="zytqjexx != null">
        #{zytqjexx,jdbcType=DECIMAL},
      </if>
      <if test="zytqjedx != null">
        #{zytqjedx,jdbcType=VARCHAR},
      </if>
      <if test="hkyhdm != null">
        #{hkyhdm,jdbcType=VARCHAR},
      </if>
      <if test="hkyhmc != null">
        #{hkyhmc,jdbcType=VARCHAR},
      </if>
      <if test="spzt2 != null">
        #{spzt2,jdbcType=VARCHAR},
      </if>
      <if test="spsj != null">
        #{spsj,jdbcType=DATE},
      </if>
      <if test="tzzd4 != null">
        #{tzzd4,jdbcType=VARCHAR},
      </if>
      <if test="tzzd5 != null">
        #{tzzd5,jdbcType=VARCHAR},
      </if>
      <if test="grywlsh != null">
        #{grywlsh,jdbcType=VARCHAR},
      </if>
      <if test="sfdw != null">
        #{sfdw,jdbcType=VARCHAR},
      </if>
      <if test="sfdz != null">
        #{sfdz,jdbcType=VARCHAR},
      </if>
      <if test="sflxdh != null">
        #{sflxdh,jdbcType=VARCHAR},
      </if>
      <if test="gfrxm != null">
        #{gfrxm,jdbcType=VARCHAR},
      </if>
      <if test="fwdz != null">
        #{fwdz,jdbcType=VARCHAR},
      </if>
      <if test="gfhthxyh != null">
        #{gfhthxyh,jdbcType=VARCHAR},
      </if>
      <if test="jzmj != null">
        #{jzmj,jdbcType=DECIMAL},
      </if>
      <if test="fwdj != null">
        #{fwdj,jdbcType=DECIMAL},
      </if>
      <if test="fwzj != null">
        #{fwzj,jdbcType=DECIMAL},
      </if>
      <if test="fwxz != null">
        #{fwxz,jdbcType=VARCHAR},
      </if>
      <if test="fxflx != null">
        #{fxflx,jdbcType=VARCHAR},
      </if>
      <if test="jhjzfy != null">
        #{jhjzfy,jdbcType=DECIMAL},
      </if>
      <if test="xjbw != null">
        #{xjbw,jdbcType=VARCHAR},
      </if>
      <if test="jhkgrq != null">
        #{jhkgrq,jdbcType=DATE},
      </if>
      <if test="jhjgrq != null">
        #{jhjgrq,jdbcType=DATE},
      </if>
      <if test="zzfwlx != null">
        #{zzfwlx,jdbcType=VARCHAR},
      </if>
      <if test="fzzc != null">
        #{fzzc,jdbcType=DECIMAL},
      </if>
      <if test="zfhtbh != null">
        #{zfhtbh,jdbcType=VARCHAR},
      </if>
      <if test="zzldhtwjh != null">
        #{zzldhtwjh,jdbcType=VARCHAR},
      </if>
      <if test="fwdw != null">
        #{fwdw,jdbcType=VARCHAR},
      </if>
      <if test="hddz != null">
        #{hddz,jdbcType=VARCHAR},
      </if>
      <if test="jkhth != null">
        #{jkhth,jdbcType=VARCHAR},
      </if>
      <if test="dklx != null">
        #{dklx,jdbcType=VARCHAR},
      </if>
      <if test="hkbz != null">
        #{hkbz,jdbcType=VARCHAR},
      </if>
      <if test="txpwwh != null">
        #{txpwwh,jdbcType=VARCHAR},
      </if>
      <if test="txpzdw != null">
        #{txpzdw,jdbcType=VARCHAR},
      </if>
      <if test="snjz != null">
        #{snjz,jdbcType=DECIMAL},
      </if>
      <if test="bnjc2 != null">
        #{bnjc2,jdbcType=DECIMAL},
      </if>
      <if test="gfrsfzh != null">
        #{gfrsfzh,jdbcType=VARCHAR},
      </if>
      <if test="dkzh != null">
        #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="szt != null">
        #{szt,jdbcType=VARCHAR},
      </if>
      <if test="tqze != null">
        #{tqze,jdbcType=DECIMAL},
      </if>
      <if test="czbz2 != null">
        #{czbz2,jdbcType=VARCHAR},
      </if>
      <if test="cjr3 != null">
        #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="yqbh != null">
        #{yqbh,jdbcType=VARCHAR},
      </if>
      <if test="yqqc != null">
        #{yqqc,jdbcType=DECIMAL},
      </if>
      <if test="yqbj != null">
        #{yqbj,jdbcType=DECIMAL},
      </if>
      <if test="yqlx != null">
        #{yqlx,jdbcType=DECIMAL},
      </if>
      <if test="yqfx != null">
        #{yqfx,jdbcType=DECIMAL},
      </if>
      <if test="yqhj != null">
        #{yqhj,jdbcType=VARCHAR},
      </if>
      <if test="jhbh != null">
        #{jhbh,jdbcType=VARCHAR},
      </if>
      <if test="tqhklx != null">
        #{tqhklx,jdbcType=DECIMAL},
      </if>
      <if test="tqhkje != null">
        #{tqhkje,jdbcType=DECIMAL},
      </if>
      <if test="hkzje != null">
        #{hkzje,jdbcType=DECIMAL},
      </if>
      <if test="dkyhdm != null">
        #{dkyhdm,jdbcType=VARCHAR},
      </if>
      <if test="wdbh3 != null">
        #{wdbh3,jdbcType=DECIMAL},
      </if>
      <if test="dkywmxlx != null">
        #{dkywmxlx,jdbcType=VARCHAR},
      </if>
      <if test="hkzbj != null">
        #{hkzbj,jdbcType=DECIMAL},
      </if>
      <if test="hkzlx != null">
        #{hkzlx,jdbcType=DECIMAL},
      </if>
      <if test="hkzfx != null">
        #{hkzfx,jdbcType=DECIMAL},
      </if>
      <if test="czywlsh2 != null">
        #{czywlsh2,jdbcType=VARCHAR},
      </if>
      <if test="plbz != null">
        #{plbz,jdbcType=VARCHAR},
      </if>
      <if test="cjbh != null">
        #{cjbh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Sy_gj_tqspb">
    update sy_gj_tqspb
    <set>
      <if test="ydtqspzj != null">
        YDTQSPZJ = #{ydtqspzj,jdbcType=INTEGER},
      </if>
      <if test="grbh != null">
        GRBH = #{grbh,jdbcType=INTEGER},
      </if>
      <if test="grzh != null">
        GRZH = #{grzh,jdbcType=VARCHAR},
      </if>
      <if test="sqsj != null">
        SQSJ = #{sqsj,jdbcType=DATE},
      </if>
      <if test="zgxm != null">
        ZGXM = #{zgxm,jdbcType=VARCHAR},
      </if>
      <if test="zjlx != null">
        ZJLX = #{zjlx,jdbcType=VARCHAR},
      </if>
      <if test="zjhm != null">
        ZJHM = #{zjhm,jdbcType=VARCHAR},
      </if>
      <if test="dwzh3 != null">
        DWZH3 = #{dwzh3,jdbcType=VARCHAR},
      </if>
      <if test="dwmc2 != null">
        DWMC2 = #{dwmc2,jdbcType=VARCHAR},
      </if>
      <if test="tqyydm != null">
        TQYYDM = #{tqyydm,jdbcType=VARCHAR},
      </if>
      <if test="tqyynr != null">
        TQYYNR = #{tqyynr,jdbcType=VARCHAR},
      </if>
      <if test="tqlx != null">
        TQLX = #{tqlx,jdbcType=VARCHAR},
      </if>
      <if test="sqtqjexx != null">
        SQTQJEXX = #{sqtqjexx,jdbcType=DECIMAL},
      </if>
      <if test="sqtqjedx != null">
        SQTQJEDX = #{sqtqjedx,jdbcType=VARCHAR},
      </if>
      <if test="tqfs2 != null">
        TQFS2 = #{tqfs2,jdbcType=VARCHAR},
      </if>
      <if test="sqrskhm != null">
        SQRSKHM = #{sqrskhm,jdbcType=VARCHAR},
      </if>
      <if test="sqrkhyhdm != null">
        SQRKHYHDM = #{sqrkhyhdm,jdbcType=VARCHAR},
      </if>
      <if test="sqrkhyhmc != null">
        SQRKHYHMC = #{sqrkhyhmc,jdbcType=VARCHAR},
      </if>
      <if test="sqrskzh != null">
        SQRSKZH = #{sqrskzh,jdbcType=VARCHAR},
      </if>
      <if test="wtrxm != null">
        WTRXM = #{wtrxm,jdbcType=VARCHAR},
      </if>
      <if test="wtrsfzh != null">
        WTRSFZH = #{wtrsfzh,jdbcType=VARCHAR},
      </if>
      <if test="zytqjexx != null">
        ZYTQJEXX = #{zytqjexx,jdbcType=DECIMAL},
      </if>
      <if test="zytqjedx != null">
        ZYTQJEDX = #{zytqjedx,jdbcType=VARCHAR},
      </if>
      <if test="hkyhdm != null">
        HKYHDM = #{hkyhdm,jdbcType=VARCHAR},
      </if>
      <if test="hkyhmc != null">
        HKYHMC = #{hkyhmc,jdbcType=VARCHAR},
      </if>
      <if test="spzt2 != null">
        SPZT2 = #{spzt2,jdbcType=VARCHAR},
      </if>
      <if test="spsj != null">
        SPSJ = #{spsj,jdbcType=DATE},
      </if>
      <if test="tzzd4 != null">
        TZZD4 = #{tzzd4,jdbcType=VARCHAR},
      </if>
      <if test="tzzd5 != null">
        TZZD5 = #{tzzd5,jdbcType=VARCHAR},
      </if>
      <if test="grywlsh != null">
        GRYWLSH = #{grywlsh,jdbcType=VARCHAR},
      </if>
      <if test="sfdw != null">
        SFDW = #{sfdw,jdbcType=VARCHAR},
      </if>
      <if test="sfdz != null">
        SFDZ = #{sfdz,jdbcType=VARCHAR},
      </if>
      <if test="sflxdh != null">
        SFLXDH = #{sflxdh,jdbcType=VARCHAR},
      </if>
      <if test="gfrxm != null">
        GFRXM = #{gfrxm,jdbcType=VARCHAR},
      </if>
      <if test="fwdz != null">
        FWDZ = #{fwdz,jdbcType=VARCHAR},
      </if>
      <if test="gfhthxyh != null">
        GFHTHXYH = #{gfhthxyh,jdbcType=VARCHAR},
      </if>
      <if test="jzmj != null">
        JZMJ = #{jzmj,jdbcType=DECIMAL},
      </if>
      <if test="fwdj != null">
        FWDJ = #{fwdj,jdbcType=DECIMAL},
      </if>
      <if test="fwzj != null">
        FWZJ = #{fwzj,jdbcType=DECIMAL},
      </if>
      <if test="fwxz != null">
        FWXZ = #{fwxz,jdbcType=VARCHAR},
      </if>
      <if test="fxflx != null">
        FXFLX = #{fxflx,jdbcType=VARCHAR},
      </if>
      <if test="jhjzfy != null">
        JHJZFY = #{jhjzfy,jdbcType=DECIMAL},
      </if>
      <if test="xjbw != null">
        XJBW = #{xjbw,jdbcType=VARCHAR},
      </if>
      <if test="jhkgrq != null">
        JHKGRQ = #{jhkgrq,jdbcType=DATE},
      </if>
      <if test="jhjgrq != null">
        JHJGRQ = #{jhjgrq,jdbcType=DATE},
      </if>
      <if test="zzfwlx != null">
        ZZFWLX = #{zzfwlx,jdbcType=VARCHAR},
      </if>
      <if test="fzzc != null">
        FZZC = #{fzzc,jdbcType=DECIMAL},
      </if>
      <if test="zfhtbh != null">
        ZFHTBH = #{zfhtbh,jdbcType=VARCHAR},
      </if>
      <if test="zzldhtwjh != null">
        ZZLDHTWJH = #{zzldhtwjh,jdbcType=VARCHAR},
      </if>
      <if test="fwdw != null">
        FWDW = #{fwdw,jdbcType=VARCHAR},
      </if>
      <if test="hddz != null">
        HDDZ = #{hddz,jdbcType=VARCHAR},
      </if>
      <if test="jkhth != null">
        JKHTH = #{jkhth,jdbcType=VARCHAR},
      </if>
      <if test="dklx != null">
        DKLX = #{dklx,jdbcType=VARCHAR},
      </if>
      <if test="hkbz != null">
        HKBZ = #{hkbz,jdbcType=VARCHAR},
      </if>
      <if test="txpwwh != null">
        TXPWWH = #{txpwwh,jdbcType=VARCHAR},
      </if>
      <if test="txpzdw != null">
        TXPZDW = #{txpzdw,jdbcType=VARCHAR},
      </if>
      <if test="snjz != null">
        SNJZ = #{snjz,jdbcType=DECIMAL},
      </if>
      <if test="bnjc2 != null">
        BNJC2 = #{bnjc2,jdbcType=DECIMAL},
      </if>
      <if test="gfrsfzh != null">
        GFRSFZH = #{gfrsfzh,jdbcType=VARCHAR},
      </if>
      <if test="dkzh != null">
        DKZH = #{dkzh,jdbcType=VARCHAR},
      </if>
      <if test="szt != null">
        SZT = #{szt,jdbcType=VARCHAR},
      </if>
      <if test="tqze != null">
        TQZE = #{tqze,jdbcType=DECIMAL},
      </if>
      <if test="czbz2 != null">
        CZBZ2 = #{czbz2,jdbcType=VARCHAR},
      </if>
      <if test="cjr3 != null">
        CJR3 = #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="yqbh != null">
        YQBH = #{yqbh,jdbcType=VARCHAR},
      </if>
      <if test="yqqc != null">
        YQQC = #{yqqc,jdbcType=DECIMAL},
      </if>
      <if test="yqbj != null">
        YQBJ = #{yqbj,jdbcType=DECIMAL},
      </if>
      <if test="yqlx != null">
        YQLX = #{yqlx,jdbcType=DECIMAL},
      </if>
      <if test="yqfx != null">
        YQFX = #{yqfx,jdbcType=DECIMAL},
      </if>
      <if test="yqhj != null">
        YQHJ = #{yqhj,jdbcType=VARCHAR},
      </if>
      <if test="jhbh != null">
        JHBH = #{jhbh,jdbcType=VARCHAR},
      </if>
      <if test="tqhklx != null">
        TQHKLX = #{tqhklx,jdbcType=DECIMAL},
      </if>
      <if test="tqhkje != null">
        TQHKJE = #{tqhkje,jdbcType=DECIMAL},
      </if>
      <if test="hkzje != null">
        HKZJE = #{hkzje,jdbcType=DECIMAL},
      </if>
      <if test="dkyhdm != null">
        DKYHDM = #{dkyhdm,jdbcType=VARCHAR},
      </if>
      <if test="wdbh3 != null">
        WDBH3 = #{wdbh3,jdbcType=DECIMAL},
      </if>
      <if test="dkywmxlx != null">
        DKYWMXLX = #{dkywmxlx,jdbcType=VARCHAR},
      </if>
      <if test="hkzbj != null">
        HKZBJ = #{hkzbj,jdbcType=DECIMAL},
      </if>
      <if test="hkzlx != null">
        HKZLX = #{hkzlx,jdbcType=DECIMAL},
      </if>
      <if test="hkzfx != null">
        HKZFX = #{hkzfx,jdbcType=DECIMAL},
      </if>
      <if test="czywlsh2 != null">
        CZYWLSH2 = #{czywlsh2,jdbcType=VARCHAR},
      </if>
      <if test="plbz != null">
        PLBZ = #{plbz,jdbcType=VARCHAR},
      </if>
      <if test="cjbh != null">
        CJBH = #{cjbh,jdbcType=VARCHAR},
      </if>
    </set>
    where TQBH = #{tqbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Sy_gj_tqspb">
    update sy_gj_tqspb
    set YDTQSPZJ = #{ydtqspzj,jdbcType=INTEGER},
      GRBH = #{grbh,jdbcType=INTEGER},
      GRZH = #{grzh,jdbcType=VARCHAR},
      SQSJ = #{sqsj,jdbcType=DATE},
      ZGXM = #{zgxm,jdbcType=VARCHAR},
      ZJLX = #{zjlx,jdbcType=VARCHAR},
      ZJHM = #{zjhm,jdbcType=VARCHAR},
      DWZH3 = #{dwzh3,jdbcType=VARCHAR},
      DWMC2 = #{dwmc2,jdbcType=VARCHAR},
      TQYYDM = #{tqyydm,jdbcType=VARCHAR},
      TQYYNR = #{tqyynr,jdbcType=VARCHAR},
      TQLX = #{tqlx,jdbcType=VARCHAR},
      SQTQJEXX = #{sqtqjexx,jdbcType=DECIMAL},
      SQTQJEDX = #{sqtqjedx,jdbcType=VARCHAR},
      TQFS2 = #{tqfs2,jdbcType=VARCHAR},
      SQRSKHM = #{sqrskhm,jdbcType=VARCHAR},
      SQRKHYHDM = #{sqrkhyhdm,jdbcType=VARCHAR},
      SQRKHYHMC = #{sqrkhyhmc,jdbcType=VARCHAR},
      SQRSKZH = #{sqrskzh,jdbcType=VARCHAR},
      WTRXM = #{wtrxm,jdbcType=VARCHAR},
      WTRSFZH = #{wtrsfzh,jdbcType=VARCHAR},
      ZYTQJEXX = #{zytqjexx,jdbcType=DECIMAL},
      ZYTQJEDX = #{zytqjedx,jdbcType=VARCHAR},
      HKYHDM = #{hkyhdm,jdbcType=VARCHAR},
      HKYHMC = #{hkyhmc,jdbcType=VARCHAR},
      SPZT2 = #{spzt2,jdbcType=VARCHAR},
      SPSJ = #{spsj,jdbcType=DATE},
      TZZD4 = #{tzzd4,jdbcType=VARCHAR},
      TZZD5 = #{tzzd5,jdbcType=VARCHAR},
      GRYWLSH = #{grywlsh,jdbcType=VARCHAR},
      SFDW = #{sfdw,jdbcType=VARCHAR},
      SFDZ = #{sfdz,jdbcType=VARCHAR},
      SFLXDH = #{sflxdh,jdbcType=VARCHAR},
      GFRXM = #{gfrxm,jdbcType=VARCHAR},
      FWDZ = #{fwdz,jdbcType=VARCHAR},
      GFHTHXYH = #{gfhthxyh,jdbcType=VARCHAR},
      JZMJ = #{jzmj,jdbcType=DECIMAL},
      FWDJ = #{fwdj,jdbcType=DECIMAL},
      FWZJ = #{fwzj,jdbcType=DECIMAL},
      FWXZ = #{fwxz,jdbcType=VARCHAR},
      FXFLX = #{fxflx,jdbcType=VARCHAR},
      JHJZFY = #{jhjzfy,jdbcType=DECIMAL},
      XJBW = #{xjbw,jdbcType=VARCHAR},
      JHKGRQ = #{jhkgrq,jdbcType=DATE},
      JHJGRQ = #{jhjgrq,jdbcType=DATE},
      ZZFWLX = #{zzfwlx,jdbcType=VARCHAR},
      FZZC = #{fzzc,jdbcType=DECIMAL},
      ZFHTBH = #{zfhtbh,jdbcType=VARCHAR},
      ZZLDHTWJH = #{zzldhtwjh,jdbcType=VARCHAR},
      FWDW = #{fwdw,jdbcType=VARCHAR},
      HDDZ = #{hddz,jdbcType=VARCHAR},
      JKHTH = #{jkhth,jdbcType=VARCHAR},
      DKLX = #{dklx,jdbcType=VARCHAR},
      HKBZ = #{hkbz,jdbcType=VARCHAR},
      TXPWWH = #{txpwwh,jdbcType=VARCHAR},
      TXPZDW = #{txpzdw,jdbcType=VARCHAR},
      SNJZ = #{snjz,jdbcType=DECIMAL},
      BNJC2 = #{bnjc2,jdbcType=DECIMAL},
      GFRSFZH = #{gfrsfzh,jdbcType=VARCHAR},
      DKZH = #{dkzh,jdbcType=VARCHAR},
      SZT = #{szt,jdbcType=VARCHAR},
      TQZE = #{tqze,jdbcType=DECIMAL},
      CZBZ2 = #{czbz2,jdbcType=VARCHAR},
      CJR3 = #{cjr3,jdbcType=VARCHAR},
      YQBH = #{yqbh,jdbcType=VARCHAR},
      YQQC = #{yqqc,jdbcType=DECIMAL},
      YQBJ = #{yqbj,jdbcType=DECIMAL},
      YQLX = #{yqlx,jdbcType=DECIMAL},
      YQFX = #{yqfx,jdbcType=DECIMAL},
      YQHJ = #{yqhj,jdbcType=VARCHAR},
      JHBH = #{jhbh,jdbcType=VARCHAR},
      TQHKLX = #{tqhklx,jdbcType=DECIMAL},
      TQHKJE = #{tqhkje,jdbcType=DECIMAL},
      HKZJE = #{hkzje,jdbcType=DECIMAL},
      DKYHDM = #{dkyhdm,jdbcType=VARCHAR},
      WDBH3 = #{wdbh3,jdbcType=DECIMAL},
      DKYWMXLX = #{dkywmxlx,jdbcType=VARCHAR},
      HKZBJ = #{hkzbj,jdbcType=DECIMAL},
      HKZLX = #{hkzlx,jdbcType=DECIMAL},
      HKZFX = #{hkzfx,jdbcType=DECIMAL},
      CZYWLSH2 = #{czywlsh2,jdbcType=VARCHAR},
      PLBZ = #{plbz,jdbcType=VARCHAR},
      CJBH = #{cjbh,jdbcType=VARCHAR}
    where TQBH = #{tqbh,jdbcType=INTEGER}
  </update>
</mapper>