<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_gj_ydhkrxxMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Sy_gj_ydhkrxx">
    <id column="HKRZJ" jdbcType="INTEGER" property="hkrzj" />
    <result column="YDTQSPZJ" jdbcType="INTEGER" property="ydtqspzj" />
    <result column="GRBH" jdbcType="INTEGER" property="grbh" />
    <result column="HKRXXBH" jdbcType="VARCHAR" property="hkrxxbh" />
    <result column="HKRDWZH" jdbcType="VARCHAR" property="hkrdwzh" />
    <result column="HKRGRZH" jdbcType="VARCHAR" property="hkrgrzh" />
    <result column="HKRXM" jdbcType="VARCHAR" property="hkrxm" />
    <result column="HKRZJHM" jdbcType="VARCHAR" property="hkrzjhm" />
    <result column="HKRYXJ" jdbcType="DECIMAL" property="hkryxj" />
    <result column="CJR3" jdbcType="VARCHAR" property="cjr3" />
    <result column="CJSJ3" jdbcType="DATE" property="cjsj3" />
    <result column="DKZH" jdbcType="VARCHAR" property="dkzh" />
  </resultMap>
  <sql id="Base_Column_List">
    HKRZJ, YDTQSPZJ, GRBH, HKRXXBH, HKRDWZH, HKRGRZH, HKRXM, HKRZJHM, HKRYXJ, CJR3, CJSJ3, 
    DKZH
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_gj_ydhkrxx
    where HKRZJ = #{hkrzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sy_gj_ydhkrxx
    where HKRZJ = #{hkrzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Sy_gj_ydhkrxx">
    insert into sy_gj_ydhkrxx (HKRZJ, YDTQSPZJ, GRBH, 
      HKRXXBH, HKRDWZH, HKRGRZH, 
      HKRXM, HKRZJHM, HKRYXJ, 
      CJR3, CJSJ3, DKZH)
    values (#{hkrzj,jdbcType=INTEGER}, #{ydtqspzj,jdbcType=INTEGER}, #{grbh,jdbcType=INTEGER}, 
      #{hkrxxbh,jdbcType=VARCHAR}, #{hkrdwzh,jdbcType=VARCHAR}, #{hkrgrzh,jdbcType=VARCHAR}, 
      #{hkrxm,jdbcType=VARCHAR}, #{hkrzjhm,jdbcType=VARCHAR}, #{hkryxj,jdbcType=DECIMAL}, 
      #{cjr3,jdbcType=VARCHAR}, #{cjsj3,jdbcType=DATE}, #{dkzh,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Sy_gj_ydhkrxx">
    insert into sy_gj_ydhkrxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hkrzj != null">
        HKRZJ,
      </if>
      <if test="ydtqspzj != null">
        YDTQSPZJ,
      </if>
      <if test="grbh != null">
        GRBH,
      </if>
      <if test="hkrxxbh != null">
        HKRXXBH,
      </if>
      <if test="hkrdwzh != null">
        HKRDWZH,
      </if>
      <if test="hkrgrzh != null">
        HKRGRZH,
      </if>
      <if test="hkrxm != null">
        HKRXM,
      </if>
      <if test="hkrzjhm != null">
        HKRZJHM,
      </if>
      <if test="hkryxj != null">
        HKRYXJ,
      </if>
      <if test="cjr3 != null">
        CJR3,
      </if>
      <if test="cjsj3 != null">
        CJSJ3,
      </if>
      <if test="dkzh != null">
        DKZH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hkrzj != null">
        #{hkrzj,jdbcType=INTEGER},
      </if>
      <if test="ydtqspzj != null">
        #{ydtqspzj,jdbcType=INTEGER},
      </if>
      <if test="grbh != null">
        #{grbh,jdbcType=INTEGER},
      </if>
      <if test="hkrxxbh != null">
        #{hkrxxbh,jdbcType=VARCHAR},
      </if>
      <if test="hkrdwzh != null">
        #{hkrdwzh,jdbcType=VARCHAR},
      </if>
      <if test="hkrgrzh != null">
        #{hkrgrzh,jdbcType=VARCHAR},
      </if>
      <if test="hkrxm != null">
        #{hkrxm,jdbcType=VARCHAR},
      </if>
      <if test="hkrzjhm != null">
        #{hkrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="hkryxj != null">
        #{hkryxj,jdbcType=DECIMAL},
      </if>
      <if test="cjr3 != null">
        #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        #{cjsj3,jdbcType=DATE},
      </if>
      <if test="dkzh != null">
        #{dkzh,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Sy_gj_ydhkrxx">
    update sy_gj_ydhkrxx
    <set>
      <if test="ydtqspzj != null">
        YDTQSPZJ = #{ydtqspzj,jdbcType=INTEGER},
      </if>
      <if test="grbh != null">
        GRBH = #{grbh,jdbcType=INTEGER},
      </if>
      <if test="hkrxxbh != null">
        HKRXXBH = #{hkrxxbh,jdbcType=VARCHAR},
      </if>
      <if test="hkrdwzh != null">
        HKRDWZH = #{hkrdwzh,jdbcType=VARCHAR},
      </if>
      <if test="hkrgrzh != null">
        HKRGRZH = #{hkrgrzh,jdbcType=VARCHAR},
      </if>
      <if test="hkrxm != null">
        HKRXM = #{hkrxm,jdbcType=VARCHAR},
      </if>
      <if test="hkrzjhm != null">
        HKRZJHM = #{hkrzjhm,jdbcType=VARCHAR},
      </if>
      <if test="hkryxj != null">
        HKRYXJ = #{hkryxj,jdbcType=DECIMAL},
      </if>
      <if test="cjr3 != null">
        CJR3 = #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        CJSJ3 = #{cjsj3,jdbcType=DATE},
      </if>
      <if test="dkzh != null">
        DKZH = #{dkzh,jdbcType=VARCHAR},
      </if>
    </set>
    where HKRZJ = #{hkrzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Sy_gj_ydhkrxx">
    update sy_gj_ydhkrxx
    set YDTQSPZJ = #{ydtqspzj,jdbcType=INTEGER},
      GRBH = #{grbh,jdbcType=INTEGER},
      HKRXXBH = #{hkrxxbh,jdbcType=VARCHAR},
      HKRDWZH = #{hkrdwzh,jdbcType=VARCHAR},
      HKRGRZH = #{hkrgrzh,jdbcType=VARCHAR},
      HKRXM = #{hkrxm,jdbcType=VARCHAR},
      HKRZJHM = #{hkrzjhm,jdbcType=VARCHAR},
      HKRYXJ = #{hkryxj,jdbcType=DECIMAL},
      CJR3 = #{cjr3,jdbcType=VARCHAR},
      CJSJ3 = #{cjsj3,jdbcType=DATE},
      DKZH = #{dkzh,jdbcType=VARCHAR}
    where HKRZJ = #{hkrzj,jdbcType=INTEGER}
  </update>
</mapper>