<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_llglMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.SyLlgl">
    <id column="LLZJ" jdbcType="INTEGER" property="llzj" />
    <result column="LLBH" jdbcType="VARCHAR" property="llbh" />
    <result column="LLLX" jdbcType="VARCHAR" property="lllx" />
    <result column="ZXLL" jdbcType="DECIMAL" property="zxll" />
    <result column="QSRQ" jdbcType="DATE" property="qsrq" />
    <result column="JZRQ3" jdbcType="DATE" property="jzrq3" />
    <result column="CJR3" jdbcType="VARCHAR" property="cjr3" />
    <result column="CJSJ3" jdbcType="DATE" property="cjsj3" />
  </resultMap>
  <sql id="Base_Column_List">
    LLZJ, LLBH, LLLX, ZXLL, QSRQ, JZRQ3, CJR3, CJSJ3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_llgl
    where LLZJ = #{llzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sy_llgl
    where LLZJ = #{llzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.SyLlgl">
    insert into sy_llgl (LLZJ, LLBH, LLLX, 
      ZXLL, QSRQ, JZRQ3, CJR3, 
      CJSJ3)
    values (#{llzj,jdbcType=INTEGER}, #{llbh,jdbcType=VARCHAR}, #{lllx,jdbcType=VARCHAR}, 
      #{zxll,jdbcType=DECIMAL}, #{qsrq,jdbcType=DATE}, #{jzrq3,jdbcType=DATE}, #{cjr3,jdbcType=VARCHAR}, 
      #{cjsj3,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.SyLlgl">
    insert into sy_llgl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="llzj != null">
        LLZJ,
      </if>
      <if test="llbh != null">
        LLBH,
      </if>
      <if test="lllx != null">
        LLLX,
      </if>
      <if test="zxll != null">
        ZXLL,
      </if>
      <if test="qsrq != null">
        QSRQ,
      </if>
      <if test="jzrq3 != null">
        JZRQ3,
      </if>
      <if test="cjr3 != null">
        CJR3,
      </if>
      <if test="cjsj3 != null">
        CJSJ3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="llzj != null">
        #{llzj,jdbcType=INTEGER},
      </if>
      <if test="llbh != null">
        #{llbh,jdbcType=VARCHAR},
      </if>
      <if test="lllx != null">
        #{lllx,jdbcType=VARCHAR},
      </if>
      <if test="zxll != null">
        #{zxll,jdbcType=DECIMAL},
      </if>
      <if test="qsrq != null">
        #{qsrq,jdbcType=DATE},
      </if>
      <if test="jzrq3 != null">
        #{jzrq3,jdbcType=DATE},
      </if>
      <if test="cjr3 != null">
        #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        #{cjsj3,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.SyLlgl">
    update sy_llgl
    <set>
      <if test="llbh != null">
        LLBH = #{llbh,jdbcType=VARCHAR},
      </if>
      <if test="lllx != null">
        LLLX = #{lllx,jdbcType=VARCHAR},
      </if>
      <if test="zxll != null">
        ZXLL = #{zxll,jdbcType=DECIMAL},
      </if>
      <if test="qsrq != null">
        QSRQ = #{qsrq,jdbcType=DATE},
      </if>
      <if test="jzrq3 != null">
        JZRQ3 = #{jzrq3,jdbcType=DATE},
      </if>
      <if test="cjr3 != null">
        CJR3 = #{cjr3,jdbcType=VARCHAR},
      </if>
      <if test="cjsj3 != null">
        CJSJ3 = #{cjsj3,jdbcType=DATE},
      </if>
    </set>
    where LLZJ = #{llzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.SyLlgl">
    update sy_llgl
    set LLBH = #{llbh,jdbcType=VARCHAR},
      LLLX = #{lllx,jdbcType=VARCHAR},
      ZXLL = #{zxll,jdbcType=DECIMAL},
      QSRQ = #{qsrq,jdbcType=DATE},
      JZRQ3 = #{jzrq3,jdbcType=DATE},
      CJR3 = #{cjr3,jdbcType=VARCHAR},
      CJSJ3 = #{cjsj3,jdbcType=DATE}
    where LLZJ = #{llzj,jdbcType=INTEGER}
  </update>
</mapper>