<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.Sy_sydkyhMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.SySydkyh">
    <id column="SYYHZJ" jdbcType="INTEGER" property="syyhzj" />
    <result column="SYYHBH" jdbcType="VARCHAR" property="syyhbh" />
    <result column="SKFKHYHDM" jdbcType="VARCHAR" property="skfkhyhdm" />
    <result column="SKFKHYHMC" jdbcType="VARCHAR" property="skfkhyhmc" />
    <result column="JCYHDM" jdbcType="VARCHAR" property="jcyhdm" />
    <result column="SKFZH" jdbcType="VARCHAR" property="skfzh" />
    <result column="SKFHM" jdbcType="VARCHAR" property="skfhm" />
    <result column="ZTZ" jdbcType="VARCHAR" property="ztz" />
    <result column="CJR" jdbcType="VARCHAR" property="cjr" />
    <result column="CJSJ" jdbcType="DATE" property="cjsj" />
    <result column="TZZD1" jdbcType="VARCHAR" property="tzzd1" />
    <result column="TZZD2" jdbcType="VARCHAR" property="tzzd2" />
    <result column="TZZD3" jdbcType="VARCHAR" property="tzzd3" />
  </resultMap>
  <sql id="Base_Column_List">
    SYYHZJ, SYYHBH, SKFKHYHDM, SKFKHYHMC, JCYHDM, SKFZH, SKFHM, ZTZ, CJR, CJSJ, TZZD1, 
    TZZD2, TZZD3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sy_sydkyh
    where SYYHZJ = #{syyhzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sy_sydkyh
    where SYYHZJ = #{syyhzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.SySydkyh">
    insert into sy_sydkyh (SYYHZJ, SYYHBH, SKFKHYHDM, 
      SKFKHYHMC, JCYHDM, SKFZH, 
      SKFHM, ZTZ, CJR, CJSJ, 
      TZZD1, TZZD2, TZZD3
      )
    values (#{syyhzj,jdbcType=INTEGER}, #{syyhbh,jdbcType=VARCHAR}, #{skfkhyhdm,jdbcType=VARCHAR}, 
      #{skfkhyhmc,jdbcType=VARCHAR}, #{jcyhdm,jdbcType=VARCHAR}, #{skfzh,jdbcType=VARCHAR}, 
      #{skfhm,jdbcType=VARCHAR}, #{ztz,jdbcType=VARCHAR}, #{cjr,jdbcType=VARCHAR}, #{cjsj,jdbcType=DATE}, 
      #{tzzd1,jdbcType=VARCHAR}, #{tzzd2,jdbcType=VARCHAR}, #{tzzd3,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.SySydkyh">
    insert into sy_sydkyh
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="syyhzj != null">
        SYYHZJ,
      </if>
      <if test="syyhbh != null">
        SYYHBH,
      </if>
      <if test="skfkhyhdm != null">
        SKFKHYHDM,
      </if>
      <if test="skfkhyhmc != null">
        SKFKHYHMC,
      </if>
      <if test="jcyhdm != null">
        JCYHDM,
      </if>
      <if test="skfzh != null">
        SKFZH,
      </if>
      <if test="skfhm != null">
        SKFHM,
      </if>
      <if test="ztz != null">
        ZTZ,
      </if>
      <if test="cjr != null">
        CJR,
      </if>
      <if test="cjsj != null">
        CJSJ,
      </if>
      <if test="tzzd1 != null">
        TZZD1,
      </if>
      <if test="tzzd2 != null">
        TZZD2,
      </if>
      <if test="tzzd3 != null">
        TZZD3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="syyhzj != null">
        #{syyhzj,jdbcType=INTEGER},
      </if>
      <if test="syyhbh != null">
        #{syyhbh,jdbcType=VARCHAR},
      </if>
      <if test="skfkhyhdm != null">
        #{skfkhyhdm,jdbcType=VARCHAR},
      </if>
      <if test="skfkhyhmc != null">
        #{skfkhyhmc,jdbcType=VARCHAR},
      </if>
      <if test="jcyhdm != null">
        #{jcyhdm,jdbcType=VARCHAR},
      </if>
      <if test="skfzh != null">
        #{skfzh,jdbcType=VARCHAR},
      </if>
      <if test="skfhm != null">
        #{skfhm,jdbcType=VARCHAR},
      </if>
      <if test="ztz != null">
        #{ztz,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null">
        #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=DATE},
      </if>
      <if test="tzzd1 != null">
        #{tzzd1,jdbcType=VARCHAR},
      </if>
      <if test="tzzd2 != null">
        #{tzzd2,jdbcType=VARCHAR},
      </if>
      <if test="tzzd3 != null">
        #{tzzd3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.SySydkyh">
    update sy_sydkyh
    <set>
      <if test="syyhbh != null">
        SYYHBH = #{syyhbh,jdbcType=VARCHAR},
      </if>
      <if test="skfkhyhdm != null">
        SKFKHYHDM = #{skfkhyhdm,jdbcType=VARCHAR},
      </if>
      <if test="skfkhyhmc != null">
        SKFKHYHMC = #{skfkhyhmc,jdbcType=VARCHAR},
      </if>
      <if test="jcyhdm != null">
        JCYHDM = #{jcyhdm,jdbcType=VARCHAR},
      </if>
      <if test="skfzh != null">
        SKFZH = #{skfzh,jdbcType=VARCHAR},
      </if>
      <if test="skfhm != null">
        SKFHM = #{skfhm,jdbcType=VARCHAR},
      </if>
      <if test="ztz != null">
        ZTZ = #{ztz,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null">
        CJR = #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        CJSJ = #{cjsj,jdbcType=DATE},
      </if>
      <if test="tzzd1 != null">
        TZZD1 = #{tzzd1,jdbcType=VARCHAR},
      </if>
      <if test="tzzd2 != null">
        TZZD2 = #{tzzd2,jdbcType=VARCHAR},
      </if>
      <if test="tzzd3 != null">
        TZZD3 = #{tzzd3,jdbcType=VARCHAR},
      </if>
    </set>
    where SYYHZJ = #{syyhzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.SySydkyh">
    update sy_sydkyh
    set SYYHBH = #{syyhbh,jdbcType=VARCHAR},
      SKFKHYHDM = #{skfkhyhdm,jdbcType=VARCHAR},
      SKFKHYHMC = #{skfkhyhmc,jdbcType=VARCHAR},
      JCYHDM = #{jcyhdm,jdbcType=VARCHAR},
      SKFZH = #{skfzh,jdbcType=VARCHAR},
      SKFHM = #{skfhm,jdbcType=VARCHAR},
      ZTZ = #{ztz,jdbcType=VARCHAR},
      CJR = #{cjr,jdbcType=VARCHAR},
      CJSJ = #{cjsj,jdbcType=DATE},
      TZZD1 = #{tzzd1,jdbcType=VARCHAR},
      TZZD2 = #{tzzd2,jdbcType=VARCHAR},
      TZZD3 = #{tzzd3,jdbcType=VARCHAR}
    where SYYHZJ = #{syyhzj,jdbcType=INTEGER}
  </update>
</mapper>