<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.ZjlxbMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Zjlxb">
    <id column="ZJLXBH" jdbcType="INTEGER" property="zjlxbh" />
    <result column="ZJMC" jdbcType="VARCHAR" property="zjmc" />
  </resultMap>
  <sql id="Base_Column_List">
    ZJLXBH, ZJMC
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zjlxb
    where ZJLXBH = #{zjlxbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zjlxb
    where ZJLXBH = #{zjlxbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Zjlxb">
    insert into zjlxb (ZJLXBH, ZJMC)
    values (#{zjlxbh,jdbcType=INTEGER}, #{zjmc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Zjlxb">
    insert into zjlxb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zjlxbh != null">
        ZJLXBH,
      </if>
      <if test="zjmc != null">
        ZJMC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zjlxbh != null">
        #{zjlxbh,jdbcType=INTEGER},
      </if>
      <if test="zjmc != null">
        #{zjmc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Zjlxb">
    update zjlxb
    <set>
      <if test="zjmc != null">
        ZJMC = #{zjmc,jdbcType=VARCHAR},
      </if>
    </set>
    where ZJLXBH = #{zjlxbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Zjlxb">
    update zjlxb
    set ZJMC = #{zjmc,jdbcType=VARCHAR}
    where ZJLXBH = #{zjlxbh,jdbcType=INTEGER}
  </update>
</mapper>