<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.HjfsMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Hjfs">
    <id column="JJBH" jdbcType="INTEGER" property="jjbh" />
    <result column="JJMC" jdbcType="VARCHAR" property="jjmc" />
  </resultMap>
  <sql id="Base_Column_List">
    JJBH, JJMC
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hjfs
    where JJBH = #{jjbh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hjfs
    where JJBH = #{jjbh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Hjfs">
    insert into hjfs (JJBH, JJMC)
    values (#{jjbh,jdbcType=INTEGER}, #{jjmc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Hjfs">
    insert into hjfs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jjbh != null">
        JJBH,
      </if>
      <if test="jjmc != null">
        JJMC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jjbh != null">
        #{jjbh,jdbcType=INTEGER},
      </if>
      <if test="jjmc != null">
        #{jjmc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Hjfs">
    update hjfs
    <set>
      <if test="jjmc != null">
        JJMC = #{jjmc,jdbcType=VARCHAR},
      </if>
    </set>
    where JJBH = #{jjbh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Hjfs">
    update hjfs
    set JJMC = #{jjmc,jdbcType=VARCHAR}
    where JJBH = #{jjbh,jdbcType=INTEGER}
  </update>
</mapper>