<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.JsxmdkjkhtxxMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Jsxmdkjkhtxx">
    <id column="ZJ" jdbcType="INTEGER" property="zj" />
    <result column="JCYHZJ" jdbcType="INTEGER" property="jcyhzj" />
    <result column="JKHTBH" jdbcType="INTEGER" property="jkhtbh" />
    <result column="DKJE" jdbcType="DECIMAL" property="dkje" />
    <result column="DKQX" jdbcType="DECIMAL" property="dkqx" />
    <result column="JKHTLL" jdbcType="DECIMAL" property="jkhtll" />
    <result column="YQFXLL" jdbcType="DECIMAL" property="yqfxll" />
    <result column="NYFXLL" jdbcType="DECIMAL" property="nyfxll" />
    <result column="ZJJGZHZH" jdbcType="VARCHAR" property="zjjgzhzh" />
    <result column="YHDM" jdbcType="VARCHAR" property="yhdm" />
    <result column="DKFFFS" jdbcType="VARCHAR" property="dkfffs" />
    <result column="DKHBFS" jdbcType="VARCHAR" property="dkhbfs" />
    <result column="WTR" jdbcType="VARCHAR" property="wtr" />
    <result column="WTRQYDB" jdbcType="VARCHAR" property="wtrqydb" />
    <result column="WTRQYSJ" jdbcType="DATE" property="wtrqysj" />
    <result column="DKR" jdbcType="VARCHAR" property="dkr" />
    <result column="DKRQYDB" jdbcType="VARCHAR" property="dkrqydb" />
    <result column="DKRQYSJ" jdbcType="DATE" property="dkrqysj" />
    <result column="JKR" jdbcType="VARCHAR" property="jkr" />
    <result column="JKRQYDB" jdbcType="VARCHAR" property="jkrqydb" />
    <result column="JKRQYSJ" jdbcType="DATE" property="jkrqysj" />
  </resultMap>
  
  <sql id="Base_Column_List">
    ZJ, JCYHZJ, JKHTBH, DKJE, DKQX, JKHTLL, YQFXLL, NYFXLL, ZJJGZHZH, YHDM, DKFFFS, DKHBFS, 
    WTR, WTRQYDB, WTRQYSJ, DKR, DKRQYDB, DKRQYSJ, JKR, JKRQYDB, JKRQYSJ
  </sql>
  
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jsxmdkjkhtxx
    where ZJ = #{zj,jdbcType=INTEGER}
  </select>
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jsxmdkjkhtxx
    where ZJ = #{zj,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.aaa.entity.Jsxmdkjkhtxx">
    insert into jsxmdkjkhtxx (ZJ, JCYHZJ, JKHTBH, 
      DKJE, DKQX, JKHTLL, 
      YQFXLL, NYFXLL, ZJJGZHZH, 
      YHDM, DKFFFS, DKHBFS, 
      WTR, WTRQYDB, WTRQYSJ, 
      DKR, DKRQYDB, DKRQYSJ, 
      JKR, JKRQYDB, JKRQYSJ)
    values (#{zj,jdbcType=INTEGER}, #{jcyhzj,jdbcType=INTEGER}, #{jkhtbh,jdbcType=INTEGER}, 
      #{dkje,jdbcType=DECIMAL}, #{dkqx,jdbcType=DECIMAL}, #{jkhtll,jdbcType=DECIMAL}, 
      #{yqfxll,jdbcType=DECIMAL}, #{nyfxll,jdbcType=DECIMAL}, #{zjjgzhzh,jdbcType=VARCHAR}, 
      #{yhdm,jdbcType=VARCHAR}, #{dkfffs,jdbcType=VARCHAR}, #{dkhbfs,jdbcType=VARCHAR}, 
      #{wtr,jdbcType=VARCHAR}, #{wtrqydb,jdbcType=VARCHAR}, #{wtrqysj,jdbcType=DATE}, 
      #{dkr,jdbcType=VARCHAR}, #{dkrqydb,jdbcType=VARCHAR}, #{dkrqysj,jdbcType=DATE}, 
      #{jkr,jdbcType=VARCHAR}, #{jkrqydb,jdbcType=VARCHAR}, #{jkrqysj,jdbcType=DATE})
  </insert>
  
  <insert id="insertSelective" parameterType="com.aaa.entity.Jsxmdkjkhtxx">
    insert into jsxmdkjkhtxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zj != null">
        ZJ,
      </if>
      <if test="jcyhzj != null">
        JCYHZJ,
      </if>
      <if test="jkhtbh != null">
        JKHTBH,
      </if>
      <if test="dkje != null">
        DKJE,
      </if>
      <if test="dkqx != null">
        DKQX,
      </if>
      <if test="jkhtll != null">
        JKHTLL,
      </if>
      <if test="yqfxll != null">
        YQFXLL,
      </if>
      <if test="nyfxll != null">
        NYFXLL,
      </if>
      <if test="zjjgzhzh != null">
        ZJJGZHZH,
      </if>
      <if test="yhdm != null">
        YHDM,
      </if>
      <if test="dkfffs != null">
        DKFFFS,
      </if>
      <if test="dkhbfs != null">
        DKHBFS,
      </if>
      <if test="wtr != null">
        WTR,
      </if>
      <if test="wtrqydb != null">
        WTRQYDB,
      </if>
      <if test="wtrqysj != null">
        WTRQYSJ,
      </if>
      <if test="dkr != null">
        DKR,
      </if>
      <if test="dkrqydb != null">
        DKRQYDB,
      </if>
      <if test="dkrqysj != null">
        DKRQYSJ,
      </if>
      <if test="jkr != null">
        JKR,
      </if>
      <if test="jkrqydb != null">
        JKRQYDB,
      </if>
      <if test="jkrqysj != null">
        JKRQYSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zj != null">
        #{zj,jdbcType=INTEGER},
      </if>
      <if test="jcyhzj != null">
        #{jcyhzj,jdbcType=INTEGER},
      </if>
      <if test="jkhtbh != null">
        #{jkhtbh,jdbcType=INTEGER},
      </if>
      <if test="dkje != null">
        #{dkje,jdbcType=DECIMAL},
      </if>
      <if test="dkqx != null">
        #{dkqx,jdbcType=DECIMAL},
      </if>
      <if test="jkhtll != null">
        #{jkhtll,jdbcType=DECIMAL},
      </if>
      <if test="yqfxll != null">
        #{yqfxll,jdbcType=DECIMAL},
      </if>
      <if test="nyfxll != null">
        #{nyfxll,jdbcType=DECIMAL},
      </if>
      <if test="zjjgzhzh != null">
        #{zjjgzhzh,jdbcType=VARCHAR},
      </if>
      <if test="yhdm != null">
        #{yhdm,jdbcType=VARCHAR},
      </if>
      <if test="dkfffs != null">
        #{dkfffs,jdbcType=VARCHAR},
      </if>
      <if test="dkhbfs != null">
        #{dkhbfs,jdbcType=VARCHAR},
      </if>
      <if test="wtr != null">
        #{wtr,jdbcType=VARCHAR},
      </if>
      <if test="wtrqydb != null">
        #{wtrqydb,jdbcType=VARCHAR},
      </if>
      <if test="wtrqysj != null">
        #{wtrqysj,jdbcType=DATE},
      </if>
      <if test="dkr != null">
        #{dkr,jdbcType=VARCHAR},
      </if>
      <if test="dkrqydb != null">
        #{dkrqydb,jdbcType=VARCHAR},
      </if>
      <if test="dkrqysj != null">
        #{dkrqysj,jdbcType=DATE},
      </if>
      <if test="jkr != null">
        #{jkr,jdbcType=VARCHAR},
      </if>
      <if test="jkrqydb != null">
        #{jkrqydb,jdbcType=VARCHAR},
      </if>
      <if test="jkrqysj != null">
        #{jkrqysj,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Jsxmdkjkhtxx">
    update jsxmdkjkhtxx
    <set>
      <if test="jcyhzj != null">
        JCYHZJ = #{jcyhzj,jdbcType=INTEGER},
      </if>
      <if test="jkhtbh != null">
        JKHTBH = #{jkhtbh,jdbcType=INTEGER},
      </if>
      <if test="dkje != null">
        DKJE = #{dkje,jdbcType=DECIMAL},
      </if>
      <if test="dkqx != null">
        DKQX = #{dkqx,jdbcType=DECIMAL},
      </if>
      <if test="jkhtll != null">
        JKHTLL = #{jkhtll,jdbcType=DECIMAL},
      </if>
      <if test="yqfxll != null">
        YQFXLL = #{yqfxll,jdbcType=DECIMAL},
      </if>
      <if test="nyfxll != null">
        NYFXLL = #{nyfxll,jdbcType=DECIMAL},
      </if>
      <if test="zjjgzhzh != null">
        ZJJGZHZH = #{zjjgzhzh,jdbcType=VARCHAR},
      </if>
      <if test="yhdm != null">
        YHDM = #{yhdm,jdbcType=VARCHAR},
      </if>
      <if test="dkfffs != null">
        DKFFFS = #{dkfffs,jdbcType=VARCHAR},
      </if>
      <if test="dkhbfs != null">
        DKHBFS = #{dkhbfs,jdbcType=VARCHAR},
      </if>
      <if test="wtr != null">
        WTR = #{wtr,jdbcType=VARCHAR},
      </if>
      <if test="wtrqydb != null">
        WTRQYDB = #{wtrqydb,jdbcType=VARCHAR},
      </if>
      <if test="wtrqysj != null">
        WTRQYSJ = #{wtrqysj,jdbcType=DATE},
      </if>
      <if test="dkr != null">
        DKR = #{dkr,jdbcType=VARCHAR},
      </if>
      <if test="dkrqydb != null">
        DKRQYDB = #{dkrqydb,jdbcType=VARCHAR},
      </if>
      <if test="dkrqysj != null">
        DKRQYSJ = #{dkrqysj,jdbcType=DATE},
      </if>
      <if test="jkr != null">
        JKR = #{jkr,jdbcType=VARCHAR},
      </if>
      <if test="jkrqydb != null">
        JKRQYDB = #{jkrqydb,jdbcType=VARCHAR},
      </if>
      <if test="jkrqysj != null">
        JKRQYSJ = #{jkrqysj,jdbcType=DATE},
      </if>
    </set>
    where ZJ = #{zj,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Jsxmdkjkhtxx">
    update jsxmdkjkhtxx
    set JCYHZJ = #{jcyhzj,jdbcType=INTEGER},
      JKHTBH = #{jkhtbh,jdbcType=INTEGER},
      DKJE = #{dkje,jdbcType=DECIMAL},
      DKQX = #{dkqx,jdbcType=DECIMAL},
      JKHTLL = #{jkhtll,jdbcType=DECIMAL},
      YQFXLL = #{yqfxll,jdbcType=DECIMAL},
      NYFXLL = #{nyfxll,jdbcType=DECIMAL},
      ZJJGZHZH = #{zjjgzhzh,jdbcType=VARCHAR},
      YHDM = #{yhdm,jdbcType=VARCHAR},
      DKFFFS = #{dkfffs,jdbcType=VARCHAR},
      DKHBFS = #{dkhbfs,jdbcType=VARCHAR},
      WTR = #{wtr,jdbcType=VARCHAR},
      WTRQYDB = #{wtrqydb,jdbcType=VARCHAR},
      WTRQYSJ = #{wtrqysj,jdbcType=DATE},
      DKR = #{dkr,jdbcType=VARCHAR},
      DKRQYDB = #{dkrqydb,jdbcType=VARCHAR},
      DKRQYSJ = #{dkrqysj,jdbcType=DATE},
      JKR = #{jkr,jdbcType=VARCHAR},
      JKRQYDB = #{jkrqydb,jdbcType=VARCHAR},
      JKRQYSJ = #{jkrqysj,jdbcType=DATE}
    where ZJ = #{zj,jdbcType=INTEGER}
  </update>
</mapper>