<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.JsxmdkdywxxMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Jsxmdkdywxx">
    <id column="DYWZJ" jdbcType="INTEGER" property="dywzj" />
    <result column="JSXMZJ" jdbcType="INTEGER" property="jsxmzj" />
    <result column="DYHTBH" jdbcType="DECIMAL" property="dyhtbh" />
    <result column="XMBH" jdbcType="DECIMAL" property="xmbh" />
    <result column="DYWLX" jdbcType="VARCHAR" property="dywlx" />
    <result column="DYWMC" jdbcType="VARCHAR" property="dywmc" />
    <result column="DYWQSZMBH" jdbcType="VARCHAR" property="dywqszmbh" />
    <result column="DYWCS" jdbcType="VARCHAR" property="dywcs" />
    <result column="DYQJLRQ" jdbcType="DATE" property="dyqjlrq" />
    <result column="DYQJCRQ" jdbcType="DATE" property="dyqjcrq" />
    <result column="DYWPGJZ" jdbcType="DECIMAL" property="dywpgjz" />
    <result column="YDYJZ" jdbcType="DECIMAL" property="ydyjz" />
    <result column="DYL" jdbcType="DECIMAL" property="dyl" />
  </resultMap>
  <sql id="Base_Column_List">
    DYWZJ, JSXMZJ, DYHTBH, XMBH, DYWLX, DYWMC, DYWQSZMBH, DYWCS, DYQJLRQ, DYQJCRQ, DYWPGJZ, 
    YDYJZ, DYL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jsxmdkdywxx
    where DYWZJ = #{dywzj,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jsxmdkdywxx
    where DYWZJ = #{dywzj,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aaa.entity.Jsxmdkdywxx">
    insert into jsxmdkdywxx (DYWZJ, JSXMZJ, DYHTBH, 
      XMBH, DYWLX, DYWMC, 
      DYWQSZMBH, DYWCS, DYQJLRQ, 
      DYQJCRQ, DYWPGJZ, YDYJZ, 
      DYL)
    values (#{dywzj,jdbcType=INTEGER}, #{jsxmzj,jdbcType=INTEGER}, #{dyhtbh,jdbcType=DECIMAL}, 
      #{xmbh,jdbcType=DECIMAL}, #{dywlx,jdbcType=VARCHAR}, #{dywmc,jdbcType=VARCHAR}, 
      #{dywqszmbh,jdbcType=VARCHAR}, #{dywcs,jdbcType=VARCHAR}, #{dyqjlrq,jdbcType=DATE}, 
      #{dyqjcrq,jdbcType=DATE}, #{dywpgjz,jdbcType=DECIMAL}, #{ydyjz,jdbcType=DECIMAL}, 
      #{dyl,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Jsxmdkdywxx">
    insert into jsxmdkdywxx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dywzj != null">
        DYWZJ,
      </if>
      <if test="jsxmzj != null">
        JSXMZJ,
      </if>
      <if test="dyhtbh != null">
        DYHTBH,
      </if>
      <if test="xmbh != null">
        XMBH,
      </if>
      <if test="dywlx != null">
        DYWLX,
      </if>
      <if test="dywmc != null">
        DYWMC,
      </if>
      <if test="dywqszmbh != null">
        DYWQSZMBH,
      </if>
      <if test="dywcs != null">
        DYWCS,
      </if>
      <if test="dyqjlrq != null">
        DYQJLRQ,
      </if>
      <if test="dyqjcrq != null">
        DYQJCRQ,
      </if>
      <if test="dywpgjz != null">
        DYWPGJZ,
      </if>
      <if test="ydyjz != null">
        YDYJZ,
      </if>
      <if test="dyl != null">
        DYL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dywzj != null">
        #{dywzj,jdbcType=INTEGER},
      </if>
      <if test="jsxmzj != null">
        #{jsxmzj,jdbcType=INTEGER},
      </if>
      <if test="dyhtbh != null">
        #{dyhtbh,jdbcType=DECIMAL},
      </if>
      <if test="xmbh != null">
        #{xmbh,jdbcType=DECIMAL},
      </if>
      <if test="dywlx != null">
        #{dywlx,jdbcType=VARCHAR},
      </if>
      <if test="dywmc != null">
        #{dywmc,jdbcType=VARCHAR},
      </if>
      <if test="dywqszmbh != null">
        #{dywqszmbh,jdbcType=VARCHAR},
      </if>
      <if test="dywcs != null">
        #{dywcs,jdbcType=VARCHAR},
      </if>
      <if test="dyqjlrq != null">
        #{dyqjlrq,jdbcType=DATE},
      </if>
      <if test="dyqjcrq != null">
        #{dyqjcrq,jdbcType=DATE},
      </if>
      <if test="dywpgjz != null">
        #{dywpgjz,jdbcType=DECIMAL},
      </if>
      <if test="ydyjz != null">
        #{ydyjz,jdbcType=DECIMAL},
      </if>
      <if test="dyl != null">
        #{dyl,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aaa.entity.Jsxmdkdywxx">
    update jsxmdkdywxx
    <set>
      <if test="jsxmzj != null">
        JSXMZJ = #{jsxmzj,jdbcType=INTEGER},
      </if>
      <if test="dyhtbh != null">
        DYHTBH = #{dyhtbh,jdbcType=DECIMAL},
      </if>
      <if test="xmbh != null">
        XMBH = #{xmbh,jdbcType=DECIMAL},
      </if>
      <if test="dywlx != null">
        DYWLX = #{dywlx,jdbcType=VARCHAR},
      </if>
      <if test="dywmc != null">
        DYWMC = #{dywmc,jdbcType=VARCHAR},
      </if>
      <if test="dywqszmbh != null">
        DYWQSZMBH = #{dywqszmbh,jdbcType=VARCHAR},
      </if>
      <if test="dywcs != null">
        DYWCS = #{dywcs,jdbcType=VARCHAR},
      </if>
      <if test="dyqjlrq != null">
        DYQJLRQ = #{dyqjlrq,jdbcType=DATE},
      </if>
      <if test="dyqjcrq != null">
        DYQJCRQ = #{dyqjcrq,jdbcType=DATE},
      </if>
      <if test="dywpgjz != null">
        DYWPGJZ = #{dywpgjz,jdbcType=DECIMAL},
      </if>
      <if test="ydyjz != null">
        YDYJZ = #{ydyjz,jdbcType=DECIMAL},
      </if>
      <if test="dyl != null">
        DYL = #{dyl,jdbcType=DECIMAL},
      </if>
    </set>
    where DYWZJ = #{dywzj,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aaa.entity.Jsxmdkdywxx">
    update jsxmdkdywxx
    set JSXMZJ = #{jsxmzj,jdbcType=INTEGER},
      DYHTBH = #{dyhtbh,jdbcType=DECIMAL},
      XMBH = #{xmbh,jdbcType=DECIMAL},
      DYWLX = #{dywlx,jdbcType=VARCHAR},
      DYWMC = #{dywmc,jdbcType=VARCHAR},
      DYWQSZMBH = #{dywqszmbh,jdbcType=VARCHAR},
      DYWCS = #{dywcs,jdbcType=VARCHAR},
      DYQJLRQ = #{dyqjlrq,jdbcType=DATE},
      DYQJCRQ = #{dyqjcrq,jdbcType=DATE},
      DYWPGJZ = #{dywpgjz,jdbcType=DECIMAL},
      YDYJZ = #{ydyjz,jdbcType=DECIMAL},
      DYL = #{dyl,jdbcType=DECIMAL}
    where DYWZJ = #{dywzj,jdbcType=INTEGER}
  </update>
</mapper>