<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.sy_dk_kfszhMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.sy_dk_kfszh">
    <result column="ZHBH" jdbcType="VARCHAR" property="zhbh" />
    <result column="KFSBH" jdbcType="VARCHAR" property="kfsbh" />
    <result column="SKYHDM" jdbcType="VARCHAR" property="skyhdm" />
    <result column="SKYHMC" jdbcType="VARCHAR" property="skyhmc" />
    <result column="SKYHZH" jdbcType="VARCHAR" property="skyhzh" />
    <result column="SKYHHM" jdbcType="VARCHAR" property="skyhhm" />
    <result column="TZZD1" jdbcType="VARCHAR" property="tzzd1" />
    <result column="TZZD2" jdbcType="VARCHAR" property="tzzd2" />
    <result column="TZZD3" jdbcType="VARCHAR" property="tzzd3" />
    <result column="CJR" jdbcType="VARCHAR" property="cjr" />
    <result column="CJSJ" jdbcType="DATE" property="cjsj" />
  </resultMap>
  <insert id="insert" parameterType="com.aaa.entity.sy_dk_kfszh">
    insert into sy_dk_kfszh (ZHBH, KFSBH, SKYHDM, 
      SKYHMC, SKYHZH, SKYHHM, 
      TZZD1, TZZD2, TZZD3, 
      CJR, CJSJ)
    values (#{zhbh,jdbcType=VARCHAR}, #{kfsbh,jdbcType=VARCHAR}, #{skyhdm,jdbcType=VARCHAR}, 
      #{skyhmc,jdbcType=VARCHAR}, #{skyhzh,jdbcType=VARCHAR}, #{skyhhm,jdbcType=VARCHAR}, 
      #{tzzd1,jdbcType=VARCHAR}, #{tzzd2,jdbcType=VARCHAR}, #{tzzd3,jdbcType=VARCHAR}, 
      #{cjr,jdbcType=VARCHAR}, #{cjsj,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.sy_dk_kfszh">
    insert into sy_dk_kfszh
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zhbh != null">
        ZHBH,
      </if>
      <if test="kfsbh != null">
        KFSBH,
      </if>
      <if test="skyhdm != null">
        SKYHDM,
      </if>
      <if test="skyhmc != null">
        SKYHMC,
      </if>
      <if test="skyhzh != null">
        SKYHZH,
      </if>
      <if test="skyhhm != null">
        SKYHHM,
      </if>
      <if test="tzzd1 != null">
        TZZD1,
      </if>
      <if test="tzzd2 != null">
        TZZD2,
      </if>
      <if test="tzzd3 != null">
        TZZD3,
      </if>
      <if test="cjr != null">
        CJR,
      </if>
      <if test="cjsj != null">
        CJSJ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zhbh != null">
        #{zhbh,jdbcType=VARCHAR},
      </if>
      <if test="kfsbh != null">
        #{kfsbh,jdbcType=VARCHAR},
      </if>
      <if test="skyhdm != null">
        #{skyhdm,jdbcType=VARCHAR},
      </if>
      <if test="skyhmc != null">
        #{skyhmc,jdbcType=VARCHAR},
      </if>
      <if test="skyhzh != null">
        #{skyhzh,jdbcType=VARCHAR},
      </if>
      <if test="skyhhm != null">
        #{skyhhm,jdbcType=VARCHAR},
      </if>
      <if test="tzzd1 != null">
        #{tzzd1,jdbcType=VARCHAR},
      </if>
      <if test="tzzd2 != null">
        #{tzzd2,jdbcType=VARCHAR},
      </if>
      <if test="tzzd3 != null">
        #{tzzd3,jdbcType=VARCHAR},
      </if>
      <if test="cjr != null">
        #{cjr,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null">
        #{cjsj,jdbcType=DATE},
      </if>
    </trim>
  </insert>
</mapper>